{% extends 'layouts/default.html.twig' %}

{% set user = app.user %}

{% block title user.username %}
{% block meta_title user.username %}

{% block breadcrumb -%}
    {% do menu.addItem('Mon compte', url('app_user_edit')) %}
{%- endblock %}

{% block body -%}
    <ul class="nav nav-pills nav-fill mb-1 justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#profile" aria-controls="profile">
                <twig:Icon name="lucide:user" />
                <span class="d-none d-sm-block d-md-inline-block">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#socials" aria-controls="socials">
                <twig:Icon name="fa7-brands:facebook-f" />
                <span class="d-none d-sm-block d-md-inline-block">Réseaux sociaux</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#password" aria-controls="password">
                <twig:Icon name="lucide:key" />
                <span class="d-none d-sm-block d-md-inline-block">Mot de passe</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#delete" aria-controls="delete">
                <twig:Icon name="lucide:trash-2" />
                <span class="d-none d-sm-block d-md-inline-block">Supprimer le compte</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="profile" role="tabpanel">
            {{ form_start(form, {action: path('app_user_edit'), attr: {enctype: 'multipart/form-data'}}) }}
            <div class="card">
                <h2 class="card-header">Profil</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.email) }}
                            {% if not app.user.verified %}
                                <button type="button" data-href="{{ path('app_send_verification_email') }}" class="btn btn-sm btn-primary email-verify">
                                    Vérifier l'email
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.lastname) }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.imageFile, {row_attr: {class: 'form-group mb-0'}}) }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.website) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.showSocials) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center mt-2 py-3">
                    <input type="submit" class="btn btn-primary" value="Modifier mes informations" />
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        <div class="tab-pane fade" id="socials" role="tabpanel">
            <div class="card">
                <h2 class="card-header">Réseaux sociaux</h2>
                <div class="card-body">
                    {% for service in ['facebook', 'google', 'twitter'] %}
                        {{ include('social/social.html.twig', {oAuth: app.user.oAuth, service: service}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="password" role="tabpanel">
            {{ form_start(formChangePassword) }}
            <div class="card">
                <h2 class="card-header">Mot de passe</h2>
                <div class="card-body">
                    {{ form_row(formChangePassword.currentPassword) }}
                    {{ form_row(formChangePassword.plainPassword.first) }}
                    {{ form_row(formChangePassword.plainPassword.second) }}
                </div>
                <div class="card-footer text-center mt-2 py-3">
                    <input type="submit" class="btn btn-lh btn-primary" value="{{ 'Mettre à jour le mot de passe' }}" />
                </div>
            </div>
            {{ form_rest(formChangePassword) }}
            {{ form_end(formChangePassword) }}
        </div>
        <div class="tab-pane fade" id="delete" role="tabpanel">
            <div class="card">
                <h2 class="card-header">Supprimer le compte</h2>
                <div class="card-body">
                    <p>Supprimer les informations relatives à mon compte</p>
                </div>
                <div class="card-footer text-center mt-2 py-3">
                    <button id="btnDelete" type="button" data-bs-toggle="modal" data-target="#deleteModal" class="btn btn-danger">
                        Supprimer mon compte
                    </button>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{% block css -%}
    {{ encore_entry_link_tags('profile') }}
{%- endblock %}

{% block js -%}
    {{ encore_entry_script_tags('profile') }}
{%- endblock %}

{% block modals %}
    {{ include('profile/_modal-delete.html.twig') }}
{% endblock %}
