{% extends "layouts/default.html.twig" %}

{% set user = app.user %}

{% block titre user.username %}
{% block title user.username %}

{% block breadcrumb -%}
    {% do menu.addItem("Mon compte", url('app_user_edit')) %}
{%- endblock %}

{% block body -%}
    <ul class="nav nav-pills nav-fill mb-1 justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#profil" aria-controls="profil">
                <i class="fa fa-user"></i>
                <span class="d-none d-sm-block d-md-inline-block">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#socials" aria-controls="socials">
                <i class="fa fa-facebook"></i>
                <span class="d-none d-sm-block d-md-inline-block">Réseaux sociaux</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#password" aria-controls="password">
                <i class="fa fa-key"></i>
                <span class="d-none d-sm-block d-md-inline-block">Mot de passe</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#supprimer" aria-controls="supprimer">
                <i class="fa fa-trash"></i>
                <span class="d-none d-sm-block d-md-inline-block">Supprimer le compte</span>
            </a>
        </li>
    </ul>

    <div class="card">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="profil" role="tabpanel">
                <h2 class="card-header">Profil</h2>
                <div class="card-body">
                    {{ form_start(form, { 'action': path('app_user_edit'), 'attr': { 'enctype': 'multipart/form-data'} }) }}

                    <div class="form-row">
                        <div class="col-md-6">
                            {{ form_row(form.imageFile) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.email) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.lastname) }}
                        </div>
                    </div>
                    {{ form_row(form.description) }}

                    <div class="form-row align-items-baseline">
                        <div class="col-md-6">
                            {{ form_row(form.website) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.showSocials) }}
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <input type="submit" class="btn btn-primary btn-raised" value="Modifier mes informations" />
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="tab-pane fade" id="socials" role="tabpanel">
                <h2 class="card-header">Réseaux sociaux</h2>
                <div class="card-body">
                    {% for service in ['facebook', 'google', 'twitter'] %}
                        <div class="bloc_config">
                            {% include "Social/social.html.twig" with { 'oAuth': app.user.oAuth, 'service': service } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="password" role="tabpanel">
                <h2 class="card-header">Mot de passe</h2>
                <div class="card-body">
                    {{ form_start(formChangePassword) }}

                    {{ form_row(formChangePassword.currentPassword) }}
                    {{ form_row(formChangePassword.plainPassword.first) }}
                    {{ form_row(formChangePassword.plainPassword.second) }}
                    <div class="text-center mt-3">
                        <input type="submit" class="btn btn-primary btn-raised" value="{{ 'Mettre à jour le mot de passe' }}" />
                    </div>

                    {{ form_rest(formChangePassword) }}
                    {{ form_end(formChangePassword) }}
                </div>
            </div>
            <div class="tab-pane fade" id="supprimer" role="tabpanel">
                <h2 class="card-header">Supprimer le compte</h2>
                <div class="card-body">
                    <p>Supprimer les informations relatives à mon compte</p>
                    <div class="text-center mt-3">
                        <button id="btnDelete" type="button" data-bs-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-raised">
                            Supprimer mon compte
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{% block css -%}
    {{ encore_entry_link_tags('profile') }}
{%- endblock %}

{% block js -%}
    {{ encore_entry_script_tags('profile') }}
{%- endblock %}

{% block modals %}
    {% include "profile/_modal_delete.html.twig" %}
{% endblock %}
