{% block date_widget -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' 222form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock date_widget %}

{% block recaptcha_widget %}
    <div {{ block('widget_attributes') }}></div>
{% endblock %}

{% block vich_image_widget %}
    {% if download_uri is defined and download_uri %}
        <a href="{{ download_uri }}">
            {% if image_filter is not null %}
                <img class="img-fluid display_inline_block margin_right_15" src="{{ download_uri|imagine_filter(image_filter) }}" alt="" />
            {% endif %}
        </a>
    {% endif %}

    {{ form_widget(form.file) }}
    {% if form.delete is defined %}
        <div class="checkbox p-0 m-0 float-right">
            {{ form_errors(form.delete) }}
            {{ form_label(form.delete) }}
            <label style="padding-left: 5px;">{{ form_widget(form.delete) }}</label>
        </div>

    {% endif %}

    {% if show_download_link and download_uri is defined and download_uri%}
        <a class="float-left" href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
    {% endif %}
{% endblock %}


{# Images #}
{% block file_widget %}
    <div class="form-group m-0">
        {{ block('form_widget') }}
        <input type="text" readonly class="form-control" placeholder="Nouvelle image..." />
    </div>
{% endblock %}
