{% extends "form_div_layout.html.twig" %}

{% block recaptcha_widget %}
{% spaceless %}
    <div {{ block('widget_attributes') }}></div>
{% endspaceless %}
{% endblock %}

{% block vich_image_widget %}
{% spaceless %}
    {% if download_uri is defined and download_uri %}
        <a href="{{ download_uri }}">
        {% if image_filter is not null %}
        <img class="img-responsive display_inline_block margin_right_15" src="{{ download_uri|imagine_filter(image_filter) }}" alt="" />
        {% endif %}
        </a>
    {% endif %}

    {{ form_widget(form.file) }}
    {% if form.delete is defined %}
        <div class="checkbox no-padding no-margin pull-right">
            {{ form_errors(form.delete) }}
            {{ form_label(form.delete) }}
            <label style="padding-left: 5px;">{{ form_widget(form.delete) }}</label>
        </div>

    {% endif %}

    {% if show_download_link and download_uri is defined and download_uri%}
        <a class="pull-left" href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
    {% endif %}
{% endspaceless %}
{% endblock %}


{# Images #}
{% block file_widget %}{%- spaceless -%}
    <div class="form-group no_margin">
    {{ block('form_widget') }}
    <input type="text" readonly class="form-control" placeholder="Nouvelle image..." />
    </div>
{%- endspaceless -%}{% endblock %}

{% block form_row %}{% spaceless %}
    {% if group_class|default(null) %}        
        <!-- Widget {{ id }} -->
        <div class="{{- group_class -}}">
    {% endif %}
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {% if group_class|default(null) %}
        </div>
        <!-- ./Widget {{ id }} -->
    {% endif %}
{% endspaceless %}{% endblock form_row %}

{# Textarea #}
{% block textarea_widget -%}{%- spaceless -%}
    {% set attr = attr|merge({'class' : (attr.class|default('') ~ ' ' ~ base_class|default('') ~ ' ' ~ widget_class|default(''))|trim }) %}
    {{- parent() -}}
{%- endspaceless -%}{%- endblock textarea_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% if type != 'file' and type != 'hidden' %}
        {% set attr = attr|merge({'class' : (attr.class|default('') ~ ' ' ~ base_class|default('') ~ ' ' ~ widget_class|default(''))|trim }) %}
    {% endif %}
    
    {{- parent() -}}
{% endspaceless %}
{% endblock form_widget_simple %}
    
{% block button_row %}
{% spaceless %}
    <span>
        {{ form_widget(form) }}
    </span>
{% endspaceless %}
{% endblock button_row %}

{% block form_errors %}
{% spaceless %}
    {% for error in errors %}
        <div class="alert alert-danger">
            <i class="fa fa-warning" ></i> {{ error.message |raw }}
        </div>
    {% endfor %}
{% endspaceless %}
{% endblock form_errors %}

{# Gestion des collections #}
{% block collection_widget %}{%- spaceless -%}        
    {% set attr = attr|merge({'class' : (attr.class|default('') ~ ' ' ~ base_class|default('') ~ ' ' ~ widget_class|default(''))|trim }) %}
    {{ parent() }}
{%- endspaceless -%}{% endblock collection_widget %}
