{% use 'form_div_layout.html.twig' with checkbox_widget as base_checkbox_widget %}
{% use "bootstrap_5_layout.html.twig" %}

{% block recaptcha_widget %}
    <div {{ block('widget_attributes') }}></div>
{% endblock %}

{% block vich_image_widget %}
    {% if download_uri is defined and download_uri %}
        <a class="image-gallery" href="{{ download_uri }}">
            {% if image_thumb_uri is not null %}
                <img class="img-fluid blur-up lazyload"
                     {% if image_thumb_params.w is defined %}width="{{ image_thumb_params.w }}"{% endif %}
                     {% if image_thumb_params.h is defined %}height="{{ image_thumb_params.h }}"{% endif %}
                     src="{{ image_thumb_uri }}"
                     srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-srcset="{{ image_thumb_uri_retina }} 2x"
                     alt="" />
            {% endif %}
        </a>
    {% endif %}

    {{ form_widget(form.file) }}

    {% if form.delete is defined %}
        <div class="delete-image">
            {{ form_row(form.delete) }}
        </div>
    {% endif %}
{% endblock %}

{# Images #}
{% block file_widget %}
    <div class="custom-file">
        {{ block('form_widget') }}
        <label class="custom-file-label" for="{{ form.vars.id }}">
            <i class="fa fa-upload"></i>
            Nouvelle image...
        </label>
    </div>
{% endblock %}

{%- block hidden_date_row -%}
    {{ form_widget(form) }}
{%- endblock hidden_date_row -%}

{# Adds "add" buttons #}
{% block app_collection_widget -%}
    {% if disabled %}
        {{ form_widget(form, {'attr': {'class': 'form-collection'}}) }}
    {% else %}
        <div class="collection-wrapper">
            {{ form_widget(form, {'attr': {'class': 'form-collection'}}) }}

            <button type="button" class="add-collection btn btn-outline-secondary">
                <i class="fa fa-plus"></i>
                {{ add_entry_label|default('Ajouter une ligne') }}
            </button>
        </div>
    {% endif %}
{%- endblock %}

{%- block app_collection_entry_main_text_row -%}
    {{ form_row(form, {'row_attr': {'class': 'collection-group'}}) }}
{%- endblock -%}

{%- block app_collection_entry_main_text_widget -%}
    {% if disabled %}
        {{- block('form_widget') -}}
    {% else %}
        <div class="collection-item {{ group_class|default('mb-3') }}">
            {{- block('form_widget') -}}
            <button class="btn btn-outline-danger btn-sm remove-collection"
                    type="button"
                    data-group=".collection-group">
                <i class="fa fa-times"></i>
            </button>
        </div>
    {% endif %}
{%- endblock -%}
