{% use 'form_div_layout.html.twig' with checkbox_widget as base_checkbox_widget %}
{% use "bootstrap_5_layout.html.twig" %}
{% use "bootstrap_5_layout.html.twig" with form_label as inline_form_label %}


{% block recaptcha_widget %}
    <div {{ block('widget_attributes') }}></div>
{% endblock %}

{% block vich_image_widget %}
    {% if download_uri is defined and download_uri %}
        <a class="image-gallery" href="{{ download_uri }}">
            {% if download_uri %}
                {{ image(image_thumb_params) }}
            {% endif %}
        </a>
    {% endif %}

    {{ form_widget(form.file) }}

    {% if form.delete is defined %}
        <div class="delete-image">
            {{ form_row(form.delete) }}
        </div>
    {% endif %}
{% endblock %}

{# Images #}
{% block file_widget %}
    <div class="custom-file mt-2">
        {{ block('form_widget') }}
    </div>
{% endblock %}

{%- block hidden_date_row -%}
    {{ form_widget(form) }}
{%- endblock hidden_date_row -%}

{% block app_collection_entry_form_row %}
    {{ form_row(child, attr|merge({label: false})) }}
{% endblock %}

{# Special block in order to let child redefine whole block #}
{% block app_collection_entry_widget_row %}
    <div{% with {'attr': collection_item_attr|merge({'class': (collection_item_attr.class|default('') ~ ' collection-item')|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class="collection-item-wrapper">
            <div class="collection-item-header"
                 data-toggle="collapse"
                 data-target="#collapse-{{ child.vars.id }}">
                {% with child.vars %}{{ block('inline_form_label') }}{% endwith %}
                {% if not disabled and allow_delete %}
                    {% import 'form/macros.html.twig' as macros %}
                    <button class="btn btn-sm rounded btn-outline-danger remove-collection" data-item=".collection-item" type="button" data-confirm-message="Supprimer la ligne ?">
                        {{ macros.icon('times') }}
                    </button>
                {% endif %}
            </div>
            <div id="collapse-{{ child.vars.id }}" class="collection-item-body collapse show">
                {% with child.vars %}
                    {{- block('app_collection_entry_form_row') -}}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}

{%- block app_collection_row -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' collection')|trim}) -%}
    {{ form_row(form, {'attr': attr}) }}
{%- endblock -%}

{% block app_collection_widget %}
    <div class="collection-wrapper">
        {% if prototype is defined and not prototype.rendered %}
            {% set child = prototype %}
            {% set attr = attr|merge({
                'data-prototype': block('app_collection_entry_widget_row'),
                'data-prototype-name': prototype.vars.name,
                'class': attr.class|default(''),
            }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {%- if form is rootform -%}
                {{ form_errors(form) }}
            {%- endif -%}
            {% for child in form|filter(child => not child.rendered) %}
                {% with child.vars %}
                    {{- block('app_collection_entry_widget_row') -}}
                {% endwith %}
            {% endfor %}
            {{- form_rest(form) -}}
        </div>
        {% if not disabled and allow_add %}
            {% import 'form/macros.html.twig' as macros %}
            <button type="button" class="add-collection btn btn-icon btn-light mt-2">
                <span>{{ macros.icon('plus') }}</span>
                {{ add_entry_label|default('Ajouter une ligne') }}
            </button>
        {% endif %}
    </div>
{% endblock %}

{%- block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {%- set row_class = row_class|default(row_attr.class|default('form-group')|trim) -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: row_class})} %}{{ block('attributes') }}{% endwith %}>
    {%- if 'form-floating' in row_class -%}
        {{- form_widget(form, widget_attr) -}}
        {{- form_label(form) -}}
    {%- else -%}
        {{- form_label(form) -}}
        {% if icon_prepend or icon_append %}
            {% embed 'components/input-icon.html.twig' with({
                iconPrepend: icon_prepend,
                iconAppend: icon_append
            }) %}
                {% block body %}{{- form_widget(form, widget_attr) -}}{% endblock %}
            {% endembed %}
        {% else %}
            {{- form_widget(form, widget_attr) -}}
        {% endif %}
    {%- endif -%}
    {{- form_help(form) -}}
    {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}
