{% extends "TBNAgendaBundle::layout-fluid.html.twig" %}

{% block breadcrumb_agenda %}
    {% set item = menu.addItem('Agenda', path('tbn_agenda_agenda')) %}
    {% if placeName is not null %}
        {% set item = menu.addItem(placeName|capitalize, path('tbn_agenda_place', {'slug' : placeSlug})) %}
    {% elseif tag is not null %}
        {% set item = menu.addItem(tag|capitalize, path('tbn_agenda_tags', {'tag' : tag})) %}
    {% elseif type is not null %}
        {% set item = menu.addItem(type|capitalize, path('tbn_agenda_sortir', {'type' : type})) %}
    {% endif %}
    {% if page > 1 %}
        {% set item = menu.addItem("Page " ~ page, path('tbn_agenda_pagination', {'page': page})) %}
    {% endif %}
{% endblock %}


{% block titre_agenda %}
    {% if villeName is not null %}Sortir à {{ villeName|capitalize }}
    {% elseif placeName is not null %}Sortir à {{ placeName|capitalize }}
    {% elseif tag is not null %}{{ tag|capitalize }}
    {% elseif type == 'exposition' %}Expositions
    {% elseif type == 'concert' %}Concerts
    {% elseif type == 'famille' %}Sorties familles
    {% elseif type == 'spectacle' %}Spectacles
    {% elseif type == 'etudiant' %}Soirées étudiantes
    {% else %}Agenda des <strong>événements</strong> {% endif %}
    {% if placeName is null and villeName is null %}à <strong>{{ site.nom }}</strong>{% endif %}
{% endblock %}

{% block helper -%}
    {% include "TBNAgendaBundle:Agenda:block_criteres.html.twig" %}
{%- endblock %}

{% block body_agenda -%}
    {% if soirees|length == 0 %}
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            Aucun événement trouvé
        </div>
    {% else %}
        <h3 class="info"><span class="label label-info">{{ nbEvents }} événément{{ nbEvents > 1 ? 's' : '' }}</span>
        </h3>
        <div class="panel panel-primary">
            <div class="panel-body">
                {% block soirees -%}{%- endblock %}
            </div>
        </div>
    {% endif %}
{%- endblock %}

{% block widgets_agenda %}{% include "TBNAgendaBundle:MenuDroit:accueil.html.twig" %}{% endblock %}

{% block css_agenda %}
    <link rel="stylesheet" href="{{ asset('prod/evenements/css/agenda.min.css') }}" type="text/css">
{% endblock %}

{% block js_agenda %}
    <script src="{{ asset('prod/evenements/js/agenda.min.js') }}" type="text/javascript"></script>
{% endblock %}
