{% extends "TBNAgendaBundle::layout-fluid.html.twig" %}

{% block breadcrumb_agenda %}
    {% set item = menu.addItem('Agenda', path('tbn_agenda_agenda')) %}
    {% if placeName is not null %}
        {% set item = menu.addItem(placeName|capitalize, path('tbn_agenda_place', {'slug' : placeSlug})) %}
    {% elseif tag is not null %}
        {% set item = menu.addItem(tag|capitalize, path('tbn_agenda_tags', {'tag' : tag})) %}
    {% elseif type is not null %}
        {% set item = menu.addItem(type|capitalize, path('tbn_agenda_sortir', {'type' : type})) %}
    {% endif %}
    {% if page > 1 %}
        {% set item = menu.addItem("Page " ~ page, path('tbn_agenda_pagination', {'page': page})) %}
    {% endif %}
{% endblock %}


{% block titre_agenda %}
    {% if villeName is not null %}Sortir à {{ villeName|capitalize }}
    {% elseif placeName is not null %}Sortir à {{ placeName|capitalize }}
    {% elseif tag is not null %}{{ tag|capitalize }}
    {% elseif type == 'exposition' %}Expositions
    {% elseif type == 'concert' %}Concerts
    {% elseif type == 'famille' %}Sorties familles
    {% elseif type == 'spectacle' %}Spectacles
    {% elseif type == 'etudiant' %}Soirées étudiantes
    {% else %}Agenda des <strong>événements</strong> {% endif %}
    {% if placeName is null and villeName is null %}à <strong>{{ site.nom }}</strong>{% endif %}
{% endblock %}

{% block helper -%}
    {% include "TBNAgendaBundle:Agenda:block_criteres.html.twig" %}
{%- endblock %}

{% block body_agenda -%}
    {% if soirees|length == 0 %}
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            Aucun événement trouvé
        </div>
    {% else %}
        <h3 class="info"><span class="label label-info">{{ nbEvents }} événément{{ nbEvents > 1 ? 's' : '' }}</span>
        </h3>
        <div class="panel panel-primary">
            <div class="panel-body">
                {% block soirees -%}{%- endblock %}
            </div>
        </div>
    {% endif %}
{%- endblock %}

{% block widgets_agenda %}{% include "TBNAgendaBundle:MenuDroit:accueil.html.twig" %}{% endblock %}

{% block css_agenda %}
    <link rel="stylesheet" href="{{ asset('prod/evenements/css/agenda.min.css') }}" type="text/css">
    <style>
        #widgets .widget .scrollable {
            overflow: hidden;
        }
        .tweet-list, .timeline-Tweet-actions {
            list-style: none;
            padding: 0;
        }

        .timeline-TweetList-tweet {
            border-top: 1px solid rgba(15,70,100,.12);
        }

        .Avatar {
            max-width: 100%;
            max-height: 100%;
        }

        .timeline-Tweet {
            padding: 10px;
            margin-right: 10px;
        }

        .timeline-Tweet-retweetCredit {
            margin-bottom: 8px;
            margin-left: 18px;
            font-size: 80%;
            color: #889ba6
        }

        .timeline-Tweet-retweetCreditIcon {
            position: relative;
            top: 1px;
            display: inline-block;
            margin-right: 4px;
                /*font-size: 80%;*/
        }

        .timeline-Tweet-author {
            position: relative;
            margin-bottom: 2px;
            padding-left: 40px
        }

        .timeline-Tweet-inReplyTo {
            padding-left: 40px;
            /*font-size: 80%;*/
            font-weight: 300;
            color: #8899A6
        }

        .timeline-Tweet-text {
            margin-left: 40px;
            margin-bottom: 12px;
            /*font-size: 80%;*/
            line-height: 18px;
            font-weight: 400;
            /*white-space: pre-wrap;*/
            word-wrap: break-word
        }

        .timeline-Tweet-text[dir=ltr] {
            text-align: left;
            direction: ltr
        }

        .timeline-Tweet-text[dir=rtl] {
            text-align: right;
            direction: rtl
        }

        .timeline-Tweet-metadata {
            float: right;
            margin-top: 2px
        }

        .timeline-Tweet-timestamp {
            /*font-size: 80%;*/
            line-height: 18px;
        }

        .timeline-Tweet-actions {
            margin-left: 40px
        }

        .timeline-Tweet-action {
            display: inline-block;
            /*font-size: 120%;*/
        }

        .timeline-Tweet-action+.timeline-Tweet-action {
            margin-left: 20px
        }

        .timeline-Tweet--isRetweet {
            padding-top: 7px
        }

        .timeline-Tweet:hover {
            background-color: rgba(160,200,220,.12);
        }

        .timeline-Tweet-timestamp, .timeline-Tweet-action a {
            color: #e1e8ed;
        }

        .timeline-Tweet:hover .timeline-Tweet-timestamp, .timeline-Tweet:hover .timeline-Tweet-action a {
            color: #667580
        }

        .TweetAction:active,.TweetAction:focus,.TweetAction:hover {
            text-decoration: none
        }

        .TweetAction--heart:active .Icon,.TweetAction--heart:focus .Icon,.TweetAction--heart:hover .Icon {
            color: #ff5454;
        }

        .TweetAction--share:active .Icon,.TweetAction--share:focus .Icon,.TweetAction--share:hover .Icon {
            color: #36a9e1;
        }
        .TweetAction--reply:active .Icon,.TweetAction--reply:focus .Icon,.TweetAction--reply:hover .Icon {
            color: #bdea74;
        }

        .TweetAuthor {
            max-width: 100%;
            overflow: hidden!important;
            text-overflow: ellipsis!important;
            white-space: nowrap!important;
            word-wrap: normal!important
        }

        .TweetAuthor-avatar {
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;
            overflow: hidden;
            border-radius: 4px
        }

        .TweetAuthor-name {
            /*font-size: 80%;*/
            line-height: 18px;
            font-weight: 700
        }

        .TweetAuthor-screenName {
            /*font-size: 80%;*/
            line-height: 18px;
            font-weight: 300;
            color: #8899A6;
        }

        .SandboxRoot.env-bp-min .TweetAuthor-avatar {
            position: static;
            top: auto;
            left: auto;
            float: left;
            margin-right: 8px
        }
    </style>
{% endblock %}

{% block js_agenda %}
    <script src="{{ asset('prod/evenements/js/agenda.min.js') }}" type="text/javascript"></script>
    <script>
        var twitter = {

            $list: $('#tweet-list'),

            init: function() {
                twttr.ready(function(twttr) {
                    twitter.retweet();
                    twitter.favorite();
                    twitter.openStatus();
                });
            },

            retweet: function() {
                // add a class to the status li when a visitor successfully retweets a tweet
                twttr.events.bind('retweet', function(e) {
                    var retweeted_tweet_id = e.data.source_tweet_id,
                    $thisTweet = twitter.$list.find('#tweetid-' + retweeted_tweet_id);

                    $thisTweet.addClass('visitor-retweeted');
                });
            },

            favorite: function() {
                // add a class to the status li when a visitor successfully favorites a tweet
                twttr.events.bind('favorite', function(e) {
                    var favorited_tweet_id = e.data.tweet_id,
                    $thisTweet = twitter.$list.find('#tweetid-' + favorited_tweet_id);

                    $thisTweet.addClass('visitor-favorited');
                });
            },

            openStatus: function() {
                // open status permalinks in a popup window
                $('.permalink-status').on('click', function(e) {
                    var height = 450,
                    width = 660,
                    top = (screen.height / 2) - (height / 2),
                    left = (screen.width / 2) - (width / 2);

                    e.preventDefault();

                    window.open(
                            this.href,
                            'tweetStatus',
                            'height=' + height + ', width=' + width + ', toolbar=0, status=0, top=' + top + ', left=' + left
                    );
                });
            }

        };

        //---------------------------- Document Ready

        $(document).ready(function() {
            twitter.init();
        });
    </script>
{% endblock %}
