{% for i, soiree in events %}
<div itemscope itemtype="http://schema.org/Event">
    <div class="row event">
        <div class="col-xs-3 image_soiree">
            {% if soiree.webPath %}
                {% set original =  absolute_url(asset('/' ~ soiree.webPath)) %}
                {% set thumb = soiree.webPath|imagine_filter('thumbs_evenement') %}
            {% elseif soiree.url %}
                {% set original = soiree.url %}
                {% set thumb = original %}
            {% else %}
                {% set original = absolute_url(asset('/img/empty_event.png')) %}
                {% set thumb = 'img/empty_event.png'|imagine_filter('thumbs_evenement') %}
            {% endif %}
            <meta itemprop="image" content="{{ original }}" />
            <div class="image-container">
                {% if soiree.fbParticipations %}
                <span class="label label-warning"><i class="fa fa-facebook"></i> <span class="number">{{ soiree.fbParticipations }}</span></span>
                {% endif %}
                <a class="image-gallery" href="{{ original }}" title="{{ soiree.nom }}" >
                    <img class="img img-responsive loading" width="200" height="200" src="{{ asset('img/loading_event.gif') }}" data-src="{{ thumb }}" alt="{{ soiree.nom }}" />      
                </a>
            </div>
        </div>
        <div class="col-xs-9 description_evenement" >
            {% if soiree.modificationDerniereMinute %}
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i>
                    <span itemprop="eventStatus"> {{ soiree.modificationDerniereMinute }}</span>
                </div>
            {% endif %}
            <h3 class="modal-title nom_soiree">
                <a title="Tous les détails de {{ soiree.nom }} " href="{{ path('tbn_agenda_details', {'slug': soiree.slug})}}" itemprop="url" >
                    <span itemprop="name">{{ soiree.nom }}</span>
                </a>
            </h3>
            <div class="trait">
                {% set dateDebut = soiree.dateDebut|date('d/m/Y') %}
                {% set dateFin = soiree.dateFin|date('d/m/Y') %}
                <i class="fa fa-calendar pull-left"></i>
                <span>
                    {% if soiree.dateFin == null or ( soiree.dateFin != null and soiree.dateDebut == soiree.dateFin) %}                        
                        Le <time class="number text-primary" itemprop="startDate" datetime="{{ soiree.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ dateDebut }}</time>
                    {% else %}
                        Du <time class="number text-primary" itemprop="startDate" datetime="{{ soiree.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ dateDebut }}</time>
                        au <time class="number text-primary" itemprop="endDate" datetime="{{ soiree.dateFin|date('Y-m-d\\TH:i:sO') }}">{{ dateFin }}</time>
                    {% endif %}
                    {% if soiree.horaires != "" %}
                        - {{ soiree.horaires }}
                    {% endif %}
                </span>
            </div>                        
            <div class="trait hidden-xs hidden-sm">
                <i class="fa fa-quote-left pull-left"></i>
                <div itemprop="description" class="description">
                    {{ soiree.descriptif|striptags|replace({'&#13;' : ' '})|truncate(300, true, '...')|raw }}
                </div>
            </div>
            {% set place = soiree.place %}
            {% if place and place.nom %}
                <div class="trait" itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <i class="fa fa-map-marker pull-left"></i>
                    <a itemprop="name" href="{{ path('tbn_agenda_place', {'slug': place.slug }) }}" title="Sortir à {{ place.nom }}">{{ place.nom }}</a>
                    {% if place.latitude and place.longitude %}
                        <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                            <meta itemprop="latitude" content="{{ place.latitude }}" />
                            <meta itemprop="longitude" content="{{ place.longitude }}" />
                        </span>
                    {% endif %}
                    {% if place.ville %}
                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">, 
                            <span itemprop="addressLocality">{{ place.ville }}</span>
                            {% if place.codePostal %}
                                <meta itemprop="addressRegion" content="{{ place.codePostal }}" />
                                <meta itemprop="addressCountry" content="FR" />
                                <meta itemprop="streetAddress" content="{{ place.rue }}" />
                            {% endif %}
                        </span>
                    {% endif %}                
                </div>
            {% endif %}
            {% set distinctTags = soiree.distinctTags %}
            {% if distinctTags|length %}
                <div class="trait" >                        
                    <i class="fa fa-tag pull-left"></i> 
                    {% for tag in distinctTags %}
                    <a class="label label-info" title="{{ tag }} à {{ site.nom }}" href="{{ path('tbn_agenda_tags', {'tag' : tag|trim}) }}">
                        <strong>{{ tag }}</strong>
                    </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if soiree.tarif %}   
                <div class="trait" itemprop="offers" itemscope itemtype="http://schema.org/Offer">                        
                    <i class="fa fa-ticket pull-left"></i> 
                    <span itemprop="price">{{ soiree.tarif }}</span>
                    <meta itemprop="priceCurrency" content="EUR" />
                </div>
            {% endif %}
            {% if soiree.user %}   
                <div class="trait">
                    <i class="fa fa-user pull-left"></i>
                    Par 
                    <a class="display_inline" href="{{ path('tbn_user_details', {'username': soiree.user.username} ) }}" title="Accédez au profil de {{ soiree.user.username }}">
                        {{ soiree.user.username }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% if (i + 1) < events|length %}
    <hr />
{% endif %}
{% endfor %}