{% extends "TBNAgendaBundle::layout-fluid.html.twig" %}

{% set nomSoiree = soiree.nom %}
{% if soiree.modificationDerniereMinute %}
    {% set nomSoiree = '[' ~ soiree.modificationDerniereMinute ~ '] ' ~ soiree.nom %}
{% endif %}
{% set descriptionSoiree =  soiree.descriptif|parse_tags|raw  %}
{% if soiree.webPath %}
    {% set original = app.request.getUriForPath('/' ~ soiree.webPath) %}
    {% set thumb = soiree.webPath|imagine_filter('thumbs_evenement') %}
{% elseif soiree.url %}
    {% set original = soiree.url %}
    {% set thumb = original %}
{% else %}
    {% set original = app.request.getUriForPath('/img/empty_event.png') %}
    {% set thumb = asset('img/empty_event.png')|imagine_filter('thumbs_evenement') %}
{% endif %}

{% set tags = soiree.themeManifestation|split(",") %}
{% set tags = tags|merge(soiree.typeManifestation|split(",")) %}
{% set distinctTags = [] %}
{% for tag in tags %}
    {% set cleanTag = tag|trim %}
    {% if cleanTag|length and cleanTag not in distinctTags %}
        {% set distinctTags = distinctTags|merge([cleanTag]) %}
    {% endif %}
{% endfor %}

{% set place = soiree.place %}
{% set villePlace = place ? place.ville : null %}

{% block titre_agenda %}
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('tbn_agenda_edit', {'slug': soiree.slug}) }}"><i class="fa fa-pencil"></i></a>{% endif %}
    {{ block('title') }}
{% endblock %}

{% block title_agenda %}{{ nomSoiree }}{% endblock %}

{% block breadcrumb_agenda %}
    {% if place %}
        {% set item = menu.addItem(place.nom, path('tbn_search_query',{'q': place.nom, 'type': 'evenements'})) %}
    {% endif %}
    {% set item = menu.addItem(nomSoiree, path('tbn_agenda_details',{'slug': soiree.slug })) %}    
{% endblock %}
    
{% block meta_description %}{{ nomSoiree }} {% if place %}à {{ place.nom }}{% endif %}. Plus d'infos sur {{ block('nom_site') }}.{% endblock %}

{% block metas %}
    <link rel="image_src" href="{{ original }}" />
    <link rel="thumbnail" href="{{ thumb }}" />
    <meta property="article:published_time"  content="{{ soiree.dateModification.format('Y-m-d') }}" />
    
    <meta property="article:publisher" content="https://www.facebook.com/pages/By-Night/{{ site.facebookIdPage }}" />
    {% if soiree.user %}
        <meta property="article:author" content="{{ url('tbn_user_details', {'username': soiree.user.usernameCanonical}) }}" />
    {% endif %}
    
    {% for tag in distinctTags %}
        <meta property="article:tag" content="{{ tag }}"/>
    {% endfor %}
{% endblock %}
{% block og_titre %}{{ nomSoiree }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}{{ url('tbn_agenda_details', {'slug': soiree.slug}) }}{% endblock %}
{% block og_description %}{{ descriptionSoiree|striptags }}{% endblock %}
{% block og_image %}{{ original }}{% endblock %}

{% block widgets_agenda %}
    {% include "TBNAgendaBundle:MenuDroit:details.html.twig" with({'soiree': soiree}) %}
{% endblock %}

{% block body_agenda %}
<div class="panel panel-default details_evenement" itemscope itemtype="http://schema.org/Event">
    <div class="panel-heading bg-white">
        <h3 class="modal-title">
            <i class="pull-right fa fa-calendar text-primary"></i>
            {% set dateDebut = soiree.dateDebut|date('d/m/Y') %}
            {% set dateFin = soiree.dateFin|date('d/m/Y') %}

            {% if soiree.dateFin == null or ( soiree.dateFin != null and soiree.dateDebut == soiree.dateFin) %}
                Le <time itemprop="startDate" datetime="{{ soiree.dateDebut|date('Y-m-d\TH:i:sO') }}">{{ soiree.dateDebut|localizeddate('full', 'none') }}</time>
            {% else %}
                Du <time itemprop="startDate" datetime="{{ soiree.dateDebut|date('Y-m-d\TH:i:sO') }}">{{ soiree.dateDebut|localizeddate('full', 'none') }}</time>
                au <time itemprop="endDate" datetime="{{ soiree.dateFin|date('Y-m-d\TH:i:sO') }}">{{ soiree.dateFin|localizeddate('full', 'none') }}</time>
            {% endif %}

            {% if soiree.horaires %}
                - {{ soiree.horaires }}
            {% endif %}
        </h3>
    </div>
    <div class="panel-body">
        <meta itemprop="name" content="{{ nomSoiree }}" />
        <meta itemprop="url" content="{{ path('tbn_agenda_details',{'slug' : soiree.slug} ) }}" />
        <meta itemprop="image" content="{{ original }}" />

        {% if soiree.modificationDerniereMinute %}
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i>
                Cet événement a été signalé 
                {% if soiree.user %}
                    par <a href="{{ path('tbn_user_details', {'username': soiree.user.username} ) }}">{{ soiree.user.username }}</a>
                {% endif %}
                comme étant 
                <span itemprop="eventStatus"> {{ soiree.modificationDerniereMinute }}</span>
            </div>
        {% endif %}
        
        <div class="row margin_bottom_30" >
            <div class="col-sm-4">
                <a href="{{ original }}" title="{{ nomSoiree }}" >
                    <img class="img img-responsive" src="{{ thumb }}" itemprop="image" alt="{{ nomSoiree }}" />
                </a>                    
            </div>
            <div class="col-sm-8 block_infos">
                <ul class="fa-ul">
                    {% if place and (place.rue or place.nom or ville) %}
                    <li>
                        <i class="fa fa-li fa-map-marker"></i>
                        <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                            {% set readableAdresse = "" %}
                            {% if place.nom %}
                                {% set readableAdresse = place.nom %}
                                <span itemprop="name">{{ place.nom }}</span>
                            {% endif %}

                            {% if place.rue or villePlace %}
                                <div itemprop="address" itemscope itemtype="http://schema.org/Address">
                                    {% if place.rue %}
                                        <div itemprop="streetAddress">{{ place.rue }}</div>
                                    {% endif %}
                                    {% if villePlace and (villePlace.codePostal or villePlace.nom) %}
                                        <div>
                                            {% if villePlace.codePostal %}
                                                <span itemprop="postalCode">{{ villePlace.codePostal }} </span>
                                                <meta itemprop="addressCountry" content="FR" />
                                            {% endif %}
                                            {% if villePlace.nom %}
                                                {% set readableAdresse = readableAdresse ~ " " ~ villePlace.nom %}
                                                <span itemprop="addressLocality">{{ villePlace.nom }}</span>
                                            {% endif %}
                                        </div>                                    
                                    {% endif %}

                                    {% if readableAdresse %}
                                        <meta itemprop="hasMap" content="https://www.google.com/maps/?q={{ readableAdresse|raw|url_encode }}&zoom=16" />
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if place.latitude and place.longitude %}
                                <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="{{ place.latitude }}" />
                                    <meta itemprop="longitude" content="{{ place.longitude }}" />
                                </span>
                            {% endif %}
                        </div>
                        {% if readableAdresse %}
                        <button 
                            class="btn btn-primary btn-raised btn-sm" 
                            id="loadMap"
                            data-map="https://www.google.com/maps/embed/v1/search?q={{ readableAdresse|raw|url_encode }}&key={{ googleMapKey }}&language=fr&zoom=16"
                            >Afficher sur une carte</button>
                        <div id="googleMap"></div>
                        {% endif %}
                    </li>
                    {% endif %}                
                    {% if soiree.tarif %}
                    <li>
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">                        
                            <i class="fa fa-li fa-ticket"></i>
                            <span itemprop="price">{{ soiree.tarif }}</span>
                            <meta itemprop="priceCurrency" content="EUR" />
                        </div>
                    </li>
                    {% endif %}
                    {% for telephone in soiree.reservationTelephone|split(',') %}
                        {% if telephone|length %}
                    <li>
                        <i class="fa fa-li fa-phone"></i> 
                        {{ telephone|trim }}
                    </li>
                        {% endif %}
                    {% endfor %}
                    {% for liens in soiree.reservationInternet|split(' ') %}
                        {% for lien in liens|split(',') %}
                            {% if lien|trim %}
                            <li>
                                <i class="fa fa-li fa-globe"></i> 
                                <a title="Aller sur le site internet de la réservation" rel="nofollow" href="http://{{ lien|replace({'http://' : ''}) }}">{{ lien[:50] ~ (lien|length > 50 ? "..." : "") }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if soiree.reservationEmail %}
                        <li><i class="fa fa-li fa-envelope-o"></i> <a href="mailto:{{ soiree.reservationEmail }}">{{ soiree.reservationEmail }}</a></li>
                    {% endif %}
                    {% if soiree.facebookEventId %}
                    <li>
                        <i class="fa fa-li fa-facebook"></i> 
                        {% set lien = "https://www.facebook.com/events/" ~ soiree.facebookEventId %}
                        <a href="{{ lien }}" rel="external">{{ lien }}</a>
                    </li>
                    {% endif %}

                    {% if distinctTags|length %}
                        <li class="tags">
                            <i class="fa fa-li fa-tags"></i>
                            {% for tag in distinctTags %}
                            <span class="label label-info">{{ tag|trim }}</span>                               
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% if soiree.source %}
                    <li>
                        <i class="fa fa-li fa-info-circle"></i> 
                        Source : <a href="{{ soiree.source }}" rel="nofollow">{{ soiree.fromData }}</a>
                    </li>
                    {% endif %}
                    {% if soiree.user %}   
                    <li>
                        <i class="fa fa-li fa-user"></i>
                        Par 
                        <a href="{{ path('tbn_user_details', {'username': soiree.user.username} ) }}" title="Accédez au profil de {{ soiree.user.username }}">
                            {{ soiree.user.username }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div itemprop="description" >
            {{ descriptionSoiree|raw }}
        </div>    
    </div>
</div>

<div class="panel panel-default shares">
    <div class="panel-heading bg-white">
        <h3 class="modal-title">
            <i class="pull-right fa fa-share-alt text-primary"></i>
            Partagez cet événement
        </h3>
    </div>
    <div class="panel-body">
        <br />
        <div class="row">
            <div class="col-xs-4 share">
                <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            </div>
            <div class="col-xs-4 share">
                <div class="g-plusone" data-action="share" ></div>                        
            </div>
            <div class="col-xs-4 share">
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>                        
            </div>
        </div>

        <div class="comments" data-url="{{ path('tbn_comment_list',{'id': soiree.id }) }}">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
    </div>
</div>
{% endblock %}

{% block css_agenda %}
    {% stylesheets 
        'bundles/tbnagenda/css/details.css'
        output='prod/css/evenement/details.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}
{% endblock %}
        
{% block head_js_agenda %}
    <meta name="include_mode" content="async" >
    <script src="//cdnjs.cloudflare.com/ajax/libs/hinclude/0.9.5/hinclude.min.js" type="text/javascript"></script>
{% endblock %}
    
{% block js_agenda %}
    {% javascripts 
        '@TBNCommentBundle/Resources/public/js/CommentApp.js'
        '@TBNAgendaBundle/Resources/public/js/details.js'
        output='prod/js/evenements/details.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
