{% extends "TBNAgendaBundle::layout-fluid.html.twig" %}

{% block start_container %}
<div itemscope itemtype="http://schema.org/Event">{{ parent() }}{% endblock %}
    {% block end_container %}{{ parent() }}</div>{% endblock %}

{% if soiree.dateFin == null or soiree.dateDebut == soiree.dateFin %}
    {% set horaires = 'le ' ~ soiree.dateDebut|localizeddate('full', 'none') %}
{% else %}
    {% set horaires = 'du ' ~ soiree.dateDebut|localizeddate('full', 'none') ~ ' au '~ soiree.dateFin|localizeddate('full', 'none') %}
{% endif %}

{% if soiree.horaires %}
    {% set horaires = horaires ~ ' - ' ~ soiree.horaires %}
{% endif %}

{% set nomSoiree = soiree.nom %}
{% if soiree.modificationDerniereMinute %}
    {% set nomSoiree = '[' ~ soiree.modificationDerniereMinute ~ '] ' ~ soiree.nom %}
{% endif %}
{% set descriptionSoiree =  soiree.descriptif|parse_tags|raw %}
{% set original = eventProfilePicture.getOriginalPictureURL(soiree) %}
{% set thumb = eventProfilePicture.getPicture(soiree) %}

{% set distinctTags = soiree.distinctTags %}

{% set place = soiree.place %}

{% block titre_agenda %}
    {% if is_granted('ROLE_ADMIN') or (soiree.user and soiree.user == app.user) %}<a
        href="{{ path('tbn_agenda_edit', {'slug': soiree.slug}) }}"><i class="fa fa-pencil"></i></a>
    {% endif %}
    {{ block('title') }}
{% endblock %}

{% block title_agenda %}{{ nomSoiree }} - {{ soiree.place.nom }}{% endblock %}

{% block breadcrumb_agenda %}
    {% set item = menu.addItem('Agenda', path('tbn_agenda_agenda')) %}
    {% if place %}
        {% set item = menu.addItem(place.nom, path('tbn_agenda_place',{'slug': place.slug})) %}
    {% endif %}
    {% set item = menu.addItem(nomSoiree, path('tbn_agenda_details',{'slug': soiree.slug })) %}
{% endblock %}
    
{% block meta_keywords %}{% if distinctTags|length %}{{ distinctTags|join(',') }},{% endif %}{{ parent() }}{% endblock %}
{% block meta_description %}{% if place %}{{ place.nom }}, {{ place.ville }}{% endif %}, {{ horaires }}.{% if distinctTags|length %} - {{ distinctTags|join(', ') }}.{% endif %}{% endblock %}

{% block metas %}
    <link rel="image_src" href="{{ original }}"/>
    <link rel="thumbnail" href="{{ thumb }}"/>
    {% if soiree.dateModification %}
        <meta property="article:published_time"  content="{{ soiree.dateModification.format('Y-m-d') }}" />{% endif %}
    <meta property="article:publisher" content="https://www.facebook.com/pages/By-Night/{{ app_manager.facebookIdPage }}"/>
    {% if soiree.user %}
        <meta property="article:author"
              content="{{ url('tbn_user_details', {'username': soiree.user.usernameCanonical}) }}"/>
    {% endif %}

    {% for tag in distinctTags %}
        <meta property="article:tag" content="{{ tag }}"/>
    {% endfor %}
{% endblock %}
{% block og_titre %}{{ nomSoiree }}{% endblock %}
{% block og_url %}{{ url('tbn_agenda_details', {'slug': soiree.slug}) }}{% endblock %}
{% block og_image %}{{ original }}{% endblock %}

{% block widgets_agenda %}
    {% include "TBNAgendaBundle:MenuDroit:details.html.twig" with({'soiree': soiree, 'stats': stats}) %}
{% endblock %}

{% block body_agenda %}
    {% if soiree.isBrouillon %}
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i>
            Cet événément n'est pas encore disponible publiquement. Merci de patienter encore un peu !
        </div>
    {% else %}
        <div class="panel panel-default details_evenement">
            <div class="panel-heading bg-white">
                <h2 class="modal-title">
                    <i class="pull-right fa fa-calendar text-primary"></i>
                    {% set dateDebut = soiree.dateDebut|date('d/m/Y') %}
                    {% set dateFin = soiree.dateFin|date('d/m/Y') %}

                    {% if soiree.dateFin == null or soiree.dateDebut == soiree.dateFin %}
                        Le
                        <time itemprop="startDate"
                              datetime="{{ soiree.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ soiree.dateDebut|localizeddate('full', 'none') }}</time>
                    {% else %}
                        Du
                        <time itemprop="startDate"
                              datetime="{{ soiree.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ soiree.dateDebut|localizeddate('full', 'none') }}</time>
                        au
                        <time itemprop="endDate"
                              datetime="{{ soiree.dateFin|date('Y-m-d\\TH:i:sO') }}">{{ soiree.dateFin|localizeddate('full', 'none') }}</time>
                    {% endif %}

                    {% if soiree.horaires %}
                        - {{ soiree.horaires }}
                    {% endif %}
                </h2>
            </div>
            <div class="panel-body">
                <meta itemprop="name" content="{{ nomSoiree }}" >
                <meta itemprop="url" content="{{ url('tbn_agenda_details', {'slug': soiree.slug}) }}" >

                {% if soiree.modificationDerniereMinute %}
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i>
                        Cet événement a été signalé comme étant
                        <span itemprop="eventStatus"> {{ soiree.modificationDerniereMinute }}</span>
                    </div>
                {% endif %}

                <div class="row margin_bottom_30">
                    <div class="col-sm-4">
                        <a href="{{ original }}" title="{{ nomSoiree }}">
                            <img class="img img-responsive" src="{{ thumb }}" itemprop="image" alt="{{ nomSoiree }}"/>
                        </a>
                    </div>
                    <div class="col-sm-8 block_infos">
                        <ul class="fa-ul">
                            {% if place and (place.rue or place.nom or ville) %}
                                <li>
                                    <i class="fa fa-li fa-map-marker"></i>
                                    <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                        {% set readableAdresse = "" %}
                                        {% if place.nom %}
                                            {% set readableAdresse = place.nom %}
                                            <h2 class="modal-title" style="font-size: 115%">
                                                <a itemprop="url" href="{{ path('tbn_agenda_place', {'slug': place.slug }) }}" title="Sortir à {{ place.nom }}">
                                                    <strong itemprop="name">{{ place.nom }}</strong>
                                                </a>
                                            </h2>
                                        {% endif %}

                                        {% if place.rue or place.ville or place.codePostal %}
                                            <div itemprop="address" itemscope
                                                 itemtype="http://schema.org/PostalAddress">
                                                {% if place.rue %}
                                                    <div itemprop="streetAddress">{{ place.rue }}</div>
                                                {% endif %}
                                                {% if place.ville or place.codePostal %}
                                                    <div>
                                                        {% if place.codePostal %}
                                                            <span itemprop="postalCode">{{ place.codePostal }} </span>
                                                            <meta itemprop="addressCountry" content="FR"/>
                                                        {% endif %}
                                                        {% if place.ville %}
                                                            <a itemprop="url" href="{{ path('tbn_agenda_ville', {'ville': place.ville }) }}" title="Sortir à {{ place.ville }}">
                                                                {% set readableAdresse = readableAdresse ~ " " ~ place.ville %}
                                                                <span ><strong itemprop="addressLocality">{{ place.ville }}</strong></span>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}

                                        {% if place.latitude and place.longitude %}
                                            <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="{{ place.latitude }}"/>
                                    <meta itemprop="longitude" content="{{ place.longitude }}"/>
                                </span>
                                        {% endif %}
                                    </div>
                                    {% if readableAdresse %}
                                        <button
                                                class="btn btn-primary btn-raised btn-sm"
                                                id="loadMap"
                                                data-map="https://www.google.com/maps/embed/v1/search?q={{ readableAdresse|raw|url_encode }}&key={{ googleMapKey }}&language=fr&zoom=16"
                                        >Afficher sur une carte
                                        </button>
                                        <div id="googleMap"></div>
                                    {% endif %}
                                </li>
                            {% endif %}
                            {% if soiree.tarif %}
                                <li>
                                    <div>
                                        <i class="fa fa-li fa-ticket"></i>
                                        <span>{{ soiree.tarif }}</span>
                                    </div>
                                </li>
                            {% endif %}
                            {% for telephone in soiree.reservationTelephone|split(',') %}
                                {% if telephone|length %}
                                    <li>
                                        <i class="fa fa-li fa-phone"></i>
                                        {{ telephone|trim }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for liens in soiree.reservationInternet|split(' ') %}
                                {% for lien in liens|split(',') %}
                                    {% if lien|trim %}
                                        <li>
                                            <i class="fa fa-li fa-globe"></i>
                                            <a title="Aller sur le site internet de la réservation" rel="nofollow"
                                               href="http://{{ lien|replace({'http://' : ''}) }}">{{ lien[:50] ~ (lien|length > 50 ? "..." : "") }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% if soiree.reservationEmail %}
                                <li>
                                    <i class="fa fa-li fa-envelope-o"></i>
                                    <a href="mailto:{{ soiree.reservationEmail }}">{{ soiree.reservationEmail }}</a>
                                </li>
                            {% endif %}
                            {% if soiree.facebookEventId %}
                                <li>
                                    <i class="fa fa-li fa-facebook"></i>
                                    {% set lien = "https://www.facebook.com/events/" ~ soiree.facebookEventId %}
                                    <a href="{{ lien }}" rel="nofollow">{{ lien }}</a>
                                </li>
                            {% endif %}

                            {% if distinctTags|length %}
                                <li class="tags">
                                    <i class="fa fa-li fa-tags"></i>
                                    {% for tag in distinctTags %}
                                        <a class="label label-info" title="{{ tag }} à {{ site.nom }}"
                                           href="{{ path('tbn_agenda_tags', {'tag' : tag|trim}) }}"><strong>{{ tag }}</strong></a>
                                    {% endfor %}
                                </li>
                            {% endif %}
                            {% if soiree.source %}
                                <li>
                                    <i class="fa fa-li fa-info-circle"></i>
                                    Source : <a href="{{ soiree.source }}" rel="nofollow">{{ soiree.fromData }}</a>
                                </li>
                            {% endif %}
                            {% if soiree.user %}
                                <li>
                                    <i class="fa fa-li fa-user"></i>
                                    Par
                                    <a href="{{ path('tbn_user_details', {'username': soiree.user.username} ) }}"
                                       title="Accédez au profil de {{ soiree.user.username }}">
                                        {{ soiree.user.username }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div itemprop="description">
                    {{ descriptionSoiree|raw }}
                </div>
            </div>
        </div>

        <div class="panel panel-default shares">
            <div class="panel-heading bg-white">
                <h3 class="modal-title">
                    <i class="pull-right fa fa-share-alt text-primary"></i>
                    Partagez cet événement
                </h3>
            </div>
            <div class="panel-body">
                <br/>
                {{ render_esi(controller('TBNAgendaBundle:Event:share', {'slug': soiree.slug })) }}

                <div class="comments">
                    <h4 class="heading">
                        {{ nb_comments }} Commentaire{{ nb_comments > 1 ? "s" : "" }}
                        {% if nb_comments == 0 %}
                            |
                            <small>Soyez le premier à réagir</small>
                        {% endif %}
                    </h4>
                    <br/>
                    {% include "TBNCommentBundle:Comment:post.html.twig" %}
                    {% if nb_comments > 0 %}
                        {{ render_esi(url('tbn_comment_list', {'id': soiree.id})) }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="panel panel-default widget">
            <div class="panel-heading bg-white">
                <h3 class="modal-title">
                    <i class="pull-right fa fa-share-alt text-primary"></i>
                    {{ soiree.place.nom }} : Les prochaines sorties
                </h3>
            </div>
            <div class="panel-body scrollable scrollable-large">
                <div>
                    {{ render_esi(url('tbn_agenda_prochaines_soirees', {'slug': soiree.slug} )) }}
                </div>
            </div>
            <div class="panel-footer"> </div>
        </div>
    {% endif %}
{% endblock %}

{% block css_agenda %}
    <link rel="stylesheet" href="{{ asset('prod/evenements/css/details.min.css', 'asset') }}" type="text/css">
{% endblock %}
        
{% block js_agenda %}
    <script src="{{ asset('prod/evenements/js/details.min.js', 'asset') }}" type="text/javascript"></script>
{% endblock %}
