{% extends "TBNAgendaBundle:Agenda:agenda.html.twig"|partial_extends() %}

{% block soirees %}
{% if soirees|length > 0 %}
    {% for i,soiree in soirees %}
        {% if i == 0 and page > 1 %}
            <hr />
        {% endif %}
        {% include "TBNAgendaBundle:Agenda:block_preview_soiree.html.twig" %}
        {% if (i + 1) != soirees|length %}
            <hr />
        {% endif %}
    {% endfor %}

    {% if soirees|length == maxPerEvent %}
    <div>
        <a id="paginate"
           class="btn btn-primary btn-lg btn-flat btn-block paginate"
           href="{{ path('tbn_agenda_pagination', {'page': (page + 1)}) }}" 
           data-next="{{ (page + 1) }}">
            <i class="fa fa-chevron-down"></i> Plus d'événements
        </a>
    </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block title_agenda %}
    {% if page > 1 %}Page {{page}} - {% endif %}
{% if villeName is not null %}Sortir à {{ villeName|capitalize }}
{% elseif placeName is not null %}Sortir à {{ placeName|capitalize }}
{% elseif tag is not null %}{{ tag|capitalize }}
{% elseif type == 'exposition' %}Expositions
{% elseif type == 'concert' %}Concerts
{% elseif type == 'famille' %}Sorties familles
{% elseif type == 'spectacle' %}Spectacles
{% elseif type == 'etudiant' %}Soirées étudiantes
{% else %}Agenda des événements{% endif %}
{% endblock %}
