{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary btn-raised" type="submit">{{ 'change_password.submit'|trans }}</button>
        <a class="pull-right btn btn-default btn-raised bg-white" title="Retourner à mes infos" href="{{ path('fos_user_profile_show') }}">
            <i class="fa fa-chevron-left"></i>
            Retour
        </a>
    </div>
{{ form_end(form) }}
