{% props header = null, icon = null, bodyClass = '', scrollAreaClass = '', showFooter = true %}
<div {{ attributes.defaults({class: 'widget card'}) }}>
    <h3 class="card-header">
        {% if icon %}<twig:Icon name="{{ icon }}" class="text-primary" />{% endif %}
        <span>{% block header %}{{ header }}{% endblock %}</span>
    </h3>
    <div class="card-body {{ bodyClass }}">
        <div class="scroll-wrapper">
            <div class="scroll-area scroll-area-vertical {{ scrollAreaClass }}">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% if showFooter %}
        {% block footer %}
            <div class="card-footer more-container"></div>
        {% endblock %}
    {% endif %}
</div>
