{% extends "TBNAgendaBundle::layout.html.twig" %}

{% block title_agenda -%}{% block title_search -%}{%- endblock %}{%- endblock %}
{% block titre_agenda -%}{% block titre_search -%}{%- endblock %}{%- endblock %}
{% block meta_description -%}Recherche d'événements, concerts, spectacles et membres à {{ site.nom }}{%- endblock %}

{% block breadcrumb_agenda -%}
    {% set test = menu.addItem('Recherche', path('tbn_search_query')) %}
    {% block breadcrumb_search -%}{%- endblock %}
{%- endblock %}

{% set currentType = null %}
{% set options = {
    '': 'Tout',
    'events': 'Événements',
    'places': 'Lieux',
    'users': 'Membres',
} %}

{% block body_agenda -%}
    <br />
    <br />
    <div class="row">
        <form method="GET" action="{% block form_url %}{{ path('tbn_search_query') }}{% endblock %}">
            <div class="col-lg-4 col-lg-offset-2 col-md-8 col-md-offset-2">
                <input name="q" class="form-control" size="16" type="text" 
                       placeholder="{% block form_placeholder %}Que cherchez-vous ?{% endblock %}" 
                       value="{{ term }}" >
            </div>
            <div class="col-lg-2">
                <select name="type" class="form-control">
                    {% for value, label in options %}
                        <option value="{{ value }}" {{ value == currentType ? 'selected' : '' }}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2">
                <input class="btn btn-primary btn-raised" type="submit" value="Rechercher" />
            </div>
        </form>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% block body_search_results -%}{%- endblock %}
            {% block body_search_content -%}{%- endblock %}
        </div>
    </div>
{%- endblock %}

{% block js_agenda %}
    {% javascripts 
        'bower/dropdown.js/jquery.dropdown.js'
        output='prod/js/recherche/scripts.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block css_agenda %}
    {% stylesheets 
        'bower/dropdown.js/jquery.dropdown.css'
        output='prod/css/recherche/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}
{% endblock %}