{% extends "TBNMainBundle:Search:layout.html.twig" %}

{% block title_search %}{% if term %}{{ term }}{% else %}Recherche{% endif %}{% endblock %}
{% block titre_search %}Recherche d'événements, lieux et membres{% endblock %}
{% block meta_description -%}{% if term %}{{ nbItems}} résultat{{ nbItems > 1 ? "s" : "" }} trouvé{{ nbItems > 1 ? "s" : "" }} pour la recherche '{{ term }}'. {% endif %}{{ parent() }}{% endblock %}

{% block breadcrumb_search -%}   
    {% if term %}
    {% set item = menu.addItem(term, path('tbn_search_query',{'q': term})) %}
    {% endif %}
{%- endblock %}

{% block body_search_results -%}
    {% if term %}
        <h2>
            <span class="number">{{ nbItems }}</span> 
            résultat{{ nbItems > 1 ? "s" : "" }} trouvé{{ nbItems > 1 ? "s" : "" }}
            pour la recherche <strong>{{ term }}</strong>
        </h2>
        <hr />
    {% endif %}    
{%- endblock %}

{% block body_search_content -%}
    {% if events|length > 0 %}
        <h3>Événements</h3>
        <br>
        {% include "TBNMainBundle:Search:content_events.html.twig" %}
    {% endif %}

    {% if users|length > 0 %}
        <h3>Membres</h3>
        <br>
        {% include "TBNMainBundle:Search:content_users.html.twig" %}
    {% endif %}
{%- endblock %}
