{% extends "TBNMainBundle:Search:layout.html.twig"|partial_extends %}

{% block title_search %}Recherche de membres{% endblock %}
{% block titre_search %}Recherche de membres à {{ site.nom }}{% endblock %}

{% block breadcrumb_search %}
    {% set test = menu.addItem('Membres', path('tbn_search_query', {'type': 'membres'})) %}    
    {% if term %}
    {% set test = menu.addItem(term, path('tbn_search_query', {'q': term, 'type': 'membres'})) %}
    {% endif %}
{% endblock %}

{% block form_url %}{{ path('tbn_search_query', {'type': 'membres'}) }}{% endblock %}
{% block form_placeholder %}Quel membre cherchez-vous ?{% endblock %}

{% block body_search_results -%}
    {% if term %}
        <h2>
            <strong class="count date">{{ nbUsers }}</strong> 
            membre{{ nbUsers > 1 ? "s" : "" }} trouvé{{ nbUsers > 1 ? "s" : "" }}
            pour la recherche <strong>{{ term }}</strong>
        </h2>
        <hr>
    {% endif %}    
{%- endblock %}

{% block body_search_content -%}
    {% if term %}
        {% include "TBNMainBundle:Search:content_users.html.twig" %}
    {% endif %}    
{%- endblock %}