{% extends "layouts/with-widget.html.twig" %}

{% set nomSoiree = event_seo.getEventShortTitle(soiree) %}
{% set horaires = event_seo.getEventDateTime(soiree) %}
{% set descriptionSoiree = soiree.descriptif|parse_tags|raw %}
{% set original = eventProfilePicture.originalPictureURL(soiree) %}
{% set thumb = eventProfilePicture.picture(soiree) %}

{% set distinctTags = soiree.distinctTags %}

{% set place = soiree.place %}

{% block title event_seo.eventFullTitle(soiree) %}
{% block titre -%}
    {#
    {% if is_granted('ROLE_ADMIN') or (soiree.user and soiree.user == app.user) %}
        <a class="btn btn-lg btn-primary btn-raised"
           href="{{ path('app_agenda_edit', {'slug': soiree.slug}) }}"
           title="Modifier l'événement">
            <i class="fa fa-pencil"></i>
        </a>
    {% endif %}
    #}
    {{ block('title') }}
{%- endblock %}

{% block breadcrumb %}
    {% if location.isCountry %}
        {% set item = menu.addItem('Sortir ' ~ location.atName, path('app_agenda_index', {'location': location.country.slug})) %}
    {% else %}
        {% set item = menu.addItem(location.city.country.name, path('app_agenda_index', {'location': location.city.country.slug})) %}
        {% set item = menu.addItem('Sortir à ' ~ soiree.placeCity, path('app_agenda_agenda', {'location': location.city.slug})) %}
    {% endif %}

    {% set item = menu.addItem(soiree.placeName, path('app_agenda_place', {'location': location.slug, 'slug': place.slug})) %}
    {% set item = menu.addItem(nomSoiree, path('app_agenda_details', {'slug': soiree.slug, 'id': soiree.id, 'location': soiree.locationSlug})) %}
{% endblock %}
    
{% block meta_keywords %}{% if distinctTags|length %}{{ distinctTags|join(',') }},{% endif %}{{ parent() }}{% endblock %}
{% block meta_description event_seo.eventDescription(soiree) %}

{% block metas %}
    <link rel="image_src" href="{{ original }}" />
    <link rel="thumbnail" href="{{ thumb }}" />
    {% if soiree.dateModification %}
        <meta property="article:published_time" content="{{ soiree.dateModification.format('Y-m-d') }}" />
    {% endif %}
    <meta property="article:publisher" content="https://www.facebook.com/pages/By-Night/{{ social_manager.facebookIdPage }}" />
    {% if soiree.user %}
        <meta property="article:author" content="{{ url('app_user_details', {'id': soiree.user.id, 'slug': soiree.user.slug}) }}" />
    {% endif %}

    {% for tag in distinctTags %}
        <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
{% endblock %}

{% block og_titre nomSoiree %}
{% block og_url url('app_agenda_details', {'slug': soiree.slug, 'id': soiree.id, 'location': soiree.locationSlug}) %}
{% block og_image original %}

{% block body -%}
    {{ fos_httpcache_tag(tags('event', soiree) ) }}
    {% if soiree.isBrouillon %}
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i>
            Cet événement n'est pas encore disponible publiquement. Merci de patienter encore un peu !
        </div>
    {% else %}
        <div class="panel panel-primary details_evenement">
            <div class="panel-heading">
                <h2 class="modal-title">
                    <i class="pull-right fa fa-calendar text-primary"></i>
                    {% set dateDebut = soiree.dateDebut|date('d/m/Y') %}
                    {% set dateFin = soiree.dateFin|date('d/m/Y') %}

                    {% if soiree.dateFin == null or soiree.dateDebut == soiree.dateFin %}
                        Le
                        <time itemprop="startDate"
                              datetime="{{ soiree.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ soiree.dateDebut|localizeddate('full', 'none') }}</time>
                    {% else %}
                        Du
                        <time itemprop="startDate"
                              datetime="{{ soiree.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ soiree.dateDebut|localizeddate('full', 'none') }}</time>
                        au
                        <time itemprop="endDate"
                              datetime="{{ soiree.dateFin|date('Y-m-d\\TH:i:sO') }}">{{ soiree.dateFin|localizeddate('full', 'none') }}</time>
                    {% endif %}

                    {% if soiree.horaires %}
                        - {{ soiree.horaires }}
                    {% endif %}
                </h2>
            </div>
            <div class="panel-body">
                <meta itemprop="name" content="{{ nomSoiree }}">
                <meta itemprop="url" content="{{ url('app_agenda_details', {'slug': soiree.slug, 'id': soiree.id, 'location': soiree.locationSlug }) }}">

                {% if soiree.modificationDerniereMinute %}
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i>
                        Cet événement a été signalé comme étant
                        <span itemprop="eventStatus"> {{ soiree.modificationDerniereMinute }}</span>
                    </div>
                {% endif %}

                <div class="row margin_bottom_30">
                    <div class="col-sm-4">
                        <a href="{{ original }}" title="{{ nomSoiree }}">
                            <img class="img img-responsive" src="{{ thumb }}" itemprop="image" alt="{{ nomSoiree }}" />
                        </a>
                    </div>
                    <div class="col-sm-8 block_infos">
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-li fa-map-marker"></i>
                                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                    {% set mapParameter = "search?q=" %}
                                    {% set mapValue = "" %}
                                    {% if soiree.placeName %}
                                        {% set mapValue = soiree.placeName %}
                                        <h2 class="modal-title" style="font-size: 115%">
                                            <a itemprop="url"
                                               href="{{ path('app_agenda_place', {'slug': place.slug, 'location': place.locationSlug}) }}"
                                               title="Sortir à {{ soiree.placeName }}">
                                                <strong itemprop="name">{{ soiree.placeName }}</strong>
                                            </a>
                                        </h2>
                                    {% endif %}

                                    {% if soiree.placeCity %}
                                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                            {% if soiree.place and soiree.place.city %}
                                                <meta itemprop="addressCountry" content="{{ soiree.place.city.country.id }}" />
                                            {% endif %}

                                            {% if soiree.placeStreet %}
                                                <div itemprop="streetAddress">{{ soiree.placeStreet }}</div>
                                            {% endif %}

                                            {% if soiree.placeCity or soiree.placePostalCode %}
                                                <div>
                                                    {% if soiree.placePostalCode %}
                                                        <span itemprop="postalCode">{{ soiree.placePostalCode }}</span>
                                                    {% endif %}

                                                    {% if soiree.placeCity %}
                                                        {% set mapValue = mapValue ~ " " ~ soiree.placeCity %}
                                                        {% if soiree.place and soiree.place.city %}
                                                            <a itemprop="url"
                                                               href="{{ path('app_agenda_agenda', {'location': soiree.place.locationSlug}) }}"
                                                               title="Sortir à {{ soiree.placeCity }}">
                                                                <span><strong itemprop="addressLocality">{{ soiree.placeCity }}</strong></span>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    {% if soiree.latitude and soiree.longitude %}
                                        <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                            <meta itemprop="latitude" content="{{ soiree.latitude }}" />
                                            <meta itemprop="longitude" content="{{ soiree.longitude }}" />
                                        </span>
                                        {% if not place.city %}
                                            {% set mapParameter = "view?center=" %}
                                            {% set mapValue = soiree.latitude ~ ',' ~ soiree.longitude %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                {% if mapValue %}
                                    <button
                                            class="btn btn-primary btn-raised btn-sm"
                                            id="loadMap"
                                            data-map="https://www.google.com/maps/embed/v1/{{ mapParameter }}{{ mapValue|raw|url_encode }}&key={{ googleMapKey }}&zoom=16"
                                    >Afficher sur une carte
                                    </button>
                                    <div id="googleMap"></div>
                                {% endif %}
                            </li>
                            {% if soiree.tarif %}
                                <li>
                                    <div>
                                        <i class="fa fa-li fa-ticket"></i>
                                        <span>{{ soiree.tarif }}</span>
                                    </div>
                                </li>
                            {% endif %}
                            {% for telephone in soiree.reservationTelephone|split(',') %}
                                {% if telephone|length %}
                                    <li>
                                        <i class="fa fa-li fa-phone"></i>
                                        {{ telephone|trim }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for liens in soiree.reservationInternet|split(' ') %}
                                {% for lien in liens|split(',') %}
                                    {% if lien|trim %}
                                        <li>
                                            <i class="fa fa-li fa-globe"></i>
                                            <a title="Aller sur le site internet de la réservation" rel="nofollow"
                                               href="{{ lien|ensure_protocol }}">{{ lien[:50] ~ (lien|length > 50 ? "..." : "") }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% if soiree.reservationEmail %}
                                <li>
                                    <i class="fa fa-li fa-envelope-o"></i>
                                    <a href="mailto:{{ soiree.reservationEmail }}">{{ soiree.reservationEmail }}</a>
                                </li>
                            {% endif %}
                            {% if soiree.facebookEventId %}
                                <li>
                                    <i class="fa fa-li fa-facebook"></i>
                                    {% set lien = "https://www.facebook.com/events/" ~ soiree.facebookEventId %}
                                    <a href="{{ lien }}" rel="nofollow">{{ lien }}</a>
                                </li>
                            {% endif %}

                            {% if distinctTags|length %}
                                <li class="tags">
                                    <i class="fa fa-li fa-tags"></i>
                                    {% for tag in distinctTags %}
                                        {% if soiree.place.city %}
                                            <a class="label label-info"
                                               title="{{ tag }} à {{ soiree.place.city.name }}"
                                               href="{{ path('app_agenda_tags', {'tag' : tag|trim, 'location': soiree.place.locationSlug}) }}">
                                                <strong>{{ tag }}</strong>
                                            </a>
                                        {% else %}
                                            <a class="label label-info"
                                               title="{{ tag }} en {{ soiree.place.country.name }}"
                                               href="{{ path('app_agenda_tags', {'tag' : tag|trim, 'location': soiree.place.locationSlug}) }}">
                                                <strong>{{ tag }}</strong>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endif %}
                            {% if soiree.source %}
                                <li>
                                    <i class="fa fa-li fa-info-circle"></i>
                                    Source : <a href="{{ soiree.source }}" rel="nofollow">{{ soiree.fromData }}</a>
                                </li>
                            {% endif %}
                            {% if soiree.user %}
                                <li>
                                    <i class="fa fa-li fa-user"></i>
                                    Par
                                    <a href="{{ path('app_user_details', {'id': soiree.user.id, 'slug': soiree.user.slug} ) }}"
                                       title="Accédez au profil de {{ soiree.user.username }}">
                                        {{ soiree.user.username }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div itemprop="description">
                    {{ descriptionSoiree|raw }}
                </div>
            </div>
        </div>

        <div class="panel panel-primary shares">
            <div class="panel-heading">
                <h3 class="modal-title">
                    <i class="pull-right fa fa-share-alt text-primary"></i>
                    Partagez cet événement
                </h3>
            </div>
            <div class="panel-body">
                <br />
                {{ render_esi(controller('App\\Controller\\City\\EventController::shareAction', {
                    'id': soiree.id,
                })) }}

                {{ render_esi(path('app_comment_form', {
                    'id': soiree.id,
                })) }}
            </div>
        </div>

        {% if soiree.placeName %}
            <div class="panel panel-primary widget">
                <div class="panel-heading">
                    <h3 class="modal-title">
                        <i class="pull-right fa fa-home text-primary"></i>
                        {{ soiree.placeName }} : Les prochaines sorties
                    </h3>
                </div>
                <div class="panel-body scrollable scrollable-large">
                    <div>
                        {{ render_esi(url('app_agenda_prochaines_soirees', {'slug': soiree.slug, 'id': soiree.id, 'location': soiree.locationSlug} )) }}
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        {% endif %}
    {% endif %}
{%- endblock %}

{% block widgets -%}
    <div class="row">
        <div class="col-sm-6 col-md-12">
            {% if not soiree.isBrouillon %}
                <!-- Tendances -->
                {% include "City/Widget/tendances.html.twig" %}
                <!-- ./Tendances -->
            {% endif %}

            {% include "City/Widget/ads.html.twig" %}
        </div>

        <div class="col-sm-6 col-md-12">
            {% if social_manager.facebookIdPage %}
                <!-- Facebook -->
                {% include "City/Widget/facebook.html.twig" %}
                <!-- ./Facebook -->
            {% endif %}

            <!-- Événements similaires -->
            {% include "City/Widget/evenements_similaires.html.twig" %}
            <!-- ./Événements similaires -->
        </div>
    </div>
{%- endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ app_asset('widgets/css/widgets.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ app_asset('evenements/css/details.min.css') }}" type="text/css">
{% endblock %}
        
{% block js %}
    <script src="{{ app_asset('widgets/js/widgets.min.js') }}" type="text/javascript"></script>
    <script src="{{ app_asset('evenements/js/details.min.js') }}" type="text/javascript"></script>
{% endblock %}
