{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row g-0 text-center my-4">
    <div class="col-4">
        <a class="social-facebook social big-social p-1" title="Connectez vous avec Facebook"
           href="{{ path('login_social_start', {service: 'facebook'}) }}" data-bs-toggle="tooltip" data-placement="bottom" rel="nofollow">
            <i class="fab fa-facebook-f"></i>
        </a>
    </div>
    <div class="col-4">
        <a class="social-twitter social big-social p-1" title="Connectez vous avec Twitter"
           href="{{ path('login_social_start', {service: 'twitter'}) }}" data-bs-toggle="tooltip" data-placement="bottom" rel="nofollow">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="col-4">
        <a class="social-google social big-social p-1" title="Connectez vous avec Google"
           href="{{ path('login_social_start', {service: 'google'}) }}" data-bs-toggle="tooltip" data-placement="bottom" rel="nofollow">
            <i class="fab fa-google"></i>
        </a>
    </div>
</div>
<form action="{{ path('app_login') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

    <div class="mb-3">
        <label for="username">Nom d'utilisateur</label>
        <input class="form-control" type="text" id="username" name="username" value="{{ last_username }}" required="required" />
    </div>

    <div class="mb-3">
        <label for="password">Mot de passe</label>
        <input class="form-control" type="password" id="password" name="password" required="required" />
    </div>

    <div class="mb-3 d-flex justify-content-between">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" checked />
            <label class="form-check-label" for="remember_me">
                Se souvenir de moi
            </label>
        </div>
        <a class="ps-2" href="{{ path('app_forgot_password_request') }}" title="Récupérez votre mot de passe oublié">Mot de passe perdu ?</a>
    </div>
    <div class="text-center mb-4">
        {% if not partial %}
            <button class="btn {{ partial ? 'btn-outline-primary' : 'btn-primary' }}" type="submit" id="_submit" name="_submit" data-loading-text="Veuillez patienter...">
                Connexion
            </button>
        {% endif %}
    </div>

    <p>
        Pas encore inscrit ?
        <a class="register" href="{{ path('app_register') }}"
           title="Rejoignez By Night en vous inscrivant">
            Rejoignez-nous dès maintenant !
        </a>
    </p>
</form>
