<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <h3 class="h4 text-info">By Night</h3>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-li fa-angle-right"></i>
                            <a title="A propos de By Night" href="{{ path('app_about') }}">
                                A propos
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-li fa-angle-right"></i>
                            <a title="En savoir plus sur la création d'événements" href="{{ path('app_plus') }}">
                                En savoir plus
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-li fa-angle-right"></i>
                            <a title="Accéder aux mentions légales" href="{{ path('app_legal_mentions') }}">
                                Mentions légales
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-li fa-angle-right"></i>
                            <a title="Accéder à notre politique sur les cookies" href="{{ path('app_main_cookie') }}">
                                Cookies
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-li fa-angle-right"></i>
                            <a title="Un problème, une question ? Contactez-nous" href="mailto:support@by-night.fr">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 sites">
                    <h3 class="h4 text-info">Recherche par ville</h3>
                    <ul class="fa-ul">
                        {% for city in cities %}
                            <li>
                                <i class="fa fa-li fa-angle-right"></i>
                                <a title="Sortir à {{ city.name }}, {{ city.country }}" href="{{ path('app_agenda_index', {'location' : city.slug}) }}">
                                    {{ city.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 class="h4 text-info">Nos sites partenaires</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Actualités technique autour du Web et de PHP" href="https://blog.silarhi.fr">
                                        Actualités Web & PHP
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Offre de parrainage Boursorama {{ 'now'|date('Y') }}" href="https://parrainages-boursorama.fr">
                                        Parrainage Boursorama
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Offre de parrainage Fortuneo {{ 'now'|date('Y') }}" href="https://offre-parrainages.fr/offres/offre-parrainage-fortuneo">
                                        Parrainage Fortuneo
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Offre de parrainage ING {{ 'now'|date('Y') }}" href="https://offre-parrainages.fr/offres/offre-parrainage-ing-direct">
                                        Parrainage ING
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Offres de parrainage {{ 'now'|date('Y') }}" href="https://offre-parrainages.fr">
                                        Offres de parrainage
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Développement d'applications Web à Toulouse" href="https://silarhi.fr">
                                        Développement Web Toulouse
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Offre de parrainage Hello Bank {{ 'now'|date('Y') }}" href="https://offre-parrainages.fr/offres/offre-parrainage-hello-bank">
                                        Parrainage Hello Bank
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Offre de parrainage Yomoni {{ 'now'|date('Y') }}" href="https://offre-parrainages.fr/offres/offre-parrainage-yomoni">
                                        Parrainage Yomoni
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Offre de parrainage Nalo {{ 'now'|date('Y') }}" href="https://offre-parrainages.fr/offres/offre-parrainage-bforbank">
                                        Parrainage BforBank
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-li fa-angle-right"></i>
                                    <a title="Comparatif banque" href="https://avis-banque.fr">
                                        Comparatif banque
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="clearfix">
                <p class="float-lg-left text-center text-lg-left">
                    <a href="{{ path('app_index') }}">By Night v{{ app_version }}</a>
                    | © {{ "now"|date('Y') }} - Tous droits réservés
                </p>
                <p class="float-lg-right text-center text-lg-left">
                    Fait avec <span title="passion" class="number text-danger">♥</span> par un
                    <a href="https://sainthillier.fr">développeur Web Freelance à Toulouse</a>
                </p>
            </div>
        </div>
    </div>
</footer>
