{% import 'form/macros.html.twig' as macros %}
{{ fos_httpcache_tag(tags('header')) }}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {{ fos_httpcache_tag(tags('user', app.user)) }}
{% endif %}
<header class="navbar navbar-expand-lg text-bg-primary sticky-top" data-bs-theme="dark">
    <div class="container-lg">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-main">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
            </svg>
        </button>
        <a href="{{ path('app_index') }}" title="By Night : les concerts, spectacles, sorties partout en France" class="navbar-brand">
            {{ macros.thumb('build/images/by-night.png', 36, 36, {'alt': 'By Night'}) }}
        </a>
        <div class="d-flex d-lg-none">
            <ul class="navbar-nav align-items-start align-items-lg-center justify-content-lg-center">
                {% include 'fragments/_header-user-dropdown.html.twig' with ({show_username: false}) %}
            </ul>
        </div>
        <div class="offcanvas-lg offcanvas-end text-bg-primary flex-grow-1" id="navbar-main">
            <div class="offcanvas-header">
                <div class="d-flex align-items-center">
                    {{ macros.thumb('build/images/by-night.png', 36, 36, {'alt': 'By Night'}) }}
                    <h5 class="offcanvas-title ms-2" id="staticBackdropLabel">
                        By Night
                    </h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column flex-lg-row">
                <ul class="navbar-nav align-items-start align-items-lg-center justify-content-lg-center">
                    {% if city %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_location_index', {'location': city.slug}) }}" title="{{ city.fullName }}"><strong>{{ city.name }}</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_agenda_index', {'location': city.slug}) }}" title="L'agenda des sorties à {{ city.name }}, c'est par ici !">Agenda</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" title="Créez votre événement en 1 clic !" href="{{ path('app_event_new') }}">Créer un événement</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
                        <li class="nav-item">
                            <a class="nav-link" title="Voir mes soirées" href="{{ path('app_event_list') }}">Mes événements</a>
                        </li>
                    {%- endif %}
                </ul>

                <form action="{{ path('app_search_index') }}" method="GET" class="search-form order-first order-lg-0 mb-2 mb-lg-0" role="search">
                    <button type="submit" class="btn btn-sm btn-ghost-light btn-icon-circle">
                        <i class="icon fa fa-search"></i>
                    </button>
                    <input type="search" placeholder="Que cherchez-vous ?" name="q" value="{{ app.request.get('q')|trim }}" autocomplete="off">
                </form>

                {% if is_granted('ROLE_ADMIN') %}
                <ul class="navbar-nav align-items-start align-items-lg-center justify-content-lg-center">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" data-bs-theme="light">
                                <a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
                                <a class="dropdown-item" href="{{ path('app_administration_info_index') }}">Réseaux Sociaux</a>
                            </div>
                        </li>
                </ul>
                {% endif %}
                <ul class="d-none d-lg-flex navbar-nav align-items-start align-items-lg-center justify-content-lg-center">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% include 'fragments/_header-user-dropdown.html.twig' with ({show_username: true}) %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link register" title="Inscrivez-vous sur By Night" href="{{ path('app_register') }}">
                                Rejoignez-nous
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link connexion" title="Connectez-vous sur By Night" href="{{ path('app_login') }}">
                                Connexion
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
