{% import 'form/macros.html.twig' as macros %}
{{ fos_httpcache_tag(tags('menu')) }}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ fos_httpcache_tag(tags('user', app.user)) }}
{% endif %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a href="{{ path('app_index') }}" title="By Night : les concerts, spectacles, sorties partout en France" class="navbar-brand">
            {{ macros.thumb('build/images/by-night.png', 36, 36, {'alt': 'By Night'}) }}
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="navbar-nav me-auto">
                {% if city %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_agenda_index', {'location': city.slug}) }}" title="{{ city.fullName }}"><strong>{{ city.name }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_agenda_index', {'location': city.slug}) }}" title="L'agenda des sorties à {{ city.name }}, c'est par ici !">Agenda</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" title="Créez votre événement en 1 clic !" href="{{ path('app_event_new') }}">Créer un événement</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") -%}
                    <li class="nav-item">
                        <a class="nav-link" title="Voir mes soirées" href="{{ path('app_event_list') }}">Mes événements</a>
                    </li>
                {%- endif %}
            </ul>

            <form action="{{ path('app_search_index') }}" method="GET" class="search-form" role="search">
                <button type="submit" class="btn btn-sm btn-ghost btn-icon-circle">
                    <i class="fa fa-search"></i>
                </button>
                <input type="search" placeholder="Que cherchez-vous ?" name="q" value="{{ app.request.get('q')|trim }}" autocomplete="off">
            </form>
            <ul class="navbar-nav">
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
                            <a class="dropdown-item" href="{{ path('app_administration_info_index') }}">Réseaux Sociaux</a>
                        </div>
                    </li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item dropdown nav-avatar">
                        <a href="#" title="{{ app.user.username }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            {{ macros.userThumb(app.user, 30, 30) }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" title="Accéder à mon compte" href="{{ path('app_user_edit') }}">
                                <i class="fa fa-cogs"></i>
                                Mon compte
                            </a>
                            <a class="dropdown-item" title="Accéder à mon profil public" href="{{ path('app_user_index', {'id' : app.user.id, 'slug': app.user.slug}) }}">
                                <i class="fa fa-user"></i>
                                Profil public
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <i class="fa fa-power-off"></i>
                                Déconnexion
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link register" title="Inscrivez-vous sur By Night" href="{{ path('app_register') }}">
                            Rejoignez-nous
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link connexion" title="Connectez-vous sur By Night" href="{{ path('app_login') }}">
                            Connexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
