{% extends 'layouts/full.html.twig' %}

{% block meta_title 'Le compagnon de vos sorties et soirées en France' %}
{% block meta_description 'Le compagnon pour vos sorties. Choisissez votre ville et découvrez les événements du moment !' %}
{% block breadcrumb_widget '' %}

{% block body %}
    <section class="full_wrapper" style="background-image: url({{ asset('build/images/landing.jpg') }})">
        <div class="icon fade-black-transp"></div>
        <div class="wrapper">
            <h1>Bienvenue ! On fait quoi ?</h1>
            <div class="card no-margin-form search_container">
                <div class="card-body">
                    {{ form_start(autocomplete_form, {attr: {class: 'form-city-picker m-0'}}) }}
                    {{ form_errors(autocomplete_form) }}

                    {{ form_row(autocomplete_form.shortcut, {label: 'Je veux sortir', attr: {'data-from': autocomplete_form.from.vars.id, 'data-to': autocomplete_form.to.vars.id}, icon_prepend: 'calendar-alt'}) }}
                    {{ form_row(autocomplete_form.from) }}
                    {{ form_row(autocomplete_form.to) }}
                    {{ form_row(autocomplete_form.name, {label: 'À', icon_prepend: 'location-dot'}) }}
                    <div class="text-center">
                        <button class="btn btn-primary choose-city-action" type="submit" disabled>
                            C'est parti
                        </button>
                    </div>
                    {{ form_rest(autocomplete_form) }}
                    {{ form_end(autocomplete_form) }}
                </div>
            </div>
        </div>
        <div class="footer_wrapper">
            <h2 class="text-primary h4">Trouvez votre idée de sortie parmi plus d'1,5 million d'événements depuis 2013</h2>
        </div>
    </section>
    <section class="py-4">
        <div class="container-lg">
            <h2>Les événements par pays</h2>
            <div class="row">
                {% for stat in stats %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h2 class="card-title">{{ stat.displayName }}</h2>
                                <h5 class="card-subtitle text-muted">{{ stat.events }}</span> événement{{ stat.events > 1 ? 's' }} à venir</h5>
                            </div>
                            <div class="card-footer text-center py-2">
                                <a class="btn btn-outline-primary" href="{{ path('app_agenda_index', {location: stat.slug}) }}" title="L'agenda des événements {{ stat.atDisplayName }}">
                                    Sortir {{ stat.atDisplayName }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block head_js %}
    <script>
        var AppConfig = {
            "apiCityURL": "{{ url('api_cities') }}?q=%QUERY"
        };
    </script>
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
