{% extends 'layouts/full.html.twig' %}

{% block full_breadcrumb '' %}
{% block titre "Les événements dans votre ville" %}
{% block title "Le compagnon de vos sorties et soirées en France" %}
{% block meta_description 'Le compagnon pour vos sorties. Choisissez votre ville et découvrez les événements du moment !' %}

{% block body %}
    <section class="full_wrapper" style="background-image: url({{ asset('build/images/landing.jpg') }})">
        <div class="fade-black-transp"></div>
        <div class="wrapper">
            <h1>Bienvenue ! On fait quoi ?</h1>
            <div class="card no-margin-form search_container">
                <div class="card-body">
                    {{ form_start(autocomplete_form, { 'attr': {'class': 'form-city-picker m-0'} }) }}
                    {{ form_errors(autocomplete_form) }}
                    {{ form_row(autocomplete_form.from) }}
                    {{ form_row(autocomplete_form.to) }}
                    {{ form_row(autocomplete_form.name, {'label': 'Je veux sortir à'}) }}
                    {{ form_row(autocomplete_form.shortcut, {'label': 'Et', 'attr': {'data-from': autocomplete_form.from.vars.id, 'data-to': autocomplete_form.to.vars.id}}) }}
                    <div class="text-center">
                        <button class="btn btn-primary btn-raised choose-city-action" type="submit" disabled>
                            C'est parti
                        </button>
                    </div>
                    {{ form_rest(autocomplete_form) }}
                    {{ form_end(autocomplete_form) }}
                </div>
            </div>
        </div>
        <div class="footer_wrapper">
            <h2 class="text-primary h4">Trouvez votre idée de sortie parmis plus de 900K événements depuis 2013</h2>
        </div>
    </section>
    <section class="py-4">
        <div class="container">
            <h2>Ça bouge par ici</h2>
            <div class="row">
                {% for stat in stats %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h2 class="card-title">{{ stat.displayName }}</h2>
                                <h6 class="card-subtitle mb-2 text-muted">{{ stat.events }}</span> événement{{ stat.events > 1 ? 's' }} à venir</h6>
                                <a class="btn btn-outline-primary" href="{{ path('app_agenda_index', {'location': stat.slug}) }}" title="L'agenda des événements {{ stat.atDisplayName }}">
                                    Sortir {{ stat.atDisplayName }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block head_js %}
    <script>
        var AppConfig = {
            "apiCityURL": "{{ url('app_api_city') }}?q=%QUERY"
        };
    </script>
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
