<div class="card card-event card-layout {{ cardLayout|default('') }} row g-0 scroll-item">
    {% if event.status %}
        <div class="col-12 alert alert-warning mb-0">
            <twig:Icon name="lucide:triangle-alert" />
            <span>{{ event.status }}</span>
        </div>
    {% endif %}
    <div class="col-sm-3 col-lg-4 card-img-container">
        {% set original = eventProfilePicture.originalPicture(event) %}
        <div class="image-container">
            <a class="image-gallery" href="{{ original }}" title="{{ event.name }}">
                <twig:EventThumb event="{{ event }}" width="{{ 360 }}" lazy="{{ true }}" />
            </a>
        </div>
    </div>
    <div class="col-sm-9 col-lg-8 card-content">
        <div class="card-body">
            <h3 class="h5">
                <a title="Tous les détails de {{ event.name }}"
                   href="{{ path('app_event_details', {slug: event.slug, id: event.id, location: event.locationSlug}) }}">
                    <span>{{ event.name }}</span>
                </a>
            </h3>
            <div class="detail-item">
                {% set startDate = event.startDate|date('d/m/Y') %}
                {% set endDate = event.endDate|date('d/m/Y') %}

                <twig:Icon name="lucide:calendar-days" />
                <div>
                    {% if event.endDate == null or event.startDate == event.endDate %}
                        <time datetime="{{ event.startDate|date('Y-m-d\\TH:i:sO') }}">
                            {{ startDate }}
                        </time>
                    {% else %}
                        <time datetime="{{ event.startDate|date('Y-m-d\\TH:i:sO') }}">
                            {{ startDate }}
                        </time>
                        -

                        <time datetime="{{ event.endDate|date('Y-m-d\\TH:i:sO') }}">
                            {{ endDate }}
                        </time>
                    {% endif %}
                    <small class="text-muted">
                        {%- if event.timesheets|length > 0 and event.timesheets|first.hours %}
                            - {{ event.timesheets|first.hours }}
                            {%- if event.timesheets|length > 1 %} (+{{ event.timesheets|length - 1 }}){% endif %}
                        {%- elseif event.hours %}
                            - {{ event.hours }}
                        {%- endif -%}
                    </small>
                </div>
            </div>
            {% set place = event.place %}
            {% if event.placeName %}
                <div class="detail-item">
                    <twig:Icon name="lucide:map-pin" />
                    <div>
                        <span title="Sortir à {{ event.placeName }}">
                            <strong class="font-weight-normal">{{ event.placeName }}</strong>
                        </span>
                        {% if event.placeCity %}
                            <span>,
                                <span>{{ event.placeCity }}</span>
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if event.prices %}
                <div class="detail-item">
                    <twig:Icon name="lucide:ticket" />
                    <div>{{ event.prices }}</div>
                </div>
            {% endif %}
            {% if event.user %}
                <div class="detail-item">
                    <twig:Icon name="lucide:user" />
                    <div>
                        Par
                        <a class="one-line"
                           href="{{ path('app_user_index', {id: event.user.id, slug: event.user.slug}) }}"
                           title="Accédez au profil de {{ event.user.username }}">
                            {{ event.user.username }}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
