{% for event in events %}
    <a class="scroll-item list-group-item list-group-item-action d-flex w-100 align-items-center" title="{{ event.name }} à {{ event.placeName }}" href="{{ path('app_event_details', {slug: event.slug, id: event.id, location: event.locationSlug}) }}">
        <div class="list-group-item-date text-info" title="{{ event.endDate|format_date('full') }}">
            {% if event.endDate != event.startDate %}
                <small class="mb-1">{{ event.startDate|date('d') }} {{ (event.startDate|format_date('long')|split(' ')[1])[:3]|capitalize }}</small>
            {% endif %}
            <small>{{ event.endDate|date('d') }} {{ (event.endDate|format_date('long')|split(' ')[1])[:3]|capitalize }}</small>
        </div>
        <div class="list-group-item-content">
            <p class="mb-0 text-truncate">{{ event.name }}</p>
            <small class="text-muted text-truncate" title="{{ event.placeName }} à {{ event.placeCity }}">
                <strong>
                    {{ event.placeName }}
                </strong>
            </small>
        </div>
    </a>
{% else %}
    <div class="scroll-item p-3">
        <p>Aucun événement disponible. Vous avez une idée à proposer ?</p>
        <a href="{{ path('app_event_new') }}" class="btn btn-outline-primary">Créer un événement</a>
    </div>
{% endfor %}
