{{ fos_httpcache_tag('widget-event') }}
{% for event in events %}
    {{ fos_httpcache_tag(tags('event', event)) }}
    {{ fos_httpcache_tag(tags('place', event.place)) }}
    <a class="scroll-item list-group-item list-group-item-action d-flex w-100 align-items-center" title="{{ event.name }} à {{ event.placeName }}" href="{{ path('app_event_details', {'slug' : event.slug, 'id': event.id, 'location': event.locationSlug}) }}">
        <div class="list-group-item-date text-info" title="{{ event.endDate|format_date('full') }}">
            {% if event.endDate != event.startDate %}
                <small class="mb-1">{{ event.startDate|date('d/m') }} }}</small>
            {% endif %}
            <small>{{ event.endDate|date('d/m') }}</small>
        </div>
        <div class="list-group-item-content">
            <p class="mb-0 text-truncate">{{ event.name }}</p>
            <small class="text-muted text-truncate" title="{{ event.placeName }} à {{ event.placeCity }}">
                <strong>
                    {{ event.placeName }}
                </strong>
            </small>
        </div>
    </a>
{% else %}
    <div class="scroll-item p-3">
        <p>Aucun événement disponible. Vous avez une idée à proposer ?</p>
        <a href="{{ path('app_event_new') }}" class="btn btn-outline-primary">Créer un événement</a>
    </div>
{% endfor %}
