{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading bg-white">
                <h2 class="modal-title">Profil</h2>
            </div>
            <div class="panel-body">
                <div class="form-horizontal bloc_config">
                    <div class="form-group">
                        <label class="col-md-4 control-label">{{ 'profile.show.username'|trans }}</label>
                        <div class="col-md-8">
                            <p class="form-control-static">{{ user.username }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">{{ 'profile.show.email'|trans }}</label>
                        <div class="col-md-8">
                            <p class="form-control-static">{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Description</label>
                        <div class="col-md-8">
                            <p class="form-control-static">{{ user.description }}</p>
                        </div>
                    </div>
                </div>
                <br/>
                <a class="btn btn-info btn-block" href="{{ path('fos_user_profile_edit') }}">Modifier mes
                    informations</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading bg-white">
                <h2 class="modal-title">Réseaux sociaux</h2>
            </div>
            <div class="panel-body">
                {% for service in ['facebook','google','twitter'] %}
                    <div class="bloc_config">
                        {% include "Social/social.html.twig" with { 'info': app.user.info, 'service': service } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
