<div class="row g-0 text-center mt-4">
    <div class="col-4">
        <a class="social-facebook social big-social p-1" title="Inscrivez-vous avec Facebook"
           href="{{ path('login_social_start', {service: 'facebook'}) }}" data-bs-toggle="tooltip" data-placement="bottom" rel="nofollow">
            <i class="fa fa-facebook"></i>
        </a>
    </div>
    <div class="col-4">
        <a class="social-twitter social big-social p-1" title="Inscrivez-vous avec Twitter"
           href="{{ path('login_social_start', {service: 'twitter'}) }}" data-bs-toggle="tooltip" data-placement="bottom" rel="nofollow">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
    <div class="col-4">
        <a class="social-google social big-social p-1" title="Inscrivez-vous avec Google"
           href="{{ path('login_social_start', {service: 'google'}) }}" data-bs-toggle="tooltip" data-placement="bottom" rel="nofollow">
            <i class="fa fa-google"></i>
        </a>
    </div>
</div>

<div class="no-margin-form mt-4">
    {{ form_start(form, {'action': path('app_register')}) }}
    {% if error is defined and error %}
        <div class="alert alert-danger">
            <i class="fa fa-warning"></i>
            {{ error }}
        </div>
    {% endif %}

    {{ form_row(form.username, { 'help': '2 caractères au minimum, sans espace'}) }}
    {{ form_row(form.email, { 'help': 'Veuillez saisir une adresse mail valide'}) }}
    {{ form_row(form.plainPassword.first, { 'help': 'Soyez malin et adoptez un mot de passe sûr'}) }}
    {{ form_row(form.plainPassword.second, { 'help': 'Saisissez à nouveau votre mot de passe'}) }}
    {{ form_row(form.recaptcha) }}

    <script type="text/javascript">
        if (document.getElementById('google-recaptcha')) {
            onCaptchaReady();
        }
        window.grecaptcha = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.grecaptcha || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.async = true;
            js.defer = true;
            js.src = "https://www.google.com/recaptcha/api.js?onload=onCaptchaReady&render=explicit";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "google-recaptcha"));

        function onCaptchaReady() {
            grecaptcha.render('{{ form.recaptcha.vars.id }}', {
                'sitekey': document.getElementById('{{ form.recaptcha.vars.id }}').dataset.sitekey
            });
        }
    </script>

    {% if not partial %}
        <div class="text-center">
            <button class="btn btn-lg btn-primary" type="submit">
                Créer mon profil
            </button>
        </div>
    {% endif %}

    {{ form_rest(form) }}
    <br />
    <br />
    <p>
        Vous avez déjà un compte ?
        <a class="connexion" href="{{ path('app_login') }}" title="Connectez-vous sur By Night">
            Connectez-vous !
        </a>
    </p>
    {{ form_end(form) }}
</div>
