{% extends 'TBNSocialBundle::layout.html.twig' %}

{% block titre %}
    Connexion réussie
{% endblock %}
    
{% block title %}
    {{ block('titre') }}
{% endblock %}

{% set userInfo = {
        'username' : userInformation.realName,
        'email' : userInformation.email
    }
%}
    
{% block hwi_oauth_content %}
    <div class="alert alert-success">
        <i class="fa fa-check"></i> 
        {{ 'header.success' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}
    </div>
    <br />
    <div class="text-center">
        <i class="fa fa-spin fa-spinner"></i> Veuillez patienter, vous allez être redirigé vers la page d'accueil ...
    </div>
{% endblock hwi_oauth_content %}

    
{% block head_js %}
    {{ parent() }}  
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">        
        if(typeof window.opener !== "undefined" && window.opener !== null && window.opener.parent_elem !== "undefined")
        {
            window.opener
                    .$('body')
                    .trigger("hasConnected", {
                        'user': {{ userInfo|json_encode|raw }}, 
                        'target': window.opener.parent_elem
            });
            window.close();
        }else
        {
            document.location = "{{ path('tbn_agenda_index') }}";
        }
    </script>
{% endblock %}