{% if eventsData.page == 1 and eventsData.events|length == 0 %}
    <p>Aucun événement prévu à {{ eventsData.place.name }} pour le moment ! Vous souhaitez <a href="{{ path('app_event_new') }}">créer
            un événement à {{ eventsData.place.name }}</a> ?</p>
{% else %}
    {{ include('partials/event/_list-card.html.twig', {
        events: eventsData.events,
        microdata: false,
        cardLayout: 'card-layout-vertical',
    }) }}
    {% if eventsData.hasNextLink %}
        <a class="more-content btn btn-outline-primary btn-block" href="{{ eventsData.hasNextLink }}">Plus ({{ eventsData.current }}
            / {{ eventsData.count }})</a>
    {% endif %}
{% endif %}
