{% set isGranted = attribute(oAuth, service ~ 'AccessToken') != null %}

<div class="switch bloc_config">
    <label>
        <input type="checkbox"
            {{ isGranted ? "checked": "" }}
           data-href-disconnect="{% block url_disconnect path('app_disconnect_service_confirm', { 'service': service}) %}"
           data-href-connect="{% block url_connect path('login_social_start', {service: service}) %}" >
        {{ service|capitalize }}
        <span class="when_on {{ isGranted ? "show" : "hidden" }} text-primary">
            Connecté sous
            <span class="username">
                {% if service == 'twitter' %}
                    @{{ attribute(oAuth, service ~ "NickName") }}
                {% else %}
                    {{ attribute(oAuth, service ~ "Realname") }}
                {% endif %}
            </span>
        </span>
    </label>
</div>
