{% set isGranted = attribute(info, service ~ 'AccessToken') != null %}

<div class="togglebutton form-group bloc_config">
    <label class="full_width">
        {{ service|capitalize }}
        <input type="checkbox"
               class="onoffswitch-checkbox"
                {{ isGranted ? "checked": "" }}
               data-href-disconnect="{% block url_disconnect %}{{ path('app_disconnect_service_confirm', { 'service': service}) }}{% endblock %}"
               data-href-connect="{% block url_connect %}{{ hwi_oauth_login_url(service) }}{% endblock %}">
    </label>
    <span class="when_on {{ isGranted ? "show" : "hidden" }} help-block text-primary">
        Connecté sous
        <span class="username">
            {{ service == 'twitter' ? '@': '' }}{{ attribute(info,service ~ "NickName") }}
        </span>
    </span>
</div>
