{% import 'form/macros.html.twig' as macros %}

{% if user.showSocials %}
    {% set oAuth = user.oAuth %}

    {% if oAuth and (oAuth.facebookAccessToken or oAuth.twitterNickname) %}
        <div class="card-body">
            {% if oAuth.facebookAccessToken %}
                <a class="social-facebook social" href="https://www.facebook.com/{{ oAuth.facebookId }}"
                   title="{{ oAuth.facebookRealname }} sur Facebook">
                    {{ macros.icon('fa7-brands:facebook-f') }}
                </a>
            {% endif %}

            {% if oAuth.twitterNickname %}
                <a class="social-twitter social" href="https://twitter.com/{{ oAuth.twitterNickname }}"
                   title="{{ oAuth.twitterRealname }} sur Twitter">
                    {{ macros.icon('fa7-brands:x-twitter') }}
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
