{% if is_granted('ROLE_USER') %}
    {{ form_start(form) }}

    <div class="comment-form-user">
        <twig:UserThumb user="{{ app.user }}" width="{{ 75 }}" height="{{ 75 }}" lazy="{{ true }}" />
        <strong>{{ app.user.username }}</strong>
    </div>
    <div class="comment-form-input">
        {% block form_comment %}
            {{ form_row(form.comment, {
                attr: {
                    placeholder: 'Écrire un commentaire...',
                    rows: 3,
                },
            }) }}
        {% endblock %}
        <button type="submit" class="btn btn-primary btn-submit">Envoyer</button>
    </div>
    {{ form_rest(form) }}
{% else %}
    <div class="text-center">
        <a class="btn btn-outline-secondary login" title="Se connecter pour laisser un commentaire"
           href="{{ path('app_login') }}">
            Laisser un commentaire
        </a>
    </div>
{% endif %}
