{% import 'Form/macros.html.twig' as macros %}
<div class="commentaires">
    {% for comment in comments %}
        <div class="row comment">
            <div class="col col-auto">
                {{ macros.userThumb(comment.user, 115, 115) }}
            </div>
            <div class="col">
                <div class="infos">
                    <a href="{{ path('app_user_details', {'id': comment.user.id, 'slug': comment.user.slug}) }}">{{ comment.user.username }}</a>
                    <small class="text-muted" title="{{ comment.createdAt|format_datetime('medium', 'medium')|capitalize }}">
                        {{ comment.createdAt|diff_date }}
                    </small>
                </div>
                <p>
                    {{ comment.commentaire|striptags('<i><b>')|nl2br|parse_tags|raw }}
                </p>
            </div>
        </div>
    {% endfor %}

    {% if nb_comments > ((page)*offset) %}
        {% block load_more %}
            <div class="load_more" data-url="{{ path('app_comment_list',{'id': event.id ,'page': (page+1) }) }}">
                <button type="button" class="btn btn-outline-primary">
                    Plus
                </button>
            </div>
        {% endblock %}
    {% endif %}
</div>
