{% import 'form/macros.html.twig' as macros %}
<div class="block_poster_commentaire mb-3">
    {% if is_granted("ROLE_USER") %}
        {{ form_start(form) }}
        {{ form_errors(form.commentaire) }}

        <div>
            {{ macros.userLazyThumb(app.user, 50, 50) }}
            <strong class="ms-2">{{ app.user.username }}</strong>
        </div>
        {% block form_commentaire %}
            {{ form_row(form.commentaire) }}
        {% endblock %}
        <button type="submit" class="btn btn-primary btn-submit btn-raised">Poster</button>

        {{ form_rest(form) }}
    {% else %}
        <div class="text-center mt-4">
            <a class="btn btn-outline-secondary connexion" title="Se connecter pour laisser un commentaire"
               href="{{ path('app_login') }}">
                Laisser un commentaire
            </a>
        </div>
    {% endif %}
</div>
