{% import 'form/macros.html.twig' as macros %}
{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key == 'error' ? 'danger' : key }}">
            <div class="container-lg">
                {% if key == 'info' %}
                    {{ macros.icon('lucide:info') }}
                {% elseif key == 'error' %}
                    {{ macros.icon('lucide:triangle-alert') }}
                {% elseif key == 'success' %}
                    {{ macros.icon('lucide:check') }}
                {% endif %}
                {{ message|trans|raw }}
            </div>
        </div>
    {% endfor %}
{% endfor %}
