<div class="navbar navbar-material-light-blue-300 navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('tbn_agenda_index') }}" class="navbar-brand" title="Accueil"><strong>{{ site.nom }} By Night</strong></a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a title="Créez votre événement en 1 clic !" href="{{ path('tbn_agenda_new') }}">Créer un événement</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") -%}
                    <li>
                        <a title="Voir mes soirées" href="{{ path('tbn_agenda_list') }}">Mes événements</a>
                    </li>
                {%- endif %}
            </ul>
            
            <form action="{{ path('tbn_search_query') }}" method="GET" class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Que cherchez-vous ?" name="q" value="{{ app.request.get('q')|trim }}" autofocus>
                    <span class="input-group-btn">
                         <button class="btn btn-primary btn-normal" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
    
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("ROLE_ADMIN") %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('tbn_administration_info_index') }}">Réseaux Sociaux</a></li>                    
                        <li><a href="{{ path('tbn_administration_site_index') }}">Sites</a></li>                    
                        <li><a href="{{ path('tbn_administration_historique_index') }}">Historique</a></li>                    
                    </ul>
                </li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ app.user.username }} 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a title="Accéder à mon compte" href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>                    
                            <li><a title="Accéder à mon profil public" href="{{ path('tbn_user_details', {'username' : app.user.username}) }}">Mon profil</a></li>                    
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>                                     
                        </ul>
                    </li>                  
                {% else %}
                    <li>
                        <a class="register" title="Inscrivez-vous sur {{ site.nom }} By Night" href="{{ path('fos_user_registration_register') }}" >
                            Rejoignez-nous
                        </a>
                    </li>
                    <li>
                        <a class="connexion" title="Connectez-vous sur {{ site.nom }} By Night" href="{{ path('fos_user_security_login') }}" >
                            Connexion
                        </a>
                    </li>
                {% endif %}
            </ul>            
        </div>        
    </div>
</div>
