{% trans_default_domain 'FOSUserBundle' %}

<br />
<br />
<div class="row text-center">
    <div class="col-xs-4 preserve">
        <a class="social-facebook social big-social app_tooltip" title="Inscrivez-vous avec Facebook"
           href="{{ hwi_oauth_login_url('facebook') }}" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-facebook"></i>
        </a>
    </div>
    <div class="col-xs-4 preserve">
        <a class="social-twitter social big-social app_tooltip" title="Inscrivez-vous avec Twitter"
           href="{{ hwi_oauth_login_url('twitter') }}" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
    <div class="col-xs-4 preserve">
        <a class="social-google social big-social app_tooltip" title="Inscrivez-vous avec Google"
           href="{{ hwi_oauth_login_url('google') }}" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-google"></i>
        </a>
    </div>
</div>
<br />
<br />

<div class="no-margin-form">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {% if error is defined and error %}
        <div class="alert alert-danger">
            <i class="fa fa-warning"></i>
            {{ error }}
        </div>
    {% endif %}

    {{ form_row(form.username, { 'widget_class': 'form-group-lg', 'attr': { 'placeholder': '2 caractères au minimum, sans espace'} }) }}
    {{ form_row(form.email, { 'widget_class': 'form-group-lg', 'attr': { 'placeholder': 'Veuillez saisir une adresse mail valide'} } ) }}
    {{ form_row(form.plainPassword.first, { 'widget_class': 'form-group-lg', 'attr': { 'placeholder': 'Soyez malin et adoptez un mot de passe sûr'} } ) }}
    {{ form_row(form.plainPassword.second, { 'widget_class': 'form-group-lg', 'attr': { 'placeholder': 'Saisissez à nouveau votre mot de passe'} } ) }}
    {{ form_row(form.recaptcha) }}

    <script>
        if (document.getElementById('google-recaptcha')) {
            onCaptchaReady();
        }
        window.grecaptcha = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.grecaptcha || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.async = true;
            js.defer = true;
            js.src = "//www.google.com/recaptcha/api.js?onload=onCaptchaReady&render=explicit";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "google-recaptcha"));

        function onCaptchaReady() {
            grecaptcha.render('{{ form.recaptcha.vars.id }}', {
                'sitekey': document.getElementById('{{ form.recaptcha.vars.id }}').dataset.sitekey
            });
        }
    </script>

    {% if not partial %}
        <button id="_register" class="btn btn-primary {{ partial ? 'btn-flat' : 'btn-raised' }}" type="submit">
            Créer mon profil
        </button>
    {% endif %}

    {{ form_rest(form) }}
    <br />
    <br />
    <p>
        Vous avez déjà un compte ?
        <a class="connexion" href="{{ path('fos_user_security_login') }}" title="Connectez-vous sur By Night">
            Connectez-vous!
        </a>
    </p>
    {{ form_end(form) }}
</div>
