{% for soiree in soirees %}
    {% set nomSoiree = soiree.nom %}
    <div class="widget_item">
        <div class="row">
            <div class="col-xs-3 col-md-2 min_membre preserve text-center color-second"
                 title="{{ soiree.dateFin|localizeddate('full','none') }}">
                <span class="number thin">{{ soiree.dateFin|date('d') }}</span>
                <span class="month thin">{{ (soiree.dateFin|localizeddate('long','none')|split(' ')[1])[:3]|capitalize }}</span>
            </div>
            <div class="col-xs-9 col-md-10 preserve">
                <h4 class="modal-title">
                    <a title="Tous les détails de {{ nomSoiree }}"
                       href="{{ path('tbn_agenda_details', {'slug' : soiree.slug}) }}">{{ nomSoiree }}</a>
                </h4>
                <span class="text-primary"
                      title="{{ soiree.place and soiree.place.ville ? soiree.place.ville : '' }}">{{ soiree.place ? soiree.place.nom : '' }}</span>
                {% set distinctTags = soiree.distinctTags %}
                {% if distinctTags|length %}
                    <br/>
                    {% for tag in distinctTags %}
                        <a class="label label-info" title="{{ tag }} à {{ site.nom }}"
                           href="{{ path('tbn_agenda_tags', {'tag' : tag|trim}) }}">
                            <strong>{{ tag }}</strong>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% if soirees|length == maxItems|default(0) %}
    <div class="more-content"></div>
{% endif %}
