{% for user in membres %}
{% set imageURL = user.profileDefault ? user.profileDefault : 'img/empty_user.png'|imagine_filter('thumb_user') %}
<div class="widget_item">
    <div class="row">
        <div class="col-xs-3 col-md-2 preserve min_membre">
            <img class="margin-auto img img-responsive img-circle" alt="{{ user.username }}" src="{{ imageURL }}" />
        </div>
        <div class="col-xs-9 col-md-10 preserve text-left">
            <h4 class="modal-title">
                <a href="{{ path('tbn_user_details', {'username': user.username} ) }}" title="Accédez au profil de {{ user.username }}">
                    {{ user.username }}
                </a>
            </h4>
            Membre depuis le <span class="text-primary number">{{ user.dateCreation|date("d/m/Y") }}</span>
        </div>
    </div>
</div>
{% endfor %}
