{% for programme in programmes %}
    <div class="widget_item">
        <div class="row">
            <div class="col-xs-3 preserve">
                <img height="30" width="70" src="{{ programme.logo }}" title="{{ programme.chaine }}" />
            </div>
            <div class="col-xs-9 preserve">
                <div>
                    <a href="{{ programme.lien }}" >{{ programme.nom }}</a>
                </div>            
                <div>{{ programme.heure }}</div>
                <div class="color-primary">{{ programme.type }}</div>
            </div>
        </div>
    </div>
{% endfor %}