{% for programme in programmes %}
    <div class="widget_item">
        <div class="row">
            <div class="col-xs-3 col-md-2 min_membre preserve">
                {% if programme.css_chaine %}
                    <div class="chaine {{ programme.css_chaine }}"></div>
                {% else %}
                    <img height="30" width="70" class="img img-responsive" src="{{ programme.logo }}"
                         title="{{ programme.chaine }}"/>
                {% endif %}
            </div>
            <div class="col-xs-9 col-md-10 preserve">
                <h4 class="modal-title">
                    <a href="{{ programme.lien }}" rel="nofollow">{{ programme.nom }}</a>
                </h4>
                <span class="number text-primary">{{ programme.heure }}</span>
                <div>{{ programme.type }}</div>
            </div>
        </div>
    </div>
{% endfor %}
