{% set no_ad = true %}
{% extends "base.html.twig" %}

{% block start_container -%}
<div>
{%- endblock %}

{% block titre "Découvrez où sortir dans votre ville"%}
{% block title "Choisissez votre ville" %}

{% block meta_description -%}
    Choisissez votre ville et découvrez les événements du moment !
{%- endblock %}

{% block container_titre %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ app_asset('evenements/css/index.min.css', 'asset') }}" type="text/css">
{% endblock %}

{% block js -%}
    <script>
        $(document).ready(function() {
            $('.form-city-picker').each(function() {
                var form = $(this);
                var btn = form.find('.choose-city-action');
                btn.attr('disabled', false);

                $(this).submit(function() {
                    return !btn.attr('disabled');
                });

                // Saisie de la ville
                var field = form.find('.city-picker');

                var cities = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: AppConfig.apiCityURL,
                        wildcard: '%QUERY'
                    }
                });
                cities.initialize();

                // Proxy inputs typeahead events to addressPicker
                field.typeahead(null, {
                    name: 'cities',
                    display: 'name',
                    source: cities.ttAdapter()
                }).on('typeahead:selected', function (e, data) {
                    form.find('.city-value').val(data.slug || '');
                });
            });
        });

        function initMap() {
            CityPicker.init();
        }

        var CityPicker = {
            VENDOR_ID: 'gmap',
            VENDOR_SCRIPT_URL: "//maps.googleapis.com/maps/api/js?key=" + AppConfig.googleMapKey + "&language=fr&libraries=places&callback=initMap",

            init: function() {
                $(".form-city-picker").each(function() {
                    var $btn = $(this).find('.choose-city-action');
                    $btn.attr('disabled', false);

                    // Saisie de la ville
                    var $field = $(this).find('.city-picker');

                    // Instantiate the placePicker suggestion engine (based on bloodhound)
                    var placePicker = new AddressPicker({
                        autocompleteService: {
                            types: ['(cities)']
                        }
                    });

                    // Proxy inputs typeahead events to addressPicker
                    placePicker.bindDefaultTypeaheadEvent($field);
                    $field.typeahead(null, {
                        displayKey: 'description',
                        source: placePicker.ttAdapter()
                    }).on('typeahead:selected', function (e, data) {
                            console.log("SELECTION", data);
//                        $(this).typeahead('val', data.terms[0].value).blur();
                    });
                });
            },
            load: function() {
                if(! CityPicker.isLoaded()) {
                    CityPicker.loadScript(CityPicker.VENDOR_SCRIPT_URL);
                }
            },
            isLoaded: function() {
                return $("#" + CityPicker.VENDOR_ID).length > 0;
            },
            loadScript: function(src) {
                var s = document.createElement('script');
                s.id = CityPicker.VENDOR_ID;
                s.async = true;
                s.defer = true;
                s.type = 'text/javascript';
                s.src = src;

                var t = document.getElementsByTagName('head')[0];
                t.appendChild(s);
            }
        };
    </script>
{%- endblock %}

{% block helper_top %}
<section class="full_wrapper" style="background-image: url({{ app_asset('img/landing.jpg') }})">
    <div class="fade-black-transp"></div>
    <div class="wrapper">
        <h1 class="titrebloc text-center">{{ block('titre') }}</h1>
        <div class="row">
            <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 no-margin-form panel panel-primary search_container img-rounded">
                {{ form_start(autocomplete_form, { 'action': path('app_change_city'), 'attr': {'class': 'form-city-picker'} }) }}
                    <div class="form-group">
                        <div class="input-group">
                            {{ form_errors(autocomplete_form.city) }}
                            {{ form_widget(autocomplete_form.name) }}
                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-block btn-primary btn-raised choose-city-action" type="submit" disabled>Choisir</button>
                            </div>
                        </div>
                    </div>
                {{ form(autocomplete_form) }}
                {{ form_end(autocomplete_form) }}
            </div>
        </div>
    </div>
    <div class="footer_wrapper">
        <h2 class="text-primary number number-xbig">Trouvez votre idée de sortie parmis plus de 400K événements</h2>
    </div>
</section>
{% endblock %}
