{{ fos_httpcache_tag('block-place' ) }}
{{ fos_httpcache_tag(tags('place', place)) }}
{% if page == 1 and events|length == 0 %}
    <p>Aucun événement prévu à {{ place.nom }} pour le moment ! Vous souhaitez <a href="{{ path('app_event_new') }}">créer
            un événement à {{ place.nom }}</a> ?</p>
{% else %}
    {% include 'city/event/block-preview-event.html.twig' with({"events": events, "microdata" : false, "forceCard": true}) %}
    {% if hasNextLink %}
        <a class="more-content btn btn-outline-primary btn-block" href="{{ hasNextLink }}">Plus ({{ current }}
            / {{ count }})</a>
    {% endif %}
{% endif %}
