{{ fos_httpcache_tag('block-place' ) }}
{{ fos_httpcache_tag(tags('place', place)) }}
{% if page == 1 and soirees|length == 0 %}
    <p>Aucun événement prévu à {{ place.nom }} pour le moment ! Vous souhaitez <a href="{{ path('app_agenda_new') }}">créer
            un événement à {{ place.nom }}</a> ?</p>
{% else %}
    {% include "City/Event/block_preview_event.html.twig" with({"events": soirees, "microdata" : false}) %}
    {% if hasNextLink %}
        <a class="more-content btn btn-primary btn-raised btn-block" href="{{ hasNextLink }}">Plus ({{ current }}
            / {{ count }})</a>
    {% endif %}
{% endif %}
