{{ fos_httpcache_tag('widget-event') }}
{% for event in events %}
    {{ fos_httpcache_tag(tags('event', event)) }}
    {{ fos_httpcache_tag(tags('place', event.place)) }}
    <div class="widget_item">
        <div class="row no-gutters">
            <div class="col col-auto text-center text-info" title="{{ event.dateFin|localizeddate('full','none') }}">
                {% if event.dateFin != event.dateDebut %}
                    <span class="d-block month">{{ event.dateDebut|date('d') }} {{ (event.dateDebut|localizeddate('long','none')|split(' ')[1])[:3]|capitalize }}</span>
                {% endif %}
                <span class="d-block month">{{ event.dateFin|date('d') }} {{ (event.dateFin|localizeddate('long','none')|split(' ')[1])[:3]|capitalize }}</span>
            </div>
            <div class="col pl-2">
                <h4 class="h6 mb-0">
                    <a title="{{ event.nom }} à {{ event.placeName }}" href="{{ path('app_event_details', {'slug' : event.slug, 'id': event.id, 'location': event.locationSlug}) }}">
                        {{ event.nom }}
                    </a>
                </h4>
                <small class="d-block text-muted text-uppercase" >
                    <strong title="{{ event.placeCity }}">
                        {{ event.placeName }}
                    </strong>
                </small>
                {% set distinctTags = event.distinctTags %}
                {% if distinctTags|length %}
                    {% for tag in distinctTags %}
                        {% if event.place.city %}
                            <a class="badge badge-info"
                               title="{{ tag }} à {{ event.place.city.name }}"
                               href="{{ path('app_agenda_tags', {'tag' : tag|trim, 'location': event.place.locationSlug}) }}">
                                <strong>{{ tag }}</strong>
                            </a>
                        {% else %}
                            <a class="badge badge-info"
                               title="{{ tag }} en {{ event.place.country.name }}"
                               href="{{ path('app_agenda_tags', {'tag' : tag|trim, 'location': event.place.locationSlug}) }}">
                                <strong>{{ tag }}</strong>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <p>Aucun événement disponible. Pourquoi ne pas en <a href="{{ path('app_event_new') }}">créer un ?</a></p>
{% endfor %}
{% if hasNextLink %}
    <a class="more-content btn btn-outline-primary btn-block" href="{{ hasNextLink }}">Plus ({{ current }}
        / {{ count }})</a>
{% endif %}

