{% for user in membres %}
    {% set imageURL = userProfilePicture.getProfilePicture(user, 'thumb_user_50') %}
    <div class="widget_item">
        <div class="row">
            <div class="col-xs-3 col-md-2 preserve min_membre">
                <img class="margin-auto img img-responsive img-circle" alt="{{ user.username }}" src="{{ imageURL }}"/>
            </div>
            <div class="col-xs-9 col-md-10 preserve text-left">
                <h4 class="modal-title">
                    <a href="{{ path('app_user_details', {'id': user.id, 'slug': user.slug} ) }}" title="Accédez au profil de {{ user.username }}">
                        {{ user.username|capitalize }}
                    </a>
                </h4>
                Connecté <span class="text-primary number">{{ user.lastLogin|diff_date }}</span>
            </div>
        </div>
    </div>
{% endfor %}
{% if hasNextLink is defined and hasNextLink %}
    <a class="more-content btn btn-primary btn-raised btn-block" href="{{ hasNextLink }}">Plus ({{ current }}
        / {{ count }})</a>
{% endif %}
