{{ fos_httpcache_tag('block-user') }}
{% for user in membres %}
    {% set nbEvents = user.nb_events %}
    {% set user = user[0] %}
    {{ fos_httpcache_tag(tags('user', user)) }}
    {% set imageURL = userProfilePicture.getProfilePicture(user, 'thumb_user_50') %}
    <div class="widget_item">
        <div class="row">
            <div class="col-3 col-md-2 preserve min_membre">
                <img class="mx-auto img img-fluid rounded-circle" alt="{{ user.username }}" src="{{ imageURL }}"/>
            </div>
            <div class="col-9 col-md-10 preserve text-left">
                <h4>
                    <a href="{{ path('app_user_details', {'id': user.id, 'slug': user.slug} ) }}" title="Accédez au profil de {{ user.username }}">
                        {{ user.username|capitalize }}
                    </a>
                </h4>
                {% if nbEvents > 0 %}
                    <span class="text-primary number">{{ nbEvents }} événement{{ nbEvents > 1 ? 's' :'' }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% if hasNextLink is defined and hasNextLink %}
    <a class="more-content btn btn-outline-primary btn-block" href="{{ hasNextLink }}">Plus ({{ current }}
        / {{ count }})</a>
{% endif %}
