{{ fos_httpcache_tag(tags('tendances', event)) }}
<div class="text-center">
    <div class="btn-group btn-group-justified" data-toggle="buttons">
        <a href="{{ not is_granted("IS_AUTHENTICATED_REMEMBERED") ? path('fos_user_security_login') : "#" }}"
           class="btn btn-raised participer {{ not is_granted("IS_AUTHENTICATED_REMEMBERED") ? ' connexion' : '' }} {{ participer ? "btn-primary" : "btn-secondary" }}"
           data-href="{{ path('app_user_participer', {'id' : event.id}) }}">
            <i class="fa fa-check check{{ participer ? '' : ' hidden' }}"></i>
            <input type="radio" name="interet"/> J'y serai
        </a>
        <a href="{{ not is_granted("IS_AUTHENTICATED_REMEMBERED") ? path('fos_user_security_login') : "#" }}"
           class="btn btn-raised interesser{{ not is_granted("IS_AUTHENTICATED_REMEMBERED") ? ' connexion' : '' }} {{ interet ? "btn-primary" : "btn-secondary" }}"
           data-href="{{ path('app_user_interesser', {'id' : event.id}) }}">
            <i class="fa fa-check check{{ interet ? '' : ' hidden' }}"></i>
            <input type="radio" name="interet"/> Ça m'interesse
        </a>
    </div>

    <!-- Stats -->
    <div>
        <strong class="number number-xbig">{{ count_participer }}</strong>
        <span class="text-primary">participant{{ count_participer > 1 ? "s" : "" }}</span>
        <strong class="number number-xbig"> / {{ count_interets }}</strong>
        <span class="text-primary">interessé{{ count_interets > 1 ? "s" : "" }}</span>
    </div>
    <!-- ./Stats -->
</div>

<br/>
<!-- Membres -->
<div class="tendance">
    {% include "City/Hinclude/membres.html.twig" with({'membres': tendances }) %}
</div>
<!-- ./Membres -->
