{% set no_ads = true %}
{% set partial = app.request.xmlHttpRequest %}

{% extends partial ? "TBNUserBundle::layout.json.twig" : "TBNUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title_espace %}
    Connexion
{% endblock %}

{% block titre_espace %}
    Connectez-vous sur <strong>{{ site.nom }} By Night</strong>
{% endblock %}

{% block breadcrumb_espace %}
    {% set item = menu.addItem("Connexion", path('fos_user_security_login')) %}
{% endblock %}
    
{% block meta_keywords_espace %}connexion,login,{% endblock %}
    
{% block meta_description_espace %}
    Connectez-vous sur {{ block('nom_site') }}, créez vos propres événements et partagez les automatiquement avec vos amis sur les réseaux sociaux !
{% endblock %}

{% block fos_user_content %}
    <br/>
    <br/>
    <div class="row text-center">
        <div class="col-xs-4 preserve">
            <a class="social-facebook big-social tbn_tooltip" title="Connectez vous avec Facebook"
               href="{{ hwi_oauth_login_url('facebook') }}" data-toggle="tooltip" data-placement="bottom"></a>
        </div>
        <div class="col-xs-4 preserve">
            <a class="social-twitter big-social tbn_tooltip" title="Connectez vous avec Twitter"
               href="{{ hwi_oauth_login_url('twitter') }}" data-toggle="tooltip" data-placement="bottom"></a>
        </div>
        <div class="col-xs-4 preserve">
            <a class="social-googleplus big-social tbn_tooltip" title="Connectez vous avec Google+"
               href="{{ hwi_oauth_login_url('google') }}" data-toggle="tooltip" data-placement="bottom"></a>
        </div>
    </div>
    <br/>
    <br/>
    <form action="{{ path('fos_user_security_check') }}" method="post" role="form">
        {% if error is defined and error %}
            <div class="alert alert-danger">
                <i class="fa fa-warning"></i>
                {{ error }}
            </div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <div class="form-group form-group-lg label-static">
            <label for="username" class="control-label">{{ 'security.login.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                   required="required"/>
        </div>

        <div class="form-group form-group-lg label-static">
            <label for="password" class="control-label">{{ 'security.login.password'|trans }}</label>
            <input class="form-control" type="password" id="password" name="_password" required="required"/>
        </div>
        <div class="checkbox checkbox-primary">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked/>
                {{ 'security.login.remember_me'|trans }}
            </label>
            <a class="pull-right" href="{{ path('fos_user_resetting_request') }}"
               title="Récupérez votre mot de passe oublié">Mot de passe perdu?</a>
        </div>
        {% if not partial %}
            {% include "TBNUserBundle:Security:block_buttons.html.twig" %}
        {% endif %}
        <br/>
        <br/>
        <p>
            Pas encore inscrit ?
            <a class="register" href="{{ path('fos_user_registration_register') }}"
               title="Rejoignez {{ site.nom }} By Night en vous inscrivant">
                Rejoignez-nous dès maintenant !
            </a>
        </p>
    </form>
{% endblock %}

   
{% block form_action_espace %}
    {{ path('fos_user_security_check') }}
{% endblock %}

{% block modal_buttons_espace %}
    {% include "TBNUserBundle:Security:block_buttons.html.twig" %}
{% endblock %}
