{{ form_start(form, {'attr': {'id': 'search-form'}}) }}
{{ form_errors(form) }}
<div class="block_criteres card">
    <h2 class="card-header h3">
        <i class="fa fa-calendar text-primary"></i>
        Agenda
    </h2>
    <div class="card-body">
        <div class="row main_criteres">
            <div class="col-md-6">
                {{ form_widget(form.from) }}
                {{ form_widget(form.to) }}
                {{ form_errors(form.from) }}
                {{ form_errors(form.to) }}
                {{ form_row(form.shortcut, {'label': 'Quand ?'}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.type_manifestation) }}
            </div>
        </div>
        {% if search.term or search.range != 25 %}
            {% set options = {hiddenClass: '', iconClass: 'fa-chevron-up'} %}
        {% else %}
            {% set options = {hiddenClass: 'hidden cache', iconClass: 'fa-chevron-down'} %}
        {% endif %}
        <div class="d-flex flex-wrap w-100">
            <button type="submit" class="btn btn-primary btn-raised">Rechercher</button>
            <button type="button" class="ms-auto btn_criteres btn btn-sm btn-outline-secondary mt-2 mt-sm-0">
                <i class="fa {{ options.iconClass }}"></i>
                Recherche avancée
            </button>
        </div>
        <div class="{{ options.hiddenClass }} criteres">
            <div class="row">
                <div class="col-md-9">
                    {{ form_row(form.term) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.range) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
