{{ form_start(form) }}
{{ form_errors(form) }}
<div class="block_criteres card card-primary">
    <h2 class="card-header">
        <i class="fa fa-search text-primary "></i>
        Trouvez une idée sortie
    </h2>
    <div class="card-body">
        <div class="form-row main_criteres">
            <div class="col">
                <div class="form-group">
                    <label for="shorcuts_date">Quand ?</label>
                    <select name="shortcut" id="shorcuts_date" class="form-control shorcuts_date">
                        <option data-date-debut="{{ "now"|date('d/m/Y') }}"
                                value="today" {{ app.request.get('shortcut') == 'today' ? 'selected': '' }}>
                            Aujourd'hui
                        </option>
                        <option data-date-debut="{{ "tomorrow"|date('d/m/Y') }}"
                                value="tomorrow" {{ app.request.get('shortcut') == 'tomorrow' ? 'selected': '' }}>
                            Demain
                        </option>
                        <option data-date-debut="{{ "friday this week"|date('d/m/Y') }}"
                                data-date-fin="{{ "sunday this week"|date('d/m/Y') }}"
                                value="weekend" {{ app.request.get('shortcut') == 'weekend' ? 'selected': '' }}>
                            Ce Week-End
                        </option>
                        <option data-date-debut="{{ "monday this week"|date('d/m/Y') }}"
                                data-date-fin="{{ "sunday this week"|date('d/m/Y') }}"
                                value="week" {{ app.request.get('shortcut') == 'week' ? 'selected': '' }}>
                            Cette semaine
                        </option>
                        <option data-date-debut="{{ "first day of this month"|date('d/m/Y') }}"
                                data-date-fin="{{ "last day of this month"|date('d/m/Y') }}"
                                value="month" {{ app.request.get('shortcut') == 'month' ? 'selected': '' }}>
                            Ce mois
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                {{ form_row(form.type_manifestation) }}
            </div>
            <div class="col-md-3 col-12">
                <button type="submit" class="btn btn-primary btn-raised">Go</button>
            </div>
        </div>
        {% if not isValid or (isPost and (search.au or search.lieux or search.term or search.range != 25 or isValid)) %}
            {% set options = {hiddenClass: '', iconClass: 'fa-chevron-up'} %}
        {% else %}
            {% set options = {hiddenClass: 'hidden cache', iconClass: 'fa-chevron-down'} %}
        {% endif %}
        <div class="row">
            <div class="col-8">
                <button type="button" class="btn_criteres btn btn-outline-primary">
                    <i class="fa {{ options.iconClass }}"></i>
                    Recherche avancée
                </button>
            </div>

        </div>
        <div class="{{ options.hiddenClass }} criteres">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(form.du) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.du) }}
                            {{ form_errors(form.du) }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(form.au) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.au) }}
                            {{ form_errors(form.au) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    {{ form_label(form.range) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.range) }}
                        {{ form_errors(form.range) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.lieux) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.lieux) }}
                        {{ form_errors(form.lieux) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.term) }}
                    <div class="col-sm-7">
                        {{ form_widget(form.term) }}
                        {{ form_widget(form.term) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
