{% import "form/macros.html.twig" as macros %}
{% if microdata is not defined %}
    {% set microdata = true %}
{% endif %}
{{ fos_httpcache_tag('block-event') }}
{% for i, event in events %}
    {{ fos_httpcache_tag(tags('event', event)) }}
    {{ fos_httpcache_tag(tags('place', event.place)) }}
    <div class="card scroll-item" {% if microdata %}itemscope itemtype="http://schema.org/Event"{% endif %}>
        <div class="row align-items-center g-0 event">
            {% if event.modificationDerniereMinute %}
                <div class="col-12">
                    <div class="alert alert-warning mb-0">
                        <i class="fa fa-warning"></i>
                        <span {% if microdata %}itemprop="eventStatus"{% endif %}> {{ event.modificationDerniereMinute }}</span>
                    </div>
                </div>
            {% endif %}
            <div class="{% if forceCard|default(false) %}col-12{% else %}col-sm-3 col-lg-4{% endif %} image_soiree">
                {% set original = eventProfilePicture.originalPicture(event) %}
                {% if microdata %}
                    <meta itemprop="image" content="{{ original }}" />
                {% endif %}
                <div class="image-container">
                    {% if event.fbParticipations %}
                        <span class="badge badge-warning">
                            <i class="fab fa-facebook-f"></i>
                            <span class="number">{{ event.fbParticipations }}</span>
                        </span>
                    {% endif %}
                    <a class="image-gallery" href="{{ original }}" title="{{ event.nom }}">
                        {{ macros.eventLazyThumb(event, 400, 200) }}
                    </a>
                </div>
            </div>
            <div class="{% if forceCard|default(false) %}col-12{% else %}col-sm-9 col-lg-8{% endif %} description_evenement">
                <div class="card-body">
                    <h3 class="h5">
                        <a title="Tous les détails de {{ event.nom }} "
                           href="{{ path('app_event_details', {'slug': event.slug, 'id': event.id, 'location': event.locationSlug}) }}"
                           {% if microdata %}itemprop="url"{% endif %}>
                            <span {% if microdata %}itemprop="name"{% endif %}>{{ event.nom }}</span>
                        </a>
                    </h3>
                    <div class="detail-item">
                        {% set dateDebut = event.dateDebut|date('d/m/Y') %}
                        {% set dateFin = event.dateFin|date('d/m/Y') %}

                        <i class="fa fa-calendar"></i>
                        <span>
                        {% if event.dateFin == null or ( event.dateFin != null and event.dateDebut == event.dateFin) %}
                            {% if microdata %}
                                <meta itemprop="endDate" content="{{ event.dateDebut|date('Y-m-d\\TH:i:sO') }}" />
                            {% endif %}

                            <time {% if microdata %}itemprop="startDate"{% endif %}
                                  datetime="{{ event.dateDebut|date('Y-m-d\\TH:i:sO') }}">
                                {{ dateDebut }}
                        </time>
                        {% else %}
                            <time {% if microdata %}itemprop="startDate"{% endif %}
                                  datetime="{{ event.dateDebut|date('Y-m-d\\TH:i:sO') }}">
                                {{ dateDebut }}
                            </time>
                            -

                            <time {% if microdata %}itemprop="endDate"{% endif %}
                                  datetime="{{ event.dateFin|date('Y-m-d\\TH:i:sO') }}">
                                {{ dateFin }}
                            </time>
                        {% endif %}
                            <small class="text-muted">{% if event.horaires %} - {{ event.horaires }}{% endif %}</small>
                    </span>
                    </div>
                    {% set place = event.place %}
                    {% if event.placeName %}
                        <div class="detail-item" {% if microdata %}itemprop="location" itemscope itemtype="http://schema.org/Place"{% endif %}>
                            <i class="fa fa-map-marker float-left"></i>
                            <span {% if microdata %}itemprop="name"{% endif %}
                               title="Sortir à {{ event.placeName }}">
                                <strong class="font-weight-normal">{{ event.placeName }}</strong>
                            </span>
                            {% if microdata and event.latitude and event.longitude %}
                                <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="{{ event.latitude }}" />
                                    <meta itemprop="longitude" content="{{ event.longitude }}" />
                                </span>
                            {% endif %}
                            {% if event.placeCity %}
                                <span {% if microdata %}itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"{% endif %}>,
                                <span {% if microdata %}itemprop="addressLocality"{% endif %}>{{ event.placeCity }}</span>
                                {% if microdata %}
                                    {% if event.placePostalCode %}
                                        <meta itemprop="addressRegion" content="{{ event.placePostalCode }}" />
                                    {% endif %}

                                    {% if event.placeStreet %}
                                    <meta itemprop="streetAddress" content="{{ event.placeStreet }}" />
                                {% endif %}

                                    {% if event.placeCountry %}
                                    <meta itemprop="addressCountry" content="{{ event.placeCountry.id }}" />
                                {% endif %}
                                {% endif %}
                            </span>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if event.tarif %}
                        <div class="detail-item">
                            <i class="fa fa-ticket"></i>
                            <span>{{ event.tarif }}</span>
                        </div>
                    {% endif %}
                    {% if event.user %}
                        <div class="detail-item">
                            <i class="fa fa-user"></i>
                            Par
                            <a class="one-line"
                               href="{{ path('app_user_index', {'id': event.user.id, 'slug': event.user.slug} ) }}"
                               title="Accédez au profil de {{ event.user.username }}">
                                {{ event.user.username }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
