{% extends "layouts/full.html.twig" %}

{% block titre 'Trouvez votre idée de sortie ' ~ location.atName %}
{% block title 'Concerts, soirées : toutes les sorties ' ~ location.atName %}

{% block meta_description -%}
    Sortir {{ location.atName }}. L'agenda des concerts, spectacles, soirées, sorties, bars, after work et boîtes de nuit ce soir {{ location.atName }}.
{%- endblock %}

{% block breadcrumb %}
    {% if location.isCountry %}
        {% set item = menu.addItem('Sortir ' ~ location.atName, path('app_agenda_index', {'location': location.country.slug})) %}
    {% else %}
        {% set item = menu.addItem(location.city.country.name, path('app_agenda_index', {'location': location.city.country.slug})) %}
        {% set item = menu.addItem('Sortir ' ~ location.atName, path('app_agenda_index', {'location': location.slug})) %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if location.slug in ['basse-terre', 'bordeaux', 'brest', 'caen', 'cayenne', 'dijon', 'fort-de-france', 'grenoble', 'le-havre', 'lille', 'lyon', 'mamoudzou', 'marseille', 'montpellier', 'nantes', 'narbonne', 'nice', 'paris', 'perpignan', 'poitiers', 'reims', 'rennes', 'rouen', 'saint-denis', 'strasbourg', 'toulouse'] %}
        {% set locationUrl = app_asset('img/sites/' ~ location.slug ~ '.jpg') %}
    {% else %}
        {% set locationUrl = app_asset('img/landing.jpg') %}
    {% endif %}
    <section class="full_wrapper" style="background-image: url({{ locationUrl }})">
        <div class="fade-black-transp"></div>
        <div class="wrapper">
            <h1 class="titrebloc text-center">{{ block('titre') }}</h1>
            <div class="row">
                <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 no-margin-form panel panel-primary search_container img-rounded">
                    <form name="app_search_event" role="search"
                          action="{{ path('app_agenda_agenda', {'location': location.slug}) }}" method="POST">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" id="search_du" name="search[du]" value="" />
                                <input type="hidden" id="search_au" name="search[au]" value="" />
                                <input type="text" name="search[term]" value="" class="form-control input-lg" placeholder="Concert, bar, spectacle, enfant, soirée, ...">
                            </div>
                            <div class="col-md-4">
                                <select name="shortcut" class="form-control input-lg shorcuts_date" placeholder="Raccourcis">
                                    <option value="">Quand ?</option>
                                    <option data-date-debut="{{ "now"|date('d/m/Y') }}" value="today">
                                        Aujourd'hui
                                    </option>
                                    <option data-date-debut="{{ "tomorrow"|date('d/m/Y') }}" value="tomorrow">
                                        Demain
                                    </option>
                                    <option data-date-debut="{{ "friday this week"|date('d/m/Y') }}"
                                            data-date-fin="{{ "sunday this week"|date('d/m/Y') }}" value="weekend">
                                        Ce Week End
                                    </option>
                                    <option data-date-debut="{{ "monday this week"|date('d/m/Y') }}"
                                            data-date-fin="{{ "sunday this week"|date('d/m/Y') }}" value="week">
                                        Cette semaine
                                    </option>
                                    <option data-date-debut="{{ "first day of this month"|date('d/m/Y') }}"
                                            data-date-fin="{{ "last day of this month"|date('d/m/Y') }}" value="month">
                                        Ce mois
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-raised btn-block btn-lg btn-warning search">
                            <i class="fa fa-search"></i> Chercher
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer_wrapper">
            <h2 class="text-primary number number-xbig">{{ nbEvents }} événements et bons plans culturels {{ location.atName }}</h2>
        </div>
    </section>
    <section class="bg-white padding-tb-30">
        <div class="container">
            <h2 class="text-primary">Envie de sortir aujourd'hui ou ce soir {{ location.atName }} ?</h2>
            <p>Si vous cherchez <strong>que faire {{ location.atName }}</strong>, trouvez facilement un
                <strong>concert</strong>, <strong>expo</strong>, <strong>spectacle</strong>,
                <strong>café</strong> ou
                <strong>sortie</strong> dans votre ville préférée.
                Il y en a pour tous les goûts, pour toutes les couleurs et pour tous les âges ! De la
                <strong>visite de
                    parcs en famille</strong> aux <strong>soirées étudiantes</strong> les plus branchées dans les
                <strong>discothèques</strong> de {{ location.name }}, trouvez l'événement qui vous correspond !
            </p>
            {% if location.isCity %}
                <p>{{ location.appName }} est une solution alternative pour chercher et trouver facilement des
                    <strong>événements & bons plans culturels</strong> sur la ville de {{ location.name }} et ses environs.
                    Notre but est avant tout de centraliser les
                    <strong>choses à faire à {{ location.name }}</strong> et vous
                    offir une plateforme unique pour vous aider à trouver les meilleures <strong>idées sorties</strong>.
                </p>
            {% else %}
                <p>{{ location.appName }} est une solution alternative pour chercher et trouver facilement des
                    <strong>événements & bons plans culturels</strong> dans toutes les villes de {{ location.name }}.
                    Notre but est avant tout de centraliser les
                    <strong>choses à faire en {{ location.name }}</strong> et vous
                    offir une plateforme unique pour vous aider à trouver les meilleures <strong>idées sorties</strong>.
                </p>
            {% endif %}
            <br />
            <a href="{{ path('app_agenda_agenda', {'location': location.slug}) }}"
               class="btn btn-raised btn-lg btn-block btn-primary">
                <i class="fa fa-chevron-right"></i>
                Agenda des événements<span class="hidden-xs hidden-sm">, concerts, spectacles {{ location.atName }}</span>
            </a>
        </div>
    </section>
    <section>
        <div class="container">
            {% include 'ad.html.twig' %}
            <div class="row">
                {% set contents = [{
                    'title': 'Concert',
                    'icon': 'flaticon-microphone47',
                    'color': 'red',
                    'link': path('app_agenda_sortir', {'type': 'concert', 'location': location.slug}),
                    'title_link': 'Concerts ' ~ location.atName,
                    'text': "Les <strong>concerts</strong>, <strong>spectacles</strong> et <strong>soirées</strong> sont multiples
                            " ~ location.atName ~ " ! Trouvez ici <strong>l'agenda des concerts</strong>, <strong>spectacles</strong> et
                            soirées et pour <strong>sortir se détendre</strong> " ~ location.atName ~ "."
                }, {
                    'title': 'Etudiant',
                    'icon': 'flaticon-students17',
                    'color': 'orange',
                    'link': path('app_agenda_sortir', {'type': 'etudiant', 'location': location.slug}),
                    'title_link': 'Soirées étudiantes ' ~ location.atName,
                    'text': "Envie de <strong>soiree étudiante</strong>, de <strong>soirée gratuite</strong>,
                            d'<strong>after work</strong>, de tournée des <strong>bars</strong> ou de sortir en 
                            <strong>discothèque</strong> ce soir ? " ~ location.appName ~ " regroupe
                            <strong>l'agenda des soirées</strong> rien que pour vous !"
                }, {
                    'title': 'Famille',
                    'icon': 'flaticon-father16',
                    'color': 'green',
                    'link': path('app_agenda_sortir', {'type': 'famille', 'location': location.slug}),
                    'title_link': 'Sorties familles ' ~ location.atName,
                    'text': "Trouvez des idées pour <strong>sortir en famille</strong> " ~ location.atName ~ " avec tous les
                            <strong>spectacles enfants</strong>. Découvrez de nouveaux <strong>spectacles jeune public</strong>,
                             des <strong>parcs </strong> ou de jolies <strong>balades</strong> près de " ~ location.name ~ " !"
                }, {
                    'title': 'Spectacle',
                    'icon': 'flaticon-tickets',
                    'color': 'blue',
                    'link': path('app_agenda_sortir', {'type': 'spectacle', 'location': location.slug}),
                    'title_link': 'Spectacles ' ~ location.atName,
                    'text': location.atName ~ ", il y a pleins de <strong>spectacles en " ~ "now"|date('Y') ~ "</strong> ! Divertissement & culture,
                            trouvez votre spectacle préféré ou votre animation favorite grâce à
                            <strong>l'agenda des spectacles " ~ location.atName ~ "</strong>."
                }, {
                    'title': 'Exposition',
                    'icon': 'flaticon-theater1',
                    'color': 'darkblue',
                    'link': path('app_agenda_sortir', {'type': 'exposition', 'location': location.slug}),
                    'title_link': 'Les expos ' ~ location.atName,
                    'text': "Les <strong>expos " ~ location.atName ~ "</strong> sont nombreuses ! Envie d'aller visiter les
                    <strong>expos peinture</strong> de votre ville ? Ou simplement de sortir découvrir 
                    les <strong>expos à voir " ~ location.atName ~ "</strong> ? C'est par ici !"
                }, {
                    'title': 'Organisateur',
                    'icon': 'flaticon-calendar60',
                    'color': 'purple',
                    'link': path('app_event_new'),
                    'title_link': 'Créer un événement',
                    'text': "Vous êtes <strong>organisateur d'événements</strong> ou <strong>agence
                            de communication</strong> " ~ location.atName ~ " ? <strong>Publiez facilement</strong>
                            votre événement sur notre plateforme et donnez lui un maximum de <strong>visibilité</strong> !"
                }] %}

                {% for i, content in contents %}
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-body text-center">
                                <span class="icon big-icon icon-{{ content.color }}"><span
                                            class="{{ content.icon }}"></span></span>
                                <h3 class="text-primary">{{ content.title }}</h3>
                                <p>{{ content.text|raw }}</p>
                                <a class="btn btn-flat btn-block btn-info"
                                   href="{{ content.link }}"
                                   title="{{ content.title_link }}">
                                    <i class="fa fa-chevron-right"></i>
                                    <strong>{{ content.title_link }}</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if (i+1) is divisible by(2) %}
                        <div class="clearfix visible-sm-block"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="bg-white padding-tb-30">
        <div class="container">
            <h2 class="text-primary">Les concerts, spectacles et sorties cette semaine {{ location.atName }}</h2>
            {% include 'City/Event/block_preview_event.html.twig' with({'events': topEvents, 'page': 1}) %}
            <br />
            <br />
            <a href="{{ path('app_agenda_agenda', {'location': location.slug}) }}"
               class="btn btn-raised btn-lg btn-block btn-primary">
                <i class="fa fa-chevron-right"></i>
                Toutes les sorties <span class="hidden-xs hidden-sm">{{ location.atName }}</span>
            </a>
            {% include 'ad2.html.twig' %}
        </div>
    </section>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ app_asset('evenements/css/index.min.css') }}" type="text/css">
{% endblock %}

{% block js %}
    <script src="{{ app_asset('evenements/js/index.min.js') }}" type="text/javascript"></script>
{% endblock %}
