{% extends "base.html.twig" %}

{% block start_container -%}
<div class="container" id="container">
{%- endblock %}

{% block titre -%}
    Mes événements
{%- endblock %}

{% block title -%}
    Mes événements
{%- endblock %}

{% block breadcrumb_content %}
    {% set item = menu.addItem("Mon compte", path('fos_user_profile_show')) %}
    {% set item = menu.addItem("Mes événements", path('tbn_agenda_list')) %}
{% endblock %}

{% block body -%}
    <div class="text-center">
        <a class="btn btn-success btn-raised" href="{{ path('tbn_agenda_new') }}">
            <i class="fa fa-plus"></i>
            Nouvel événement
        </a>
        {% if canSynchro %}
            <a class="btn btn-info btn-raised" href="{{ path('tbn_agenda_import_events') }}">
                <i class="fa fa-refresh"></i>
                Synchroniser mes événements Facebook
            </a>
        {% else %}
            <a id="connect-fb" class="btn btn-info btn-raised" href="{{ hwi_oauth_login_url('facebook_list_events') }}" data-href="{{ path('tbn_agenda_import_events') }}">
                <i class="fa fa-facebook"></i>
                Me connecter à Facebook pour synchroniser mes événéments
            </a>
        {% endif %}
    </div>
    <br/>
    <br/>

    {% import "Form/macros.html.twig" as macros %}
    {% if soirees|length > 0 %}
        <table class="table table-striped bg-white component">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Ville</th>
                <th>Date</th>
                <th>Actions</th>
                <th>Visible</th>
                <th>Annulé</th>
            </tr>
            </thead>
            <tbody>
            {% for soiree in soirees %}
                <tr>
                    <td><a href="{{ path('tbn_agenda_details', {'slug': soiree.slug, 'id': soiree.id, 'city': soiree.site.subdomain}) }}"
                           title="Accéder à l'événement">{{ soiree.nom }}</a></td>
                    <td>{{ soiree.place ? soiree.place.nom : '' }}</td>
                    <td>{{ soiree.place ? soiree.place.ville : '' }}</td>
                    <td>
                        {{ macros.dates(soiree.dateDebut, soiree.dateFin) }}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('tbn_agenda_edit', {'slug': soiree.slug}) }}"
                           title="Corriger l'événement">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" class="brouillon"
                                       data-href="{{ path('tbn_agenda_brouillon', {'slug': soiree.slug}) }}" {{ not soiree.isBrouillon ? 'checked' : '' }} />
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" class="annuler"
                                       data-href="{{ path('tbn_agenda_annuler', {'slug': soiree.slug}) }}" {{ soiree.modificationDerniereMinute ? 'checked' : '' }} />
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> Aucun événement créé, publiez dès maintenant le vôtre !
        </div>
    {% endif %}
{%- endblock %}

{% block js -%}
    <script src="{{ app_asset('prod/espace-perso/evenements/js/liste.min.js', 'asset') }}" type="text/javascript"></script>
{%- endblock %}
