{% extends 'location/widget/template.html.twig' %}

{% block titre 'Lieux' %}
{% block icon 'fa-location-dot' %}
{% block widget_class 'active' %}

{% block body %}
    {{ form_errors(form.place) }}
    {{ form_row(form.place.name) }}
    {{ form_row(form.address) }}

    <div class="ms-2 ms-sm-5 mb-5">
         {{ form_row(form.place.street) }}
        {{ form_errors(form.place.city) }}
         {{ form_row(form.place.city.postalCode) }}
         {{ form_row(form.place.city.name) }}
         {{ form_row(form.place.country) }}
    </div>

    <div id="map"></div>
{% endblock %}

{% block footer '' %}
