{% extends 'espace-perso/layout.html.twig' %}

{% block titre 'Mes événements' %}
{% block meta_title 'Mes événements' %}

{% block layout_header %}
    {% if not app.user.verified %}
        <div class="alert alert-dismissible fade show alert-info">
            <div class="{{ block('container_class') }}">
                Votre email n'est pas vérifié. En raison de nombreaux abus, vous devez désormais <a href="{{ path('app_send_verification_email') }}" class="email-verify"><strong>vérifier votre email</strong></a> pour créer des événéments sur la plateforme.
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block title_after %}
    {% if is_granted(constant('\\App\\Security\\Voter\\EventVoter::CREATE')) %}
        <div class="text-center mt-2">
            <a class="btn btn-success" href="{{ path('app_event_new') }}">
                <twig:Icon name="lucide:plus" />
                Nouvel événement
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block body -%}
    {% if events|length > 0 %}
        <div class="card">
            <div class="table-responsive">
                <table class="table card-table align-middle mb-0">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Lieu</th>
                        <th>Ville</th>
                        <th>Date</th>
                        <th>Visible</th>
                        <th>Annulé</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>
                                <a href="{{ path('app_event_edit', {id: event.id}) }}" title="Accéder à l'événement">{{ event.name }}</a>
                            </td>
                            <td>{{ event.placeName }}</td>
                            <td>{{ event.placeCity }}</td>
                            <td>
                                <twig:Dates from="{{ event.startDate }}" to="{{ event.endDate }}" />
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input draft" data-href="{{ path('api_event_draft', {id: event.id}) }}" type="checkbox" {{ not event.draft ? 'checked' }} id="draft-event-{{ event.id }}">
                                    <label class="form-check-label" for="draft-event-{{ event.id }}">&nbsp;</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input cancel" data-href="{{ path('api_event_cancel', {id: event.id}) }}" type="checkbox" {{ event.status ? 'checked' }} id="cancel-event-{{ event.id }}">
                                    <label class="form-check-label" for="cancel-event-{{ event.id }}">&nbsp;</label>
                                </div>
                            </td>
                            <td class="actions">
                                <div class="btn-group btn-group-icon-sm">
                                    <a class="btn btn-icon btn-unstyled" href="{{ path('app_event_details', {slug: event.slug, id: event.id, location: event.locationSlug}) }}" data-bs-toggle="tooltip" title="Voir l'événement">
                                        <twig:Icon name="lucide:eye" class="text-secondary" />
                                    </a>
                                    <a class="btn btn-icon btn-unstyled" href="{{ path('app_event_edit', {id: event.id}) }}" data-bs-toggle="tooltip" title="Corriger l'événement">
                                        <twig:Icon name="lucide:pencil" class="text-primary" />
                                    </a>
                                    <button type="button" class="btn btn-icon btn-unstyled" data-target=".form-delete-{{ event.id }}" data-bs-toggle="tooltip" title="Supprimer l'événement">
                                        <twig:Icon name="lucide:trash-2" class="text-danger" />
                                    </button>
                                </div>
                                <form class="d-none form-delete-{{ event.id }}" method="post" action="{{ path('app_event_delete', {id: event.id}) }}">
                                    <input name="_method" type="hidden" value="DELETE">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if events.nbPages > 1 %}
                <div class="card-footer d-flex align-items-center">
                    {{ pagerfanta(events) }}
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert-info">
            <twig:Icon name="lucide:info" />
            Aucun événement créé, publiez dès maintenant le vôtre !
        </div>
    {% endif %}
{%- endblock %}

{% block css -%}
    {{ encore_entry_link_tags('espace_perso_list') }}
{%- endblock %}

{% block js -%}
    {{ encore_entry_script_tags('espace_perso_list') }}
{%- endblock %}
