{% set currentType = type %}
{% set options = {
    '': 'Tout le site',
    'evenements': 'Les événements',
    'membres': 'Les membres',
} %}

{%- block search -%}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <form method="GET" class="no-margin-form" action="{{ path('app_search_query') }}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="search">Je cherche</label>
                                    <input name="q"
                                           id="search"
                                           class="form-control"
                                           size="16"
                                           type="search"
                                           value="{{ term }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="type">Parmi</label>
                                    <select id="type" name="type" class="form-control">
                                        {% for value, label in options %}
                                            <option value="{{ value }}" {{ value == currentType ? 'selected' : '' }}>{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input class="btn btn-primary btn-raised" type="submit" value="Rechercher" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if term %}
        <h2>
            {% if result.count == 0 %}Aucun{% else %}{{ result.count }}{% endif %}
            {{ result.label }}{{ s }} trouvé{{ s }}
        </h2>
        {% if events.totalItemCount > 0 and (not type or type == 'evenements') %}
            {% if type != 'evenements' %}
                {% set s = events.totalItemCount > 1 ? 's': null %}
                <h3>Événement{{ s }} <span class="badge badge-info number number-sm">{{ events.totalItemCount }}</span></h3>
            {% endif %}
            {% include "Search/content_events.html.twig" %}
        {% endif %}

        {% if users.totalItemCount > 0 and (not type or type == 'membres') %}
            {% if type != 'membres' %}
                {% set s = users.totalItemCount > 1 ? 's': null %}
                <h3>Membre{{ s }} <span class="badge badge-info number number-sm">{{ users.totalItemCount }}</span></h3>
            {% endif %}
            {% include "Search/content_users.html.twig" %}
        {% endif %}
    {% endif %}
{%- endblock -%}
