{% set currentType = type %}
{% set options = {
    '': 'Tout le site',
    'evenements': 'Les événements',
    'membres': 'Les membres',
} %}

{%- block search -%}
    <br />
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <form method="GET" class="no-margin-form" action="{{ path('app_search_query') }}">
                <div class="form-row">
                    <div class="col-md-8 col-lg-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Je cherche</label>
                            <input name="q"
                                   class="form-control"
                                   size="16"
                                   type="search"
                                   value="{{ term }}">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Parmi</label>
                            <select name="type" class="form-control">
                                {% for value, label in options %}
                                    <option value="{{ value }}" {{ value == currentType ? 'selected' : '' }}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col col-auto">
                        <div class="form-group">
                            <input class="btn btn-primary btn-raised" type="submit" value="Rechercher" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if term %}
        <h2>
            {% if result.count == 0 %}Aucun{% else %}
                <span class="number">{{ result.count }}</span>
            {% endif %}
            {{ result.label }}{{ s }} trouvé{{ s }}
        </h2>
        {% if events|length > 0 and (not type or type == 'evenements') %}
            {% if type != 'evenements' %}
                {% set s = nbEvents > 1 ? 's': null %}
                <h3>Événement{{ s }} <span class="badge badge-info number number-sm">{{ nbEvents }}</span></h3>
            {% endif %}
            {% include "Search/content_events.html.twig" %}
        {% endif %}

        {% if users|length > 0 and (not type or type == 'membres') %}
            {% if type != 'membres' %}
                {% set s = nbUsers > 1 ? 's': null %}
                <h3><span class="number">{{ nbUsers }}</span> Membre{{ s }}</h3>
            {% endif %}
            {% include "Search/content_users.html.twig" %}
        {% endif %}
    {% endif %}
{%- endblock -%}
