{{ form_start(form, {attr: {id: 'search-form'}}) }}
{{ form_errors(form) }}
<div class="block_criteres card">
    <h2 class="card-header h3">
        <twig:Icon name="lucide:calendar-days" class="text-primary" />
        Agenda
    </h2>
    <div class="card-body">
        <div class="row main_criteres">
            <div class="col-md-6 col-lg-4">
                {{ form_widget(form.from) }}
                {{ form_widget(form.to) }}
                {{ form_errors(form.from) }}
                {{ form_errors(form.to) }}
                {{ form_row(form.shortcut, {label: 'Quand ?', icon_prepend: 'lucide:calendar-days'}) }}
            </div>
            <div class="col-md-6 col-lg-8">
                {{ form_row(form.term, {icon_prepend: 'lucide:search'}) }}
            </div>
        </div>
        {% if search.term or search.range != 25 %}
            {% set options = {hiddenClass: '', iconName: 'lucide:chevron-up'} %}
        {% else %}
            {% set options = {hiddenClass: 'hidden cache', iconName: 'lucide:chevron-down'} %}
        {% endif %}
        <div class="d-flex flex-wrap w-100">
            <button type="submit" class="btn btn-primary">Rechercher</button>
            <button type="button" class="ms-auto btn_criteres btn btn-sm btn-outline-secondary mt-2 mt-sm-0">
                <span class="icon-toggle"><twig:Icon name="{{ options.iconName }}" /></span>
                Recherche avancée
            </button>
        </div>
        <div class="{{ options.hiddenClass }} criteres">
            <div class="row">
                <div class="col-md-9">
                    {{ form_row(form.type, {icon_prepend: 'lucide:drama'}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.range) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
