<div class="row">
    <div class="col-sm-3">
        <img class="img-responsive" src="{{ user.profileDefault }}">
    </div>
    <div class="col-sm-9">
        <div class="title">
            <a class="link" title="Accédez à toutes les informations de {{ user.username }}" href="{{ path('tbn_user_details', {'username' : user.username }) }}">
                {{ user.username }}
            </a>
        </div>
        <div class="color-primary">
            Membre depuis le {{ user.dateCreation|localizeddate('medium', 'none') }}
        </div>
        {% include "TBNUserBundle:Membres:social_info.html.twig" %}
    </div>
</div>
<br />