<div class="overlay">
    {% if soiree.webPath %}
            {% set original = asset(soiree.webPath) %}
            {% set thumb = soiree.webPath|imagine_filter('thumb_user_evenement') %}
        {% elseif soiree.url %}
            {% set original = soiree.url %}
            {% set thumb = original %}
        {% else %}
            {% set original = asset('img/empty_event.png') %}
            {% set thumb = 'img/empty_event.png'|imagine_filter('thumb_user_evenement') %}
        {% endif %}
    <img class="pull-left" title="{{ event.nom }}" height="115" width="115" src="{{ thumb }}" />
    <div class="title">
        <h3 class=""><a class="link thin" title="Accédez à toutes les informations de {{ event.nom }}" href="{{ path('tbn_agenda_details', {'slug' : soiree.slug}) }}">
            {{ event.nom }}
        </a></h3>
    </div>
    <div >
        {% set dateDebut = soiree.dateDebut|date('d/m/Y') %}
        {% set dateFin = soiree.dateFin|date('d/m/Y') %}

        {% if event.dateFin == null or (event.dateFin != null and event.dateDebut == event.dateFin) %}                        
            Le <span class="date text-primary">{{ dateDebut }}</span>
        {% else %}
            Du <span class="date text-primary">{{ dateDebut }}</span>
            au <span class="date text-primary">{{ dateFin }}</span>
        {% endif %}
    </div>
    <div class="picture">            
        {{ soiree.descriptif|striptags|replace({'&#13;' : ' '})|truncate(300, true, '...')|raw }}  
    </div>
</div>
