{% extends "TBNUserBundle:Membres:layout.html.twig" %}

{% set username = user.username|capitalize %}
{% block title_membre %}{{ username }}{% endblock %}
{% block titre_membre %}{{ username }}{% endblock %}

{% block head_js_espace %}
    <script type="text/javascript">
        window.datas = {{ etablissements|json_encode()|raw }};
    </script>
{% endblock %}

{% block meta_keywords_membre %}
    {{ username }},
{% endblock %}

{% block breadcrumb_membre %}
    {% set item = menu.addItem(username, path('tbn_user_details', {'username' : user.username})) %}
{% endblock %}

{% set totalCount = count_participations + count_interets %}
{% block meta_description_espace %}
{{ username }} est en relation avec {{ totalCount }} événement{{ totalCount > 1 ? "s" : "" }} à {{ ville }}.
{% endblock %}


{% block body_membre %}
{% set imageURL = user.profileDefault ? user.profileDefault : asset('img/empty_user.png')|imagine_filter('thumb_user') %}
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default fiche_profil text-center">
            <div class="panel-heading bg-white">
                <h2 class="modal-title">Profil</h2>
            </div>      
            <div class="panel-body">                    
                <img class="img img-responsive component" src="{{ imageURL }}" />
                <br />
                <div class="row">
                    <div class="col-xs-6 preserve">
                        <strong class="number number-big">{{ count_participations }}</strong> 
                        <span class="text-primary">participation{{ count_participations > 1 ? "s" : "" }}</span>
                    </div>
                    <div class="col-xs-6 preserve">
                        <strong class="number number-big">{{ count_interets }}</strong> 
                        <span class="text-primary">intérêt{{ count_interets > 1 ? "s" : "" }}</span>
                    </div>
                </div>
                {% if user.description %}
                <hr />
                <p class="">
                    <i class="fa fa-quote-left fa-2x fa-border" ></i> 
                    {{ user.description }}
                </p>
                {% endif %}
                <hr />
                {% include "TBNUserBundle:Membres:social_info.html.twig" %}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading bg-white">
                <ul class="nav nav-tabs">
                    <li><a href="#passes">Passés</a></li>
                    <li class="active"><a href="#a-venir">A venir</a></li>
                </ul>
                <h2 class="modal-title">Événements</h2>
            </div>           
            <div class="panel-body">                            
                <div class="tab-content">
                    <div class="tab-pane active" id="a-venir">
                        {% for i, soiree in next_events %}
                            {% include "TBNUserBundle:Membres:block_details_evenements.html.twig" with({'event' : soiree}) %}
                            {% if (i+1) < next_events|length %}
                                <hr />
                            {% endif %}
                        {% else %}
                            <div class="alert alert-info">
                                <i class="fa fa-info-circle"></i>
                                Aucun événément à venir pour {{ user.username }} !
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="passes">
                        {% for i, soiree in previous_events %}
                            {% include "TBNUserBundle:Membres:block_details_evenements.html.twig" with({'event' : soiree}) %}
                            {% if (i+1) < previous_events|length %}
                                <hr />
                            {% endif %}
                        {% else %}
                            <div class="alert alert-info">
                                <i class="fa fa-info-circle"></i>
                                Aucun événément passé pour {{ user.username }} !
                            </div>
                        {% endfor %}                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                        <h3 class="modal-title">Lieux fréquentés</h3>
                    </div>
                    <div class="panel-body">                            
                        <div id="hero-donut" class="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                        <ul class="nav nav-tabs" id="chartsActivite">
                            <li id="chartSemaine"><a href="#semaine">Semaine</a></li>
                            <li id="chartMois"><a href="#mois">Mois</a></li>
                            <li id="chartAnnee" class="active"><a href="#annee">Année</a></li>
                        </ul>
                        <h3 class="modal-title">Activité</h3>
                    </div>
                    <div class="panel-body">                            
                        <div class="tab-content">
                            <div class="tab-pane" id="semaine">
                                <div id="chart-semaine" class="chart" data-url="{{ path("tbn_user_stats", {'type': 'semaine', 'username' : user.username }) }}">
                                    <div class="text-center">
                                        <i class="fa fa-spin fa-spinner fa-5x color-second"></i>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="tab-pane" id="mois">
                                <div id="chart-mois" class="chart" data-url="{{ path("tbn_user_stats", {'type': 'mois', 'username' : user.username }) }}">
                                    <div class="text-center">
                                        <i class="fa fa-spin fa-spinner fa-5x color-success"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="annee">
                                <div id="chart-annee" class="chart" data-url="{{ path("tbn_user_stats", {'type': 'annee', 'username' : user.username }) }}">
                                    <div class="text-center">
                                        <i class="fa fa-spin fa-spinner fa-5x color-info"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>
{% endblock %}
    
{% block css_membre %}
    {% stylesheets 
        'bower/morris.js/morris.css'
        'bundles/tbnuser/css/membre.css'

        output='prod/css/membres/details.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}
{% endblock %}

{% block js_membre %}
    {% javascripts 
        'bower/raphael/raphael-min.js'
        'bower/morris.js/morris.min.js'
        '@TBNUserBundle/Resources/public/js/UserDetails.js'

        output='prod/js/membres/details.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
