{# empty Twig template #}
{% extends "TBNUserBundle:Membres:layout.html.twig" %}

{% block title_membre %}
    Recherche de membres
{% endblock %}

{% block titre_membre %}
    Recherche de membres
{% endblock %}

{% block meta_keywords_membre %}
    recherche, membres, 
{% endblock %}

{% block meta_description_espace %}
    {% if term != null %}
        {{ users|length }} membre{{ users|length > 1 ? "s" : "" }} trouvé{{ users|length > 1 ? "s" : "" }} pour la recherche '{{ term }}'.
    {% endif %}
    Recherchez tous les membres de {{ site.nom }} By Night !
{% endblock %}

{% block breadcrumb_membre %}
    {% set item = menu.addItem('Recherche', path('tbn_user_search')) %}
    {% if term != null %}
        {% set item = menu.addItem(term, path('tbn_user_search', {'term' : term })) %}
    {% endif %}
{% endblock %}


{% block body_membre %}
    {% include "TBNUserBundle:Membres:block_search.html.twig" with({ 'term' : term }) %}
    
    {% if term != null %}
        <h2>Résultats de la recherche <strong>{{ term }}</strong></h2>
        <hr />

        <p>
            <strong>{{ users|length }}</strong> membre{{ users|length > 1 ? "s" : "" }} trouvé{{ users|length > 1 ? "s" : "" }}
        </p>

        {% for i, user in users %}
            {% include "TBNUserBundle:Membres:block_details_user.html.twig" %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block css_membre %}
    {% stylesheets 
        'bundles/tbnuser/css/liste.css'

        filter='cssrewrite,?yui_css'
        output='prod/css/users/liste.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}
{% endblock %}

{% block js_membre %}  
    {% javascripts 
        '@TBNUserBundle/Resources/public/js/recherche.js'

        filter='?yui_js'
        output='prod/js/users/recherche.js'
    %}
        js_scripts.final.push("{{ asset_url }}");
    {% endjavascripts %}
{% endblock %}