
{% set info = user.info %}

{% if info.facebookAccessToken != null %}
    <a class="social-facebook social" href="https://www.facebook.com/{{ info.facebookId }}" title="{{ info.facebookRealname }} sur Facebook">
    </a>
{% endif %}

{% if info.twitterNickname != null %}
    <a class="social-twitter social" href="https://twitter.com/{{ info.twitterNickname }}" title="{{ info.twitterRealname }} sur Twitter" >
    </a>
{% endif %}

{% if info.googleAccessToken != null %}
    <a class="social-googleplus social" href="https://plus.google.com/{{ info.googleId }}" title="{{ info.googleRealname }} sur Google+">
    </a>
{% endif %}
