<p>Cette semaine, ce sont près de <strong>{{ participants|localizednumber }} personnes</strong> qui vont participer à
    des événements partout en France !</p>
<p>Parmis les 5 villes les plus actives cette semaine, on retrouve :</p>
<ul>
    {% for site, participations in topParticipants %}
        <li>{{ site }} : {{ participations|localizednumber }} participants</li>
    {% endfor %}
</ul>
<br/>
<br/>
<br/>
{% for site, events in datas %}
    {% if events|length %}
        <h2>Top {{ events|length }} des événements à {{ site }}</h2>
        {% for i, event in events %}
            <div itemscope itemtype="http://schema.org/Event">
                {% set original = eventProfilePicture.originalPicture(event) %}
                {% set thumb = eventProfilePicture.picture(event) %}
                {% set dateDebut = event.dateDebut|date('d/m/Y') %}
                {% set dateFin = event.dateFin|date('d/m/Y') %}
                <h3>#{{ i + 1 }} : <a title="{{ event.nom }} à {{ event.placeName }}"
                                      href="{{ url('app_event_details', {'id': event.id, 'slug': event.slug, 'location': event.place.locationSlug}) }}">{{ event.nom }}</a>
                </h3>
                <meta itemprop="image" content="{{ original }}"/>
                <a title="{{ event.nom }} à {{ event.placeCity }}"
                   href="{{ url('app_event_details', {'id': event.id, 'slug': event.slug, 'location': event.place.locationSlug}) }}">
                    <img class="event-image" src="{{ thumb }}" alt="{{ event.nom }} à {{ event.placeCity }}"/>
                </a>

                {% if event.modificationDerniereMinute %}
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i>
                        <span itemprop="eventStatus"> {{ event.modificationDerniereMinute }}</span>
                    </div>
                {% endif %}
                <ul>
                    <li>Date :
                        {% if event.dateFin == null or ( event.dateFin != null and event.dateDebut == event.dateFin) %}
                            <meta itemprop="endDate" content="{{ event.dateDebut|date('Y-m-d\\TH:i:sO') }}"/>
                            Le
                            <time class="number text-primary" itemprop="startDate"
                                  datetime="{{ event.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ dateDebut }}</time>
                        {% else %}
                            Du
                            <time class="number text-primary" itemprop="startDate"
                                  datetime="{{ event.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ dateDebut }}</time>
                            au
                            <time class="number text-primary" itemprop="endDate"
                                  datetime="{{ event.dateFin|date('Y-m-d\\TH:i:sO') }}">{{ dateFin }}</time>
                        {% endif %}
                        {% if event.horaires != "" %}
                            - {{ event.horaires }}
                        {% endif %}
                    </li>
                    <li>
                        {% set place = event.place %}
                        {% if place and place.nom %}
                            <div class="trait" itemprop="location" itemscope itemtype="http://schema.org/Place">
                                Lieu :
                                <a itemprop="name"
                                   href="{{ path('app_agenda_place', {'slug': place.slug, 'location': place.locationSlug }) }}"
                                   title="Sortir à {{ place.nom }}">
                                    <strong>{{ place.nom }}</strong>
                                </a>
                                {% if place.latitude and place.longitude %}
                                    <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                        <meta itemprop="latitude" content="{{ place.latitude }}"/>
                                        <meta itemprop="longitude" content="{{ place.longitude }}"/>
                                    </span>
                                {% endif %}
                                {% if place.ville %}
                                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">,
                            <span itemprop="addressLocality">{{ place.ville }}</span>
                                        {% if place.codePostal %}
                                            <meta itemprop="addressRegion" content="{{ place.codePostal }}"/>
                                            <meta itemprop="addressCountry" content="FR"/>
                                            <meta itemprop="streetAddress" content="{{ place.rue }}"/>
                                        {% endif %}
                            </span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </li>
                    {% set distinctTags = event.distinctTags %}
                    {% if distinctTags|length %}
                        <li> Thèmes :
                            {% for tag in distinctTags %}
                                <a class="badge bg-info" title="{{ tag }} à {{ event.place.city.name }}"
                                   href="{{ path('app_agenda_tags', {'tag' : tag|trim, 'location': event.place.locationSlug}) }}">
                                    <strong>{{ tag }}</strong>
                                </a>
                            {% endfor %}
                        </li>
                    {% endif %}
                    <li> Participants : {{ (event.fbParticipations + event.fbInterets)|localizednumber }}</li>
                </ul>
            </div>
        {% endfor %}
        <br/>
        <br/>
    {% endif %}
{% endfor %}
A la semaine prochaine pour les prochains événements ! D'ici là, portez vous bien.
