{% for soiree in soirees %}
    {% set nomSoiree = soiree.nom %}
    <div class="widget_item">
        <div class="row">
            <div class="col-xs-3 col-md-2 min_membre preserve text-center color-second"
                 title="{{ soiree.dateFin|localizeddate('full','none') }}">
                <span class="number thin">{{ soiree.dateFin|date('d') }}</span>
                <span class="month thin">{{ (soiree.dateFin|localizeddate('long','none')|split(' ')[1])[:3]|capitalize }}</span>
            </div>
            <div class="col-xs-9 col-md-10 preserve">
                <h4 class="modal-title">
                    <a title="Tous les détails de {{ nomSoiree }}"
                       href="{{ path('tbn_agenda_details', {'slug' : soiree.slug, 'id': soiree.id, 'city': soiree.place.city.slug}) }}">{{ nomSoiree }}</a>
                </h4>
                <strong class="text-primary" style="font-weight: normal"
                        title="{{ soiree.place and soiree.place.ville ? soiree.place.ville : '' }}">{{ soiree.place ? soiree.place.nom : '' }}</strong>
                {% set distinctTags = soiree.distinctTags %}
                {% if distinctTags|length %}
                    <br/>
                    {% for tag in distinctTags %}
                        <a class="label label-info" title="{{ tag }} à {{ soiree.place.city.name }}"
                           href="{{ path('tbn_agenda_tags', {'tag' : tag|trim, 'city': soiree.place.city.slug}) }}">
                            <strong>{{ tag }}</strong>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% if hasNextLink %}
    <a class="more-content btn btn-primary btn-raised btn-block" href="{{ hasNextLink }}">Plus ({{ current }}
        / {{ count }})</a>
{% endif %}

