{% extends "EspacePerso/layout.html.twig" %}

{% block titre 'Mes événements' %}
{% block title 'Mes événements' %}

{% import "Form/macros.html.twig" as macros %}

{% block body -%}
    <div class="text-center mt-2 mb-4">
        <a class="btn btn-success btn-raised" href="{{ path('app_event_new') }}">
            <i class="fa fa-plus"></i>
            Nouvel événement
        </a>
    </div>

    {% if events|length > 0 %}
        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Lieu</th>
                        <th>Ville</th>
                        <th>Date</th>
                        <th>Visible</th>
                        <th>Annulé</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>
                                <a href="{{ path('app_event_edit', {'id': event.id}) }}" title="Accéder à l'événement">{{ event.nom }}</a></td>
                            <td>{{ event.placeName }}</td>
                            <td>{{ event.placeCity }}</td>
                            <td>
                                {{ macros.dates(event.dateDebut, event.dateFin) }}
                            </td>
                            <td>
                                <div class="switch">
                                    <label class="mb-0">
                                        <input type="checkbox" class="brouillon" data-href="{{ path('app_event_brouillon', {'id': event.id}) }}" {{ event.brouillon ? '' : 'checked' }} />
                                        &nbsp;
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="switch">
                                    <label class="mb-0">
                                        <input type="checkbox" class="annuler" data-href="{{ path('app_event_annuler', {'id': event.id}) }}" {{ event.modificationDerniereMinute ? 'checked' : '' }} />
                                        &nbsp;
                                    </label>
                                </div>
                            </td>
                            <td class="actions">
                                <a class="btn btn-outline-secondary" href="{{ path('app_event_details', {'slug': event.slug, 'id': event.id, 'location': event.locationSlug}) }}" data-bs-toggle="tooltip" title="Voir l'événement">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a class="btn btn-primary" href="{{ path('app_event_edit', {'id': event.id}) }}" data-bs-toggle="tooltip" title="Corriger l'événement">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <form class="d-inline-block form-delete" method="post" action="{{ path('app_event_delete', {'id': event.id}) }}">
                                    <input name="_method" type="hidden" value="DELETE">
                                    <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" title="Supprimer l'événement">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {{ knp_pagination_render(events) }}
    {% else %}
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> Aucun événement créé, publiez dès maintenant le vôtre !
        </div>
    {% endif %}
{%- endblock %}

{% block css -%}
    {{ encore_entry_link_tags('espace_perso_list') }}
{%- endblock %}

{% block js -%}
    {{ encore_entry_script_tags('espace_perso_list') }}
{%- endblock %}
