{% extends "EspacePerso/layout.html.twig" %}

{% block titre 'Créer un nouvel événement' %}
{% block title 'Nouvel événement' %}

{% block container_class '' %}

{% block breadcrumb_espace -%}
    {% set item = menu.addItem("Nouveau", url('app_event_new')) %}
{%- endblock %}

{% block body -%}
    <div class="mon_evenement">
        {% block body_form %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-6">
                    {% include "EspacePerso/_event_part_1.html.twig" %}
                    {% include "EspacePerso/_event_part_4.html.twig" %}
                </div>
                <div class="col-md-6">
                    {% include "EspacePerso/_event_part_2.html.twig" %}
                    {% include "EspacePerso/_event_part_3.html.twig" %}
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4 text-left">
                    {% block button_submit %}
                        {{ form_row(form.ajouter) }}
                    {% endblock %}
                    <a class="btn btn-default btn-raised bg-white" href="{{ path('app_event_list') }}"
                       title="Retourner à mes soirées">
                        <i class="fa fa-chevron-left"></i>
                        Retour
                    </a>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        {% endblock %}
    </div>
{%- endblock %}

{% block css -%}
    <link rel="stylesheet" href="{{ app_asset('espace-perso/evenements/css/manager.min.css') }}" type="text/css">
{%- endblock %}

{% block head_js -%}
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&key={{ googleMapKey }}&language=fr&libraries=places"></script>
{%- endblock %}

{% block js -%}
    <script src="{{ app_asset('espace-perso/evenements/js/manager.min.js') }}" type="text/javascript"></script>
{%- endblock %}
