<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-6 footer_border">
                <h3 class="modal-title color-second">By Night</h3>
                <ul class="fa-ul">
                    <li>
                        <i class="fa fa-li fa-angle-right"></i>
                        <a title="A propos de By Night" href="{{ path('tbn_agenda_about') }}">A propos</a>
                    </li>
                    <li>
                        <i class="fa fa-li fa-angle-right"></i>
                        <a title="En savoir plus sur la création d'événements" href="{{ path('tbn_agenda_plus') }}">En
                            savoir plus</a>
                    </li>
                    <li>
                        <i class="fa fa-li fa-angle-right"></i>
                        <a title="Accéder aux mentions légales" href="{{ path('tbn_agenda_mention_legales') }}">Mentions
                            légales</a>
                    </li>
                    <li>
                        <i class="fa fa-li fa-angle-right"></i>
                        <a title="Découvrir le blog By Night" href="http://blog.by-night.fr">Actualités By Night</a>
                    </li>
                    <li>
                        <i class="fa fa-li fa-angle-right"></i>
                        <a title="Offre de parrainage Boursorama" href="https://parrainages-boursorama.fr">Bon plan
                            Boursorama</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 sites footer_border">
                <h3 class="modal-title color-second">Recherche par ville</h3>
                <ul class="fa-ul">
                    {% for city in cities %}
                        <li>
                            <i class="fa fa-li fa-angle-right"></i>
                            <a title="Découvrir les événements sur {{ city.name }}" href="{{ path('tbn_agenda_index', {'city' : city.slug}) }}">
                                {{ city.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="row counts">
            <div class="col-xs-6 preserve">
                {% if app_manager.facebookIdPage %}
                    <a class="social" title="By Night sur Facebook" href="https://www.facebook.com/{{ app_manager.facebookIdPage }}">
                        <i class="fa fa-facebook fa-3x"></i>
                        <span class="number number-xbig">{{ count_facebook }}</span>
                    </a>
                {% endif %}
            </div>
            <div class="col-xs-6 preserve">
                {% if app_manager.twitterIdPage %}
                    <a class="social" title="By Night sur Twitter" href="https://twitter.com/{{ app_manager.twitterIdPage }}">
                        <i class="fa fa-twitter fa-3x"></i>
                        <span class="number number-xbig">{{ count_twitter }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr/>
