{% extends 'layouts/full.html.twig' %}
{% do fos_httpcache_tag(tags('location', location)) %}

{% block titre 'Sortir ' ~ location.atName %}
{% block title 'Concerts, soirées : toutes les sorties ' ~ location.atName %}

{% block meta_description -%}
    Sortir {{ location.atName }}. L'agenda des concerts, spectacles, soirées, sorties, bars, after work et boîtes de nuit ce soir {{ location.atName }}.
{%- endblock %}

{% block breadcrumb %}
    {% if location.isCountry %}
        {% do menu.addItem(location.country.displayName, url('app_agenda_index', {'location': location.country.slug})) %}
    {% else %}
        {% do menu.addItem(location.city.country.displayName, url('app_agenda_index', {'location': location.city.country.slug})) %}
        {% do menu.addItem('Sortir ' ~ location.atName, url('app_agenda_index', {'location': location.slug})) %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if location.slug in ['basse-terre', 'bordeaux', 'brest', 'caen', 'cayenne', 'dijon', 'fort-de-france', 'grenoble', 'lille', 'lyon', 'mamoudzou', 'marseille', 'montpellier', 'nantes', 'narbonne', 'nice', 'paris', 'perpignan', 'poitiers', 'reims', 'rennes', 'rouen', 'saint-denis', 'strasbourg', 'toulouse'] %}
        {% set locationUrl = asset('build/images/sites/' ~ location.slug ~ '.jpg') %}
    {% else %}
        {% set locationUrl = asset('build/images/landing.jpg') %}
    {% endif %}
    <section class="full_wrapper" style="background-image: url({{ locationUrl }})">
        <div class="fade-black-transp"></div>
        <div class="wrapper">
            <h1>Votre sortie {{ location.atName }}</h1>
            <div class="no-margin-form card search_container">
                <div class="card-body">
                    {{ form_start(form, {'action': path('app_agenda_agenda', {'location': location.slug})}) }}
                        {{ form_row(form.from) }}
                        {{ form_row(form.to) }}
                        {{ form_row(form.shortcut, {'label': 'Je veux sortir ' ~ location.atName}) }}
                        {{ form_row(form.term, {'label': 'Et je cherche...', 'attr': {'placeholder': 'Concert, bar, spectacle, enfant, soirée, ...'}}) }}

                            <div class="text-center">
                                <button type="submit" class="btn btn-raised btn-primary search">
                                    C'est parti
                                </button>
                            </div>
                        {{ form_rest(form)}}
                    {{ form_end(form)}}
                </div>
            </div>
        </div>
        <div class="footer_wrapper">
            {% set s = events.totalItemCount > 1 ? "s" : "" %}
            <h2 class="text-primary h4">{{ events.totalItemCount }} événement{{ s }} et bon{{ s }} plan{{ s }} culturel{{ s }} {{ location.atName }}</h2>
        </div>
    </section>
    <section class="bg-white py-4">
        <div class="container">
            <h2>Envie de sortir aujourd'hui ou ce soir {{ location.atName }} ?</h2>
            <p>Si vous cherchez <strong>que faire {{ location.atName }}</strong>, trouvez facilement un
                <strong>concert</strong>, <strong>expo</strong>, <strong>spectacle</strong>,
                <strong>café</strong> ou
                <strong>sortie</strong> dans votre ville préférée.
                Il y en a pour tous les goûts, pour toutes les couleurs et pour tous les âges ! De la
                <strong>visite de
                    parcs en famille</strong> aux <strong>soirées étudiantes</strong> les plus branchées dans les
                <strong>discothèques</strong> de {{ location.name }}, trouvez l'événement qui vous correspond !
            </p>
            {% if location.isCity %}
                <p>{{ location.appName }} est une solution alternative pour chercher et trouver facilement des
                    <strong>événements & bons plans culturels</strong> sur la ville de {{ location.name }} et ses environs.
                    Notre but est avant tout de centraliser les
                    <strong>choses à faire à {{ location.name }}</strong> et vous
                    offir une plateforme unique pour vous aider à trouver les meilleures <strong>idées sorties</strong>.
                </p>
            {% else %}
                <p>{{ location.appName }} est une solution alternative pour chercher et trouver facilement des
                    <strong>événements & bons plans culturels</strong> dans toutes les villes de {{ location.name }}.
                    Notre but est avant tout de centraliser les
                    <strong>choses à faire {{ location.atName }}</strong> et vous
                    offir une plateforme unique pour vous aider à trouver les meilleures <strong>idées sorties</strong>.
                </p>
            {% endif %}
            <div class="text-center">
                <a href="{{ path('app_agenda_agenda', {'location': location.slug}) }}" class="btn btn-outline-primary">
                    Agenda des événements<span class="hidden-xs hidden-sm">, concerts, spectacles {{ location.atName }}</span>
                </a>
            </div>
        </div>
    </section>
    <section class="py-4">
        <div class="container">
            <div class="row">
                {% set contents = [{
                    'title': 'Concert',
                    'icon': 'flaticon-microphone47',
                    'color': 'red',
                    'link': path('app_agenda_sortir', {'type': 'concert', 'location': location.slug}),
                    'title_link': 'Concerts ' ~ location.atName,
                    'text': "Les <strong>concerts</strong>, <strong>spectacles</strong> et <strong>soirées</strong> sont multiples
                            " ~ location.atName ~ " ! Trouvez ici <strong>l'agenda des concerts</strong>, <strong>spectacles</strong> et
                            soirées et pour <strong>sortir se détendre</strong> " ~ location.atName ~ "."
                }, {
                    'title': 'Etudiant',
                    'icon': 'flaticon-students17',
                    'color': 'orange',
                    'link': path('app_agenda_sortir', {'type': 'etudiant', 'location': location.slug}),
                    'title_link': 'Soirées étudiantes ' ~ location.atName,
                    'text': "Envie de <strong>soiree étudiante</strong>, de <strong>soirée gratuite</strong>,
                            d'<strong>after work</strong>, de tournée des <strong>bars</strong> ou de sortir en 
                            <strong>discothèque</strong> ce soir ? " ~ location.appName ~ " regroupe
                            <strong>l'agenda des soirées</strong> rien que pour vous !"
                }, {
                    'title': 'Famille',
                    'icon': 'flaticon-father16',
                    'color': 'green',
                    'link': path('app_agenda_sortir', {'type': 'famille', 'location': location.slug}),
                    'title_link': 'Sorties familles ' ~ location.atName,
                    'text': "Trouvez des idées pour <strong>sortir en famille</strong> " ~ location.atName ~ " avec tous les
                            <strong>spectacles enfants</strong>. Découvrez de nouveaux <strong>spectacles jeune public</strong>,
                             des <strong>parcs </strong> ou de jolies <strong>balades</strong> près de " ~ location.name ~ " !"
                }, {
                    'title': 'Spectacle',
                    'icon': 'flaticon-tickets',
                    'color': 'blue',
                    'link': path('app_agenda_sortir', {'type': 'spectacle', 'location': location.slug}),
                    'title_link': 'Spectacles ' ~ location.atName,
                    'text': location.atName ~ ", il y a pleins de <strong>spectacles en " ~ "now"|date('Y') ~ "</strong> ! Divertissement & culture,
                            trouvez votre spectacle préféré ou votre animation favorite grâce à
                            <strong>l'agenda des spectacles " ~ location.atName ~ "</strong>."
                }, {
                    'title': 'Exposition',
                    'icon': 'flaticon-theater1',
                    'color': 'darkblue',
                    'link': path('app_agenda_sortir', {'type': 'exposition', 'location': location.slug}),
                    'title_link': 'Les expos ' ~ location.atName,
                    'text': "Les <strong>expos " ~ location.atName ~ "</strong> sont nombreuses ! Envie d'aller visiter les
                    <strong>expos peinture</strong> de votre ville ? Ou simplement de sortir découvrir 
                    les <strong>expos à voir " ~ location.atName ~ "</strong> ? C'est par ici !"
                }, {
                    'title': 'Organisateur',
                    'icon': 'flaticon-calendar60',
                    'color': 'purple',
                    'link': path('app_event_new'),
                    'title_link': 'Créer un événement',
                    'text': "Vous êtes <strong>organisateur d'événements</strong> ou <strong>agence
                            de communication</strong> " ~ location.atName ~ " ? <strong>Publiez facilement</strong>
                            votre événement sur notre plateforme et donnez lui un maximum de <strong>visibilité</strong> !"
                }] %}

                {% for i, content in contents %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="card h-100">
                            <h3 class="card-header">
                                <i class="{{ content.icon }} text-primary"></i>
                                {{ content.title }}
                            </h3>
                            <div class="card-body">
                                <p class="card-text">{{ content.text|raw }}</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary"
                                   href="{{ content.link }}"
                                   title="{{ content.title_link }}">
                                    <strong>{{ content.title_link }}</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="bg-white py-4">
        <div class="container">
            <h2>Les prochains concerts, spectacles et sorties {{ location.atName }}</h2>
            {% include 'city/event/block-preview-event.html.twig' with({'events': events, 'page': 1}) %}

            <div class="text-center mt-4">
                <a href="{{ path('app_agenda_agenda', {'location': location.slug}) }}" class="btn btn-outline-primary">
                    Toutes les sorties <span class="hidden-xs hidden-sm">{{ location.atName }}</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('event_index') }}
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('event_index') }}
{% endblock %}
