{% extends "base.html.twig" %}

{% set ville = city.name %}

{% block title %}{% spaceless %}{% block title_agenda %}{% endblock %}{% endspaceless %}{% endblock %}
{% block nom_site %}{{ city.name }} {{ parent() }}{% endblock %}
{% block titre %}{% block titre_agenda %}{% endblock %}{% endblock %}
{% block meta_keywords %}{{ city.name|lower }}{% endblock %}
{% block og_url %}{{ url('app_agenda_index', {'city': city.slug}) }}{% endblock %}

{% block meta_description -%}
    Sortir à {{ city.name }}. L'agenda des concerts, spectacles, soirées, sorties, bars, after work et boîtes de nuit ce soir sur {{ city.name }}.
{%- endblock %}
    
{% block body -%}
    <div id="fb-root"></div>{% block body_agenda %}{% endblock %}
{%- endblock %}

{% block widgets %}{% block widgets_agenda %}{% endblock %}{% endblock %}

{% block breadcrumb_content -%}
    {% set item = menu.addItem('Sortir à ' ~ city.name, path('app_agenda_index', {'city': city.slug})) %}
    {% block breadcrumb_city_content %}{% endblock %}
{%- endblock %}

{% block twitter %}
    {% if social_manager.twitterIdPage %}
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@{{ social_manager.twitterIdPage }}"/>
        <meta name="twitter:title" content="{% spaceless %}{{ block('og_titre') }}{% endspaceless %}"/>
        <meta name="twitter:description" content="{% spaceless %}{{ block('og_description') }}{% endspaceless %}"/>
        <meta name="twitter:image:src" content="{% spaceless %}{{ block('og_image') }}{% endspaceless %}"/>
    {% endif %}
{% endblock %}

{% block facebook %}
    {% if social_manager.facebookIdPage %}
        <meta property="fb:page_id" content="{{ social_manager.facebookIdPage }}"/>
    {% endif %}
{% endblock %}

{% block js %}
    {% block js_template %}{% block js_agenda %}{% endblock %}{% endblock %}
{% endblock %}
    
{% block css %}
    {% block css_agenda %}{% endblock %}
{% endblock %}
    
{% block head_js %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ url('app_agenda_index', {'city': city.slug}) }}",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ url('app_search_query', {'q': '{search_term_string}', 'city': city.slug})|url_decode }}",
                "query-input": "required name=search_term_string"
            }
        }

    </script>
    <script type="text/javascript">
        var ville = "{{ city.name }}";
        var fbAppId = "{{ facebook_app_id }}";
    </script>
    {% block head_js_agenda %}{% endblock %}
{% endblock %}
