{% extends "TBNMainBundle::layout.html.twig" %}

{% block titre_main %}Bienvenue sur By Night !{% endblock %}

{% block title_main %}Choisissez votre ville{% endblock %}

{% block meta_description_main %}
Choisissez votre ville parmis {{ villes|join(", ") }} pour découvrir les événements du moment !
{% endblock %}

    
{% block meta_keywords_main %}
    {% for site in sites %}
        {{ site.nom }},
    {% endfor %}
{% endblock %}

{% block body_main %}
    <h2>Envie de sortir ?</h2>
    <br />
    <p>
        By Night vous propose les agendas des événements, concerts, spectacles et manifestations dans les plus grandes villes de France.
    </p>
    <p>
        Qu'attendez vous ? Choisissez votre ville et découvrez tous les événements !
    </p>
    <br />
    <div class="row">
    {% for i, site in sites %}
        {% if i is odd %}
            {% set classLeft = 'col-md-6 col-md-push-6' %}
            {% set classRight = 'col-md-6 col-md-pull-6' %}
        {% else %}
            {% set classLeft = 'col-md-6' %}
            {% set classRight = 'col-md-6' %}
        {% endif %}

        <div class="{{ classLeft }}" >
            <div id="carousel-{{ i }}" data-ride="carousel" class="carousel slide">
                {% set currentImages = site.images %}
                {% set currentImages = currentImages|merge([{'webPath': 'img/sites/' ~ site.subdomain ~ '.jpg'}]) %}
                
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for j, image in currentImages %}
                        {% set activeClass = j == 0 ? 'active' : '' %}
                        <li data-target="#carousel-{{ i }}" data-slide-to="{{ j }}" class="{{ activeClass }}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for j, image in currentImages %}
                        {% set activeClass = j == 0 ? 'active' : '' %}
                        <div class="item {{ activeClass }}">
                            <img class="img-responsive img loading" src="{{ asset('img/loading_site.png') }}" data-src="{{ image.webPath|imagine_filter('thumb_site') }}" >
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-{{ i }}" role="button" data-slide="prev">
                    <i class="icon-prev fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="right carousel-control" href="#carousel-{{ i }}" role="button" data-slide="next">
                    <i class="icon-next fa fa-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
        <div class="{{ classRight }}">
            <h2 class="modal-title">
                <a title="Accéder aux événements de {{ site.nom }}" 
                    href="{{ path('tbn_agenda_index', {'subdomain': site.subdomain }) }}">
                    {{ site.nom }}
                 </a>                
            </h2>
            {{ site.description|raw }}
            <a title="Accéder aux événements de {{ site.nom }}" 
               class="btn btn-primary btn-flat"
               href="{{ path('tbn_agenda_index', {'subdomain': site.subdomain }) }}">
                <i class="fa fa-chevron-right"></i> Accéder
            </a>
        </div>
        <div class="clearfix"></div>
        <br />
        <br />
        <br />
    {% endfor %}
    </div>
{% endblock %}
