<!DOCTYPE HTML>
<!--
_______     __  _   _ _____ _____ _    _ _______
|  _ \ \   / / | \ | |_   _/ ____| |  | |__   __|
| |_) \ \_/ /  |  \| | | || |  __| |__| |  | |
|  _ < \   /   | . ` | | || | |_ |  __  |  | |
| |_) | | |    | |\  |_| || |__| | |  | |  | |
|____/  |_|    |_| \_|_____\_____|_|  |_|  |_|

-->
<html prefix="og: http://ogp.me/ns#" lang="{{ app.request.locale }}" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% apply spaceless %}{% block full_title %}{% apply spaceless %}{%- block title -%}{%- endblock -%}{% endapply %} - {% block nom_site 'By Night' %}{% endblock %}{% endapply %}</title>
    <meta name="title" content="{{ block('og_titre') }}">
    <meta name="keywords" content="{% block meta_full_keywords %}{% block meta_keywords %}{% endblock %}aujourd'hui,ce,soir,soiree,sortie,concert,spectacle,musique,discotheque,boite,de,nuit{% endblock %}">
    <meta name="description" content="{% block description %}{% block meta_description %}By Night vous fait découvrir tous les événements du moment !{% endblock %}{% endblock %}">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=yyQOxPP629">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=yyQOxPP629">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=yyQOxPP629">
    <link rel="manifest" href="/site.webmanifest?v=yyQOxPP629">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=yyQOxPP629" color="#3f51b5">
    <link rel="shortcut icon" href="/favicon.ico?v=yyQOxPP629">
    <meta name="msapplication-TileColor" content="#3f51b5">
    <meta name="theme-color" content="#3f51b5">
    <!-- ./Icons -->

    <!-- OpenGraph -->
    <meta property="og:site_name" content="{{ block('nom_site') }}">
    <meta property="og:description" content="{% block og_description %}{{ block('description') }}{% endblock %}">
    <meta property="og:title" content="{% block og_titre %}{{ block('title') }}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{{ url('app_index') }}{% endblock %}">
    <meta property="og:locale" content="fr" />
    <meta property="og:image" content="{% block og_image %}{{ asset('build/images/by-night.png') }}{% endblock %}">
    <!-- ./OpenGraph -->

    <!-- Twitter -->
    {% if social_manager.twitterIdPage %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@{{ social_manager.twitterIdPage }}" />
        <meta name="twitter:title" content="{{ block('og_titre') }}" />
        <meta name="twitter:description" content="{{ block('og_description') }}" />
        <meta name="twitter:image:src" content="{{ block('og_image') }}" />
    {% endif %}
    {% block twitter %}{% endblock %}
    <!-- ./Twitter -->

    <!-- FB -->
    {% if social_manager.facebookIdPage %}
        <meta property="fb:page_id" content="{{ social_manager.facebookIdPage }}" />
    {% endif %}
    {% block facebook %}{% endblock %}
    <!-- ./FB -->

    <!-- Google -->
    {% block google %}{% endblock %}
    <!-- ./Google -->

    <!-- DC -->
    <meta name="dc.description" content="{{ block('og_description') }}">
    <meta name="dc.title" content="{{ block('og_titre') }}">
    <meta name="dc.keywords" content="{{ block('meta_full_keywords') }}" />
    <!-- ./DC -->

    {% block metas %}{% endblock %}

    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:300,400,500&display=swap" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
    {% block css %}{% endblock %}
    <!-- ./CSS -->

    <script data-ad-client="ca-pub-2072406985754187" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45716709-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-45716709-2');
    </script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ url('app_index') }}",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ url('app_search_index', {'q': '{search_term_string}'})|url_decode }}",
                "query-input": "required name=search_term_string"
            }
        }

    </script>
    {% block head_js_layout %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<div id="wrap">
    <header>
        <!-- Menu -->
        {% if location is defined and location.isCity %}
            {{ render_esi(path('app_private_header', {'id': location.city.id})) }}
        {% else %}
            {{ render_esi(path('app_private_header')) }}
        {% endif %}
        <!-- ./Menu -->

        {% block full_breadcrumb %}
        <div id="bread">
            <div class="container d-flex">
                <button type="button" class="btn btn-light d-lg-none">
                    <i class="fa fa-chevron-down"></i>
                </button>
                {% do menu.addItem('By Night', url('app_index')) %}

                {% block breadcrumb %}{% endblock %}
                {{ wo_render_breadcrumbs({separator: null, listClass: 'breadcrumb collapsed', itemClass: 'breadcrumb-item'}) }}
            </div>
        </div>
        {% endblock %}
    </header>

    <!-- Main -->
    {% block layout %}{% endblock %}
    <!-- ./Main -->
</div>
<div id="search-menu-backdrop"></div>

<!-- Modals -->
<div class="modal fade" id="dialog_details" tabindex="-1" role="dialog" aria-hidden="true">
    {% include 'layouts/modal.html.twig' %}
</div>
{% block modals %}{% endblock %}
<!-- ./Modals -->

<!-- Footer -->
{% if location is defined %}
    {% set countryId = location.isCountry ? location.country.id : location.city.country.id %}
    {{ render_esi(controller('App\\Controller\\Fragments\\CommonController::footer', {'id': countryId})) }}
{% else %}
    {{ render_esi(controller('App\\Controller\\Fragments\\CommonController::footer')) }}
{% endif %}
<!-- ./Footer -->

<button type="button" id="toTop" class="btn btn-primary bmd-btn-fab">
    <i class="fa fa-chevron-up"></i>
</button>

<!-- JS -->
{{ encore_entry_script_tags('app') }}
{%- block js -%}{%- endblock -%}
<script>
    on(window, 'load', function () {
        App.run({{ {
            'environment': app.environment,
            'locale': app.request.locale,
            'release': app_version,
            'dsn': sentry_dsn,
            'user' : (app.user ? {'id': app.user.id, 'username': app.user.username, 'email': app.user.email} : null)
        }|json_encode|raw }});
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.cookieBar({
            message: 'En poursuivant votre navigation, vous acceptez l\'utilisation de cookies pour vous proposer des services et offres adaptés à vos centres d\'intérêts et mesurer la fréquentation de nos services.',
            acceptText: 'J\'ai compris',
            bottom: true,
            fixed: true,
            policyButton: true,
            policyText: 'En savoir plus',
            policyURL: '{{ path('app_main_cookie') }}'
        });
    });
</script>
<!-- ./JS -->
</body>
</html>
