<nav class="navbar shadow navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('tbn_main_index') }}" title="By Night : les concerts, spectacles, sorties partout en France" class="navbar-brand">
                <img src="{{ app_asset('img/by-night_40x40.png') }}" width="40" height="40" alt="By Night" />
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                {% if city %}
                <li>
                    <a href="{{ path('tbn_agenda_index', {'city': city.slug}) }}" title="{{ city.fullName }}"><strong>{{ city.name }}</strong></a>
                </li>
                    <li>
                    <a href="{{ path('tbn_agenda_agenda', {'city': city.slug}) }}" title="L'agenda des sorties à {{ city.name }}, c'est par ici !">Agenda</a>
                </li>
                {% endif %}
                <li>
                    <a title="Créez votre événement en 1 clic !" href="{{ path('tbn_agenda_new') }}">Créer un événement</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") -%}
                    <li>
                        <a title="Voir mes soirées" href="{{ path('tbn_agenda_list') }}">Mes événements</a>
                    </li>
                {%- endif %}
            </ul>

            <form action="{{ path('tbn_search_query') }}" method="GET" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control col-md-8" placeholder="Que cherchez-vous ?" name="q" value="{{ app.request.get('q')|trim }}" autocomplete="off">
                </div>
                <button class="btn btn-raised btn-primary" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("ROLE_ADMIN") %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('easyadmin') }}">Administration</a></li>
                        <li><a href="{{ path('tbn_administration_info_index') }}">Réseaux Sociaux</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ fos_httpcache_tag('menu-' ~ app.user.id) }}
                    <li class="dropdown profile">
                        <a href="#" title="{{ app.user.username }}" class="dropdown-toggle" data-toggle="dropdown">
                            {% set imageURL = userProfilePicture.getProfilePicture(app.user, 'thumb_user_menu') %}
                            <img class="img-circle" height="30" width="30" src="{{ imageURL }}" alt="Mon profil" /> 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a title="Accéder à mon compte" href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-cogs"></i> Mon compte</a></li>
                            <li><a title="Accéder à mon profil public" href="{{ path('tbn_user_details', {'id' : app.user.id, 'slug': app.user.slug}) }}"><i class="fa fa-user"></i> Mon profil</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Déconnexion</a></li>                                     
                        </ul>
                    </li>                  
                {% else %}
                    {% set route = app.request.attributes.get('_route') %}
                    {% if route != "fos_user_registration_register" %}
                    <li>
                        <a class="register" title="Inscrivez-vous sur By Night" href="{{ path('fos_user_registration_register') }}" >
                            Rejoignez-nous
                        </a>
                    </li>
                    {% endif %}
                    {% if route != "fos_user_security_login" %}
                    <li>
                        <a class="connexion" title="Connectez-vous sur By Night" href="{{ path('fos_user_security_login') }}" >
                            Connexion
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>            
        </div>        
    </div>
</nav>
