{% extends "TBNAgendaBundle:Widget:template.html.twig" %}

{% block widget_body_class %}scrollable membres{% endblock %}
{% block titre %}Tendances{% endblock %}
{% block icone %}fa-line-chart{% endblock %}
{% block body %}
    <div class="text-center">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="btn-group buttons hidden" data-toggle="buttons">
                <label class="btn btn-primary participer {{ participer ? "active" : ""}}" data-href="{{ path('tbn_user_participer', {'id' : soiree.id }) }}">
                    <i class="fa fa-check-circle-o check" ></i>
                    <input type="radio" name="interet" /> J'y serai
                </label>
                <label class="btn btn-primary interesser {{ interet ? "active" : ""}}" data-href="{{ path('tbn_user_interesser', {'id' : soiree.id }) }}">
                    <i class="fa fa-check-circle-o check" ></i>
                    <input type="radio" name="interet" /> Ça m'interesse
                </label>
            </div>
        {% else %}
            <a class="btn btn-warning btn-block connexion" href="{{ path('fos_user_security_login') }}">Connectez-vous</a>
        {% endif %}
        <br/>
        {{ render_hinclude(url('tbn_agenda_soirees_tendances',{'slug': soiree.slug})) }}
    </div>
{% endblock %}
{% block footer %}
    <div class="panel-footer">
        <button type="button" class="btn btn-primary btn-block more-widget" data-href="{{ path('tbn_agenda_soirees_membres', {'slug': soiree.slug }) }}" >Plus</button>
    </div>
{% endblock %}