{% extends 'layouts/stretch.html.twig' %}

{% import "form/macros.html.twig" as macros %}
{% set nomSoiree = event_seo.getEventShortTitle(event) %}
{% set horaires = event_seo.getEventDateTime(event) %}
{% set descriptionSoiree = event.descriptif|parse_tags|raw %}
{% set original = eventProfilePicture.originalPicture(event) %}
{% set distinctTags = event.distinctTags %}

{% set place = event.place %}

{% block page_id 'page-event' %}
{% block title event_seo.eventFullTitle(event) %}
{% block titre -%}
    {{ block('title') }}
{%- endblock %}

{% block breadcrumb %}
    {% if location.isCountry %}
        {% do menu.addItem(location.country.displayName, url('app_location_index', {'location': location.country.slug})) %}
    {% else %}
        {% do menu.addItem(location.city.country.displayName, url('app_location_index', {'location': location.city.country.slug})) %}
        {% do menu.addItem('Sortir à ' ~ event.placeCity, url('app_agenda_index', {'location': location.city.slug})) %}
    {% endif %}

    {% do menu.addItem(event.placeName, url('app_agenda_by_place', {'location': location.slug, 'slug': place.slug})) %}
    {% do menu.addItem(nomSoiree, url('app_event_details', {'slug': event.slug, 'id': event.id, 'location': event.locationSlug})) %}
{% endblock %}
    
{% block meta_keywords %}{% if distinctTags|length > 0 %}{{ distinctTags|join(',') }},{% endif %}{{ parent() }}{% endblock %}
{% block meta_description event_seo.eventDescription(event) %}

{% block metas %}
    <link rel="image_src" href="{{ original }}" />
    <meta property="article:published_time" content="{{ event.createdAt.format('Y-m-d') }}" />
    <meta property="article:publisher" content="https://www.facebook.com/pages/By-Night/{{ social_manager.facebookIdPage }}" />
    {% if event.user %}
        <meta property="article:author" content="{{ url('app_user_index', {'id': event.user.id, 'slug': event.user.slug}) }}" />
    {% endif %}

    {% for tag in distinctTags %}
        <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
{% endblock %}

{% block og_titre nomSoiree %}
{% block og_url url('app_event_details', {'slug': event.slug, 'id': event.id, 'location': event.locationSlug}) %}
{% block og_image original %}

{% block body -%}
    {{ fos_httpcache_tag(tags('event', event) ) }}
    {% if event.brouillon %}
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i>
            Cet événement n'est pas encore disponible publiquement. Merci de patienter encore un peu !
        </div>
    {% else %}
        <div class="card" id="event">
            <div class="row g-0">
                {% if event.modificationDerniereMinute %}
                    <div class="col-12">
                        <div class="alert alert-warning mb-0">
                            <i class="fa fa-warning"></i>
                            <span itemprop="eventStatus"}>Informations de dernière minute : {{ event.modificationDerniereMinute }}</span>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-8">
                    <a class="image-gallery" href="{{ original }}" title="{{ nomSoiree }}">
                        {{ macros.eventThumb(event, 800, 400, {'class': 'img', 'itemprop': 'image'}) }}
                    </a>
                </div>
                <div class="col-lg-4 event-details">
                    <div class="card-body">
                        <div class="detail-item">
                            <i class="fa fa-calendar"></i>
                            <h2>
                                {% set dateDebut = event.dateDebut|date('d/m/Y') %}
                                {% set dateFin = event.dateFin|date('d/m/Y') %}

                                {% if event.dateFin == null or event.dateDebut == event.dateFin %}
                                    Le
                                    <time itemprop="startDate"
                                          datetime="{{ event.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ event.dateDebut|format_date('full') }}</time>
                                {% else %}
                                    Du
                                    <time itemprop="startDate"
                                          datetime="{{ event.dateDebut|date('Y-m-d\\TH:i:sO') }}">{{ event.dateDebut|format_date('full') }}</time>
                                    au
                                    <time itemprop="endDate"
                                          datetime="{{ event.dateFin|date('Y-m-d\\TH:i:sO') }}">{{ event.dateFin|format_date('full') }}</time>
                                {% endif %}
                            </h2>
                        </div>
                        {% if event.horaires %}
                            <div class="detail-item">
                                <i class="fa fa-clock-o"></i>
                                <p>{{ event.horaires }}</p>
                            </div>
                        {% endif %}

                        <div itemprop="location" itemscope itemtype="http://schema.org/Place" class="detail-item">
                            <meta name="url" content="{{ path('app_agenda_by_place', {'slug': place.slug, 'location': place.locationSlug}) }}">

                            {% set mapParameter = "place?q=" %}
                            {% set mapValue = "" %}
                            {% if event.placeName %}
                                {% set mapValue = event.placeName %}
                                <i class="fa fa-map-marker"></i>
                                <h2 class="mb-0">
                                    <strong class="font-weight-normal" itemprop="name">{{ event.placeName }}</strong>
                                </h2>
                            {% endif %}

                            {% if event.placeCity %}
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    {% if event.place and event.place.city %}
                                        <meta itemprop="addressCountry" content="{{ event.place.city.country.id }}" />
                                    {% endif %}

                                    {% if event.placeStreet %}
                                        <div itemprop="streetAddress">{{ event.placeStreet }}</div>
                                    {% endif %}

                                    {% if event.placeCity or event.placePostalCode %}
                                        <div>
                                            {% if event.placePostalCode %}
                                                <span itemprop="postalCode">{{ event.placePostalCode }}</span>
                                            {% endif %}

                                            {% if event.placeCity %}
                                                {% set mapValue = mapValue ~ " " ~ event.placeCity %}
                                                {% if event.place and event.place.city %}
                                                    <meta name="url" content="{{ path('app_agenda_index', {'location': place.locationSlug}) }}">
                                                    <strong class="font-weight-normal" itemprop="addressLocality">{{ event.placeCity }}</strong>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if event.latitude and event.longitude %}
                                <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="{{ event.latitude }}" />
                                    <meta itemprop="longitude" content="{{ event.longitude }}" />
                                </span>
                                {% if not place.city %}
                                    {% set mapParameter = "place?q=" %}
                                    {% set mapValue = event.latitude ~ ',' ~ event.longitude %}
                                {% endif %}
                            {% endif %}
                        </div>

                        {% if event.tarif %}
                            <div class="detail-item">
                                <i class="fa fa-ticket"></i>
                                <p>{{ event.tarif }}</p>
                            </div>
                        {% endif %}

                        {% if event.affiliate %}
                        <div class="detail-item">
                            <p>
                                <a href="{{ event.source }}" class="btn btn-block btn-raised btn-primary" rel="sponsored">Je prends vite mes billets</a>
                            </p>
                            <small class="text-muted mt-2">Avec {{ event.fromData }}</small>
                        </div>
                        {% endif %}
                        {% if event.user %}
                            <div class="detail-item">
                                <i class="fa fa-user"></i>
                                <p>
                                    Par
                                    <a href="{{ path('app_user_index', {'id': event.user.id, 'slug': event.user.slug} ) }}"
                                       title="Les événements de {{ event.user.username }}">
                                        {{ event.user.username }}
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-header card-header-border-top">
                {{ render_esi(path('app_event_trends', {
                    'id': event.id
                })) }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div itemprop="description" class="col-sm-8">
                        {{ descriptionSoiree|raw }}
                    </div>
                    <div class="col-sm-4 my-3 my-md-0 event-details">
                        {% for phoneContact in event.phoneContacts %}
                            <div class="detail-item">
                                <i class="fa fa-phone"></i>
                                <p class="one-line">
                                    <a href="tel:{{ phoneContact }}">{{ phoneContact }}</a>
                                </p>
                            </div>
                        {% endfor %}
                        {% for websiteContact in event.websiteContacts %}
                            <div class="detail-item">
                                <i class="fa fa-globe"></i>
                                <p class="one-line">
                                    <a rel="nofollow" href="{{ websiteContact|ensure_protocol }}">{{ websiteContact }}</a>
                                </p>
                            </div>
                        {% endfor %}
                        {% for mailContact in event.mailContacts %}
                            <div class="detail-item">
                                <i class="fa fa-envelope-o"></i>
                                <p class="one-line">
                                    <a href="mailto:{{ mailContact }}">{{ mailContact }}</a>
                                </p>
                            </div>
                        {% endfor %}
                        {% if event.facebookEventId %}
                            <div class="detail-item">
                                <i class="fab fa-facebook-f"></i>
                                <p class="one-line">
                                    {% set lien = "https://www.facebook.com/events/" ~ event.facebookEventId %}
                                    <a href="{{ lien }}" rel="nofollow">{{ lien }}</a>
                                </p>
                            </div>
                        {% endif %}

                        <div class="detail-item">
                            <i class="fa fa-tags"></i>
                            <p class="tags">
                                {% if event.place.country %}
                                    <a class="badge bg-info"
                                       title="Sortir {{ event.place.country.atDisplayName }}"
                                       href="{{ path('app_agenda_index', {'location': event.place.locationSlug}) }}">
                                        <strong class="font-weight-normal">Événements {{ event.place.country.atDisplayName }}</strong>
                                    </a>
                                {% endif %}

                                {% if event.place.location.isCity and event.placeName != event.place.location.name %}
                                    <a class="badge bg-info"
                                       title="Sortir {{ event.place.location.atName }}"
                                       href="{{ path('app_agenda_index', {'location': event.place.locationSlug}) }}">
                                        <strong class="font-weight-normal">Événements {{ event.place.location.atName }}</strong>
                                    </a>
                                {% endif %}
                                {% if event.placeName %}
                                    <a class="badge bg-info"
                                       title="Sortir à {{ event.placeName }}"
                                       href="{{ path('app_agenda_by_place', {'slug': event.place.slug, 'location': event.place.locationSlug}) }}">
                                        <strong class="font-weight-normal">Événements à {{ event.placeName }}</strong>
                                    </a>
                                {% endif %}

                                {% for tag in distinctTags %}
                                    <a class="badge bg-info"
                                       title="{{ tag }} {{ event.place.location.atName }}"
                                       href="{{ path('app_agenda_by_tags', {'tag' : tag|trim, 'location': event.place.locationSlug}) }}">
                                        <strong class="font-weight-normal">{{ tag }} {{ event.place.location.atName }}</strong>
                                    </a>
                                {% endfor %}
                            </p>
                        </div>

                        {% if event.source %}
                            <div class="detail-item">
                                <i class="fa fa-info"></i>
                                <p>
                                    Source : <a href="{{ event.source }}" rel="nofollow">{{ event.fromData }}</a>
                                </p>
                            </div>
                        {% endif %}

                        {% set maPatisserieDisplayed = false %}
                        {% for word in ['patisserie', 'pâtisserie', 'chocolat', 'Gateau', 'Gâteau', 'atelier culinaire'] %}
                            {% if not maPatisserieDisplayed and (word in event.descriptif|lower or word in event.nom|lower) %}
                                {% set maPatisserieDisplayed = true %}
                                <div class="detail-item">
                                    <i class="fa fa-birthday-cake"></i>
                                    <p>
                                        <a href="https://mapatisserie.fr">Blog de pâtisserie</a>
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if mapValue %}
                <div class="card-body text-center">
                    <button
                            class="btn btn-outline-primary"
                            id="loadMap"
                            data-map="https://www.google.com/maps/embed/v1/{{ mapParameter }}{{ mapValue|raw|url_encode }}&key={{ googleMapKey }}&zoom=16">
                        Afficher sur une carte
                    </button>
                </div>
                <div id="googleMap"></div>
            {% endif %}

            <div class="card-body">
                {{ render_esi(path('app_comment_form', {
                    'id': event.id,
                })) }}
            </div>
        </div>

        {% if event.placeName %}
            {% include 'location/widget/next-events.html.twig' %}
        {% endif %}

        <!-- Événements similaires -->
        {% include 'location/widget/similar-events.html.twig' %}
        <!-- ./Événements similaires -->

    {% endif %}
{%- endblock %}

{% block css %}
    {{ encore_entry_link_tags('event_details') }}
{% endblock %}
        
{% block js %}
    {{ encore_entry_script_tags('event_details') }}
{% endblock %}
