{% extends "::base.html.twig" %}

{% set ville = site.subdomain %}

{% block title %}{% block title_agenda %}{% endblock %}{% endblock %}

{% block nom_site %}{{ site.nom }} {{ parent() }}{% endblock %}

{% block titre %}{% block titre_agenda %}{% endblock %}{% endblock %}

{% block meta_keywords %}{{ site.nom|lower }},{% endblock %}

{% block meta_description %}L'agenda des événements, sorties, concerts, spectacles à {{ site.nom }}. Publiez vos propres événements et diffusez les automatiquement sur les réseaux sociaux !{% endblock %}
    
{% block body %}<div id="fb-root"></div>{% block body_agenda %}{% endblock %}{% endblock %}
{% block widgets %}{% block widgets_agenda %}{% endblock %}{% endblock %}

{% block breadcrumb %}    
    <div id="bread" class="bg-white">
        <div class="container">
            {% set item = menu.addItem('Accueil', path('tbn_main_index')) %}    
            {% set item = menu.addItem(site.nom, path('tbn_agenda_index')) %}    
            {% block breadcrumb_agenda %}{% endblock %}
            {{ wo_render_breadcrumbs({separator: null, listId: 'fil-ariane'}) }}
        </div>
    </div>   
{% endblock %}

{% block twitter %}
    {% if site.twitterIdPage %}               
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@{{ site.twitterIdPage }}" />
    {% endif %}
{% endblock %}

{% block google %}
    {% if site.googleIdPage %}
        <link rel="author" href="https://plus.google.com/u/{{ site.googleIdPage }}" />
    {% endif %}
{% endblock %}

{% block facebook %}
    {% if site.facebookIdPage %}
        <meta property="fb:page_id" content="{{ site.facebookIdPage }}" />
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "TBNAgendaBundle::footer.html.twig" %}
{% endblock %}

{% block js %}
    {% block js_template %}{% block js_agenda %}{% endblock %}{% endblock %}
{% endblock %}
    
{% block css %}    
    {% block css_agenda %}{% endblock %}
{% endblock %}
    
{% block head_js %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ url('tbn_agenda_index') }}",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ url('tbn_search_query', {'q': '{search_term_string}'})|url_decode }}",
                "query-input": "required name=search_term_string"
            }
        }
    
    </script>
    <script type="text/javascript">
        var ville = "{{ site.nom }}";
        var fbAppId = "{{ facebook_app_id }}";
    </script>
    {% block head_js_agenda %}{% endblock %}
{% endblock %}
