{% extends "::base.html.twig" %}

{% set ville = site.subdomain %}

{% block title %}{% spaceless %}
    {% block title_agenda %}{% endblock %}
{% endspaceless %}{% endblock %}

{% block nom_site %}{% spaceless %}
    {{ site.nom }} {{ parent() }}
{% endspaceless %}{% endblock %}

{% block titre %}{% spaceless %}
    {% block titre_agenda %}{% endblock %}
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% spaceless %}
    {{ site.nom|lower }},
{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
L'agenda des événements, concerts, spectacles à {{ site.nom }}. Publiez vos propres événements et diffusez les automatiquement sur les réseaux sociaux !
{% endspaceless %}{% endblock %}
    
{% block body %}<div id="fb-root"></div>{% block body_agenda %}{% endblock %}{% endblock %}
{% block widgets %}{% block widgets_agenda %}{% endblock %}{% endblock %}

{% block breadcrumb %}    
    {% set test = menu.addItem("Villes", path('tbn_main_index')) %}    
    {% set test = menu.addItem(site.nom, path('tbn_agenda_index')) %}    
    {% block breadcrumb_agenda %}{% endblock %}
    
    {{ wo_render_breadcrumbs({separator: null, listId: 'fil-ariane'}) }}          
{% endblock %}

{% block twitter %}
    {% if site.twitterIdPage != "" %}               
        <meta name="twitter:card" content="summary" >
        <meta name="twitter:site" content="@{{ site.twitterIdPage }}" >
    {% endif %}
{% endblock %}

{% block google %}
    {% if site.googleIdPage != ""  %}
        <link rel="author" href="https://plus.google.com/u/{{ site.googleIdPage }}">
    {% endif %}
{% endblock %}

{% block facebook %}
    {% if site.facebookIdPage != ""  %}
        <meta property="fb:page_id" content="{{ site.facebookIdPage }}">
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "TBNAgendaBundle::footer.html.twig" %}
{% endblock %}

{% block js %}
    ville = "{{ site.nom }}";
    window.get_social_count = "{{ path('tbn_social_counts') }}";
    window.fb_app_id = "{{ facebook_app_id }}";
    {% block js_agenda %}{% endblock %}
{% endblock %}
    
{% block css %}    
    {% block css_agenda %}{% endblock %}
{% endblock %}
    
{% block head_js %}
    <script type="application/ld+json">{% spaceless %}
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ url('tbn_agenda_index') }}",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ url('tbn_search_query', {'q': '{search_term_string}'})|url_decode }}",
                "query-input": "required name=search_term_string"
            }
        }
    {% endspaceless %}
    </script>
    {% block head_js_agenda %}{% endblock %}
{% endblock %}