<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="{{ _charset }}"/>
    <title>{{ title }}</title>

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=yyQOxPP629">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=yyQOxPP629">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=yyQOxPP629">
    <link rel="manifest" href="/site.webmanifest?v=yyQOxPP629">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=yyQOxPP629" color="#3f51b5">
    <link rel="shortcut icon" href="/favicon.ico?v=yyQOxPP629">
    <meta name="msapplication-TileColor" content="#3f51b5">
    <meta name="theme-color" content="#3f51b5">
    <!-- ./Icons -->

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
    <!-- ./CSS-->
</head>
<body class="error-page">
<div class="container-fluid d-flex flex-column h-100">
    <div class="d-flex flex-column box-error">
        <div class="row g-0">
            <div class="col-auto">
                <h1>{{ code }}</h1>
            </div>
            <div class="col">
                <h2>{{ message }}</h2>
                <p>{{ description }}</p>
            </div>
        </div>

        <form method="get" action="{{ path('app_search_index') }}">
            <div class="input-group">
                    <span class="input-group-text">
                        <i class="icon fa fa-search"></i>
                    </span>
                <input name="q" class="form-control" size="16" type="text" placeholder="Que cherchez-vous ?"/>
                <input class="btn btn-outline-secondary" type="submit" value="Rechercher"/>
            </div>
        </form>
    </div>
</div>
{{ encore_entry_script_tags('app') }}
</body>
</html>
