<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="{{ _charset }}" />
        <title>{{ title }}</title>

        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png?v=PYezm92qNy') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png?v=PYezm92qNy') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png?v=PYezm92qNy') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest?v=PYezm92qNy') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg?v=PYezm92qNy') }}" color="#3f51b5">
        <link rel="shortcut icon" href="{{ asset('favicon.ico?v=PYezm92qNy') }}">
        <meta name="msapplication-TileColor" content="#3f51b5">
        <meta name="theme-color" content="#3f51b5">
        <!-- ./Icons -->

        <!-- CSS -->
        <link rel="stylesheet" href="{{ app_asset('css/erreurs.min.css') }}" type="text/css" media="screen" >
        <!-- ./CSS-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row box-error">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                    <h1>{{ code }}</h1>
                    <h2>{{ message }}</h2>
                    <p>{{ description }}</p>

                    <form method="get" action="{{ path('app_search_query') }}">
                        <div class="input-prepend input-group">
                            <span class="input-group-addon clear"><i class="fa fa-search"></i></span>
                            <input name="q" class="form-control" size="16" type="text" placeholder="Que cherchez vous ?" />
                            <span class="input-group-btn">
                                <input class="btn btn-info" type="submit" value="Rechercher" />
                            </span>
                        </div>
                    </form>
                </div><!--/col-->
            </div><!--/row-->
        </div>
    </body>
</html>