{% extends "TBNUserBundle::layout.html.twig" %}


{% block titre_espace %}Mes événements{% endblock %}

{% block title_espace %}{{ block('titre_espace') }}{% endblock %}

{% block breadcrumb_espace %}
    {% set item = menu.addItem("Mon compte", path('fos_user_profile_show')) %}
    {% set item = menu.addItem("Mes événements", path('tbn_agenda_list')) %}
{% endblock %}

{% block body_espace -%}
<table class="table table-striped">
    <thead>
        <tr>
            <th><a class="btn btn-success" href="{{ path('tbn_agenda_new') }}"><i class="fa fa-plus"></i> Nouvel événement</a></th>
            <th>Nom</th>
            <th>Lieu</th>
            <th>Date de début</th>
            <th>Date de fin</th>
        </tr>
    </thead>    
    <tbody>
        {% for soiree in soirees %}
        <tr>
            <td><a class="btn btn-primary" href="{{ path('tbn_agenda_edit', {'slug': soiree.slug}) }}"><i class="fa fa-pencil"></i> Corriger</a></td>
            <td>{{ soiree.nom }}</td>
            <td>{{ soiree.lieuNom }}</td>
            <td>{{ soiree.dateDebut|localizeddate('full','none')|capitalize}}</td>
            <td>{{ soiree.dateFin|localizeddate('full','none')|capitalize}}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i> Aucun événement créé, publiez dès maintenant le vôtre !
                </div>
            </td>
        </tr>            
        {% endfor %}  
    </tbody>
</table>
{%- endblock %}