{% extends "TBNUserBundle::layout.html.twig" %}

{% block start_container -%}
<div class="container" id="container">
{%- endblock %}
            
{% block titre_espace %}
    Créer un nouvel événement
{% endblock %}

{% block title_espace %}
    Nouvel événement
{% endblock %}

{% block breadcrumb_espace %}
    {% set item = menu.addItem("Mon compte", path('fos_user_profile_show')) %}
    {% set item = menu.addItem("Mes événements", path('tbn_agenda_list')) %}
    {% set item = menu.addItem("Nouveau", path('tbn_agenda_new')) %}
{% endblock %}

{% block body_espace %}
    <div class="mon_evenement">
        {% block body_form %}
            {{ form_start(form) }}            
            {{ form_errors(form) }}            
            <div class="row">
                <div class="col-md-6">
                    {% include "TBNUserBundle:Espace:event_part_1.html.twig" %}
                    {% include "TBNUserBundle:Espace:event_part_4.html.twig" %}
                </div>      
                <div class="col-md-6">
                   {% include "TBNUserBundle:Espace:event_part_2.html.twig" %}     
                   {% include "TBNUserBundle:Espace:event_part_3.html.twig" %}         
                </div> 
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4 text-left">
                    {% block button_submit %}
                        {{ form_row(form.ajouter) }}
                    {% endblock %}
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        {% endblock %}
        <br />
        <br />
        <br />
        <a class="btn btn-default btn-raised bg-white" href="{{ path('tbn_agenda_list') }}" title="Retourner à mes soirées">Retour</a>
    </div>
{% endblock %}

{% block css_agenda %}
    {% stylesheets 
        'bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css'
        'bower/summernote/dist/summernote.css'
        'bundles/tbnuser/css/espace_perso.css'
        'bundles/tbnsocial/css/social_login.css'

        output='prod/css/espace-perso/evenements/manager.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}
{% endblock %}

{% block head_js_espace %}
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=fr&libraries=places"></script>
{% endblock %}

{% block js_espace %}
    {% javascripts 
        'bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.js'
        'bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js'
        'bower/summernote/dist/summernote.js'
        'bower/summernote/lang/summernote-fr-FR.js'
        'bower/typeahead.js/dist/typeahead.bundle.min.js'
        'bower/typeahead-addresspicker/dist/typeahead-addresspicker.min.js'
        '@TBNSocialBundle/Resources/public/js/SocialLogin.js'
        '@TBNUserBundle/Resources/public/js/EventHandler.js'
        output='prod/js/espace-perso/evenements/manager.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
