<div class="card card-user card-layout {{ cardLayout|default('') }}">
    <div class="card-img-container">
        <div class="image-container">
            <twig:UserThumb user="{{ user }}" width="{{ 360 }}" />
        </div>
    </div>
    <div class="card-content">
        <div class="card-body">
            <h3 class="h5">
                <a href="{{ path('app_user_index', {id: user.id, slug: user.slug}) }}">
                    {{ user.username }}
                </a>
            </h3>
            <p class="card-text">
                Membre depuis le
                <span class="date text-primary">{{ user.createdAt|date('d/m/Y') }}</span>
            </p>
        </div>
        {{ include('partials/user/_socials.html.twig') }}
    </div>
</div>
