{{ fos_httpcache_tag('block-user') }}
{{ fos_httpcache_tag(tags('user', user)) }}
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail">
        <img class="loading" height="115" width="115"
             alt="Photo de profil"
             src="{{ userProfilePicture.defaultProfilePicture('thumb_user_115') }}"
             data-src="{{ userProfilePicture.profilePicture(user, 'thumb_user_115') }}" />
        <div class="caption">
            <h3>
                <a class="thin" href="{{ path('app_user_details', {'id' : user.id, 'slug': user.slug}) }}">
                    {{ user.username[:22] }}
                </a>
            </h3>
            <p>Membre depuis le <span class="date text-primary">{{ user.createdAt|date('d/m/Y') }}</span></p>
            {% include "Social/user.html.twig" %}
        </div>
    </div>
</div>
