{% extends "layouts/default.html.twig" %}

{% set username = user.username|capitalize %}

{% block title username %}
{% block titre username %}

{% block head_js %}
    <script type="text/javascript">
        window.datas = {{ etablissements|json_encode()|raw }};
    </script>
{% endblock %}

{% block breadcrumb %}
    {% do menu.addItem("Membres", url('app_search_query', {'type' : 'membres'})) %}
    {% do menu.addItem(username, url('app_user_details', {'id' : user.id, 'slug': user.slug })) %}
{% endblock %}

{% set totalCount = count_participations + count_interets %}
{% block meta_description -%}
    {{ username }} participe ou est intéressé par {{ totalCount }} événement{{ totalCount > 1 ? "s" : "" }}.
{%- endblock %}

{% block body -%}
    {% set imageURL = userProfilePicture.profilePicture(user) %}
    <div class="row">
        <div class="col-md-3">
            <div class="card fiche_profil">
                <h2 class="card-header">Profil</h2>
                <div class="card-body text-center">
                    <img class="img img-fluid mx-auto" src="{{ imageURL }}" alt="{{ username }}" />
                    <br />
                    <div class="row">
                        <div class="col-6 preserve">
                            <strong class="number number-xbig">{{ count_participations }}</strong>
                            <span class="text-primary">participation{{ count_participations > 1 ? "s" : "" }}</span>
                        </div>
                        <div class="col-6 preserve">
                            <strong class="number number-xbig">{{ count_interets }}</strong>
                            <span class="text-primary">intérêt{{ count_interets > 1 ? "s" : "" }}</span>
                        </div>
                    </div>
                    <hr />
                    Membre depuis le
                    <strong class="number number-big">{{ user.createdAt.format('d/m/Y') }}</strong>
                    <br />

                    {% if user.description %}
                        <hr />
                        <p>
                            {{ user.description }}
                        </p>
                    {% endif %}

                    {% include "Social/user.html.twig" %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <ul class="nav nav-tabs nav-fill bg-white">
                    <li class="nav-item"><a class="nav-link" href="#passes">Passés</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#a-venir">A venir</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="a-venir">
                        <h3 class="card-header">Événéments à venir</h3>
                        <div class="card-body">
                            {% if not next_events|length %}
                                <div class="alert alert-info">
                                    <i class="fa fa-info-circle"></i>
                                    Aucun événement de prévu pour {{ username }} !
                                </div>
                            {% else %}
                                {% include "City/Event/block_preview_event.html.twig" with({'events' : next_events}) %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="passes">
                        <h3 class="card-header">Événéments passés</h3>
                        <div class="card-body">
                            {% if not previous_events|length %}
                                <div class="alert alert-info">
                                    <i class="fa fa-info-circle"></i>
                                    Aucun événement passé pour {{ username }} !
                                </div>
                            {% else %}
                                {% include "City/Event/block_preview_event.html.twig" with({'events' : previous_events}) %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card h-100">
                        <h3 class="card-header">Lieux fréquentés</h3>
                        <div class="card-body">
                            <div id="hero-donut" class="chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card h-100">
                        <ul class="nav nav-tabs nav-fill" id="chartsActivite">
                            <li class="nav-item" id="chartSemaine"><a class="nav-link" href="#semaine">Semaine</a></li>
                            <li class="nav-item" id="chartMois"><a class="nav-link"href="#mois">Mois</a></li>
                            <li class="nav-item" id="chartAnnee" ><a class="nav-link active" href="#annee">Année</a></li>
                        </ul>
                        <h3 class="card-header">Activité</h3>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="semaine">
                                    <div id="chart-semaine"
                                         class="chart"
                                         data-url="{{ path("app_user_stats", {'type': 'semaine', 'id' : user.id, 'slug': user.slug }) }}">
                                        <div class="text-center">
                                            <div class="spinner-grow spinner-grow-lg text-info" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="mois">
                                    <div id="chart-mois"
                                         class="chart"
                                         data-url="{{ path("app_user_stats", {'type': 'mois', 'id' : user.id, 'slug': user.slug }) }}">
                                        <div class="text-center">
                                            <div class="spinner-grow spinner-grow-lg text-success" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show active" id="annee">
                                    <div id="chart-annee"
                                         class="chart"
                                         data-url="{{ path("app_user_stats", {'type': 'annee', 'id' : user.id, 'slug': user.slug }) }}">
                                        <div class="text-center">
                                            <div class="spinner-grow spinner-grow-lg text-info" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{% block css -%}
    {{ encore_entry_link_tags('user') }}
{%- endblock %}

{% block js -%}
    {{ encore_entry_script_tags('user') }}
{%- endblock %}
